<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secondsForFreeDonuts</key>
	<integer>150</integer>
	<key>secondForFreeFuel</key>
	<integer>1800</integer>
	<key>freeDonutsPerShare</key>
	<integer>2</integer>
	<key>fti</key>
	<integer>20</integer>
	<key>mdl</key>
	<string>30</string>
	<key>fbcr</key>
	<string>7</string>
	<key>confirmationDelay</key>
	<real>3.5</real>
	<key>InterstitialParameters</key>
	<dict>
		<key>active</key>
		<false/>
		<key>maxDailyQuota</key>
		<integer>10</integer>
		<key>sellingCar</key>
		<dict>
			<key>mustBeGroups</key>
			<string>minLevel180,maxSpent5</string>
			<key>minSellingTimeHours</key>
			<integer>9</integer>
			<key>menuFrequency</key>
			<integer>10</integer>
		</dict>
		<key>secondSession</key>
		<dict>
			<key>mustBeGroups</key>
			<string>minLevel180,maxSpent5</string>
			<key>probability</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>tm</key>
	<false/>
	<key>spc</key>
	<integer>25</integer>
	<key>acs</key>
	<true/>
	<key>needDonutsShowUpgrade</key>
	<true/>
	<key>savedata_interval</key>
	<integer>5</integer>
	<key>treshold</key>
	<dict>
		<key>b</key>
		<integer>15</integer>
		<key>c</key>
		<integer>30</integer>
		<key>d</key>
		<integer>45</integer>
		<key>ref</key>
		<integer>6</integer>
		<key>twi</key>
		<integer>15</integer>
		<key>like</key>
		<integer>20</integer>
	</dict>
	<key>workerCraftingEnabled</key>
	<true/>
	<key>RewardedVideoParameters</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>rewardedVideosPerInterval</key>
		<integer>2</integer>
		<key>intervalInSeconds</key>
		<string>360</string>
		<key>consequence</key>
		<dict>
			<key>consequenceType</key>
			<string>positive</string>
			<key>eventToReport</key>
			<string>rewardedVideoGiftCollected</string>
			<key>ressources</key>
			<dict>
				<key>mysteryCardByIndex</key>
				<dict>
					<key>pool</key>
					<string>1,29,57,13,8,9,0,32,33,40,41,28,44,45,46,47,38,43,92,100,56,58,54,318,313,314,91,91,94,93,93,93,105,106,107,108,131,132,133,134,143,144,145,146,157,158,159,160,61,62,63,64</string>
					<key>amount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>fuseXPFactor</key>
	<real>0.3</real>
</dict>
</plist>
