<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mysteryCardsTemplateOffer</key>
	<dict>
		<key>name</key>
		<string>Offer</string>
		<key>lengthInHours</key>
		<integer>72</integer>
		<key>version</key>
		<string>1</string>
		<key>isActive</key>
		<true/>
		<key>forceOpen</key>
		<true/>
		<key>sprite</key>
		<array>
			<string>offer_mysterycards_empty.png</string>
		</array>
		<key>body</key>
		<array>
			<dict>
				<key>dynamicZone</key>
				<string>event:self:offerMysteryCards0</string>
			</dict>
		</array>
		<key>offerMysteryCards0</key>
		<array>
			<dict>
				<key>height</key>
				<integer>25</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array/>
			</dict>
			<dict>
				<key>height</key>
				<integer>122</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>specialOfferMystery0</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>7 Cards</string>
								<key>Gfx</key>
								<string>specialOfferMysteryCards.png</string>
								<key>product</key>
								<string>mobageSpecialOffer0</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>mysteryCard</key>
										<integer>7</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>specialOfferMystery2</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>45 Cards</string>
								<key>Gfx</key>
								<string>specialOfferMysteryCards.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>mysteryCard</key>
										<integer>45</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>offer_mysterycards_empty.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,147}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>line</key>
				<integer>0</integer>
				<key>timerText</key>
				<string>&amp;W</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>216,10,255,255</string>
				<key>shadowColor</key>
				<string>0,96,255,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{0,28}</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
