<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>powerPackTemplateOffer</key>
	<dict>
		<key>name</key>
		<string>Offer</string>
		<key>lengthInHours</key>
		<integer>48</integer>
		<key>version</key>
		<string>1</string>
		<key>isActive</key>
		<true/>
		<key>forceOpen</key>
		<true/>
		<key>sprite</key>
		<array>
			<string>offer_powerpack_empty.png</string>
		</array>
		<key>body</key>
		<array>
			<dict>
				<key>dynamicZone</key>
				<string>event:self:offerPowerPackTemplate</string>
			</dict>
		</array>
		<key>offerPowerPackTemplate</key>
		<array>
			<dict>
				<key>height</key>
				<integer>147</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array>
					<dict/>
					<dict/>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>offerPowerPackTemplate</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>  UNIQUE</string>
								<key>Gfx</key>
								<string>welcomeKitCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer1</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict/>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>offer_powerpack_empty.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,147}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>line</key>
				<integer>0</integer>
				<key>timerText</key>
				<string>&amp;W</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>216,10,255,255</string>
				<key>shadowColor</key>
				<string>0,96,255,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{110,28}</string>
			</dict>
			<dict>
				<key>text</key>
				<string>4000</string>
				<key>fontSize</key>
				<integer>24</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>shadowColor</key>
				<string>0,96,255,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{-115,165}</string>
			</dict>
			<dict>
				<key>text</key>
				<string>1500</string>
				<key>fontSize</key>
				<integer>24</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>shadowColor</key>
				<string>0,96,255,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{0,165}</string>
			</dict>
			<dict>
				<key>text</key>
				<string>-80%</string>
				<key>fontSize</key>
				<integer>30</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>255,0,0,255</string>
				<key>shadowColor</key>
				<string>255,255,255,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{110,130}</string>
			</dict>
			<dict>
				<key>text</key>
				<string>100</string>
				<key>fontSize</key>
				<integer>24</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>shadowColor</key>
				<string>0,96,255,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{0,45}</string>
			</dict>
			<dict>
				<key>text</key>
				<string>1700wf</string>
				<key>fontSize</key>
				<integer>16</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>shadowColor</key>
				<string>0,96,255,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{-115,35}</string>
			</dict>
			<dict>
				<key>text</key>
				<string>KING</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>shadowColor</key>
				<string>0,96,255,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{-115,20}</string>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>fatCheezCard.png</string>
						<key>buttonScale</key>
						<real>2.2</real>
						<key>buttonOffset</key>
						<string>{-115,90}</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
