<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemyWave</key>
	<array>
		<dict>
			<key>carSupport</key>
			<dict>
				<key>carIndex</key>
				<integer>109</integer>
				<key>stage</key>
				<integer>1</integer>
			</dict>
			<key>arenaGFX</key>
			<string>battleArena2.png</string>
			<key>title</key>
			<string>WTF DUNGEON</string>
			<key>localizedTitle</key>
			<string>lbl_battle_data_enemy_wave_wtf_dungeon</string>
			<key>teamB</key>
			<array>
				<dict>
					<key>monsterPoolName</key>
					<string>bonusMaximus</string>
				</dict>
				<dict>
					<key>monsterPoolName</key>
					<string>bonusMaximus</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>enemyWave_</key>
	<array>
		<dict>
			<key>carSupport</key>
			<dict>
				<key>carIndex</key>
				<integer>109</integer>
				<key>stage</key>
				<integer>1</integer>
			</dict>
			<key>arenaGFX</key>
			<string>battleArena2.png</string>
			<key>title</key>
			<string>WTF DUNGEON</string>
			<key>localizedTitle</key>
			<string>lbl_battle_data_enemy_wave_wtf_dungeon</string>
			<key>teamB</key>
			<array>
				<dict>
					<key>monsterPoolName</key>
					<string>bonusMaximus</string>
				</dict>
				<dict>
					<key>monsterPoolName</key>
					<string>bonusMaximus</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>carSupport</key>
			<dict>
				<key>carIndex</key>
				<integer>146</integer>
				<key>stage</key>
				<integer>1</integer>
			</dict>
			<key>messageToDisplay_</key>
			<dict>
				<key>name</key>
				<string>Update</string>
				<key>localizedName</key>
				<string>lbl_battle_data_enemy_wave_update</string>
				<key>isActive</key>
				<true/>
				<key>forceOpen</key>
				<true/>
				<key>body</key>
				<array>
					<dict>
						<key>disableCloseButton</key>
						<true/>
					</dict>
					<dict>
						<key>disableScrolling</key>
						<true/>
					</dict>
					<dict>
						<key>text</key>
						<string>THE DOJO !</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_the_dojo</string>
						<key>line</key>
						<real>1</real>
						<key>fontSize</key>
						<integer>16</integer>
						<key>bgColor</key>
						<string>255,255,255,255</string>
						<key>textColor</key>
						<string>40,139,220</string>
						<key>shadowColor</key>
						<string>6,76,134,40</string>
						<key>alignment</key>
						<string>center</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Get ready to rumble and restaff your donuts !!!</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_get_ready</string>
						<key>line</key>
						<integer>3</integer>
						<key>bgColor</key>
						<string>0,16,43,255</string>
					</dict>
					<dict>
						<key>height</key>
						<integer>30</integer>
						<key>buttonPool</key>
						<array>
							<dict>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>donuts</key>
										<integer>50</integer>
									</dict>
								</dict>
								<key>buttonText</key>
								<string>Free Donuts</string>
								<key>localizedButtonText</key>
								<string>lbl_battle_data_enemy_wave_free_donuts</string>
								<key>buttonScale</key>
								<real>1.5</real>
								<key>buttonImageName</key>
								<string>greenButton.png</string>
								<key>buttonAction</key>
								<string>applyConsequence</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>faq</key>
				<array>
					<dict>
						<key>text</key>
						<string>FREQUENT QUESTIONS</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_message_faq_faq</string>
						<key>line</key>
						<real>1</real>
						<key>fontSize</key>
						<integer>16</integer>
						<key>bgColor</key>
						<string>255,255,255,255</string>
						<key>textColor</key>
						<string>40,139,220</string>
						<key>shadowColor</key>
						<string>6,76,134,40</string>
						<key>alignment</key>
						<string>center</string>
					</dict>
					<dict>
						<key>text</key>
						<string>1. Will I keep all my progress ?</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_message_faq_keep_progress</string>
						<key>line</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>10</integer>
						<key>bgColor</key>
						<string>40,139,220,0</string>
						<key>textColor</key>
						<string>255,255,255</string>
						<key>shadowColor</key>
						<string>0,0,0,200</string>
						<key>alignment</key>
						<string>left</string>
					</dict>
					<dict>
						<key>text</key>
						<string>YES, if you &amp;Gsaved on the &amp;Gcloud first. Your data will be transferred at the moment you press the migration button on the new version.</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_message_faq_if_you_saved_ont_the_cloud</string>
						<key>line</key>
						<integer>3</integer>
						<key>fontSize</key>
						<integer>8</integer>
						<key>bgColor</key>
						<string>0,0,0,100</string>
						<key>textColor</key>
						<string>255,255,255</string>
						<key>shadowColor</key>
						<string>0,0,0,200</string>
						<key>alignment</key>
						<string>left</string>
					</dict>
					<dict>
						<key>verticalSpace</key>
						<integer>10</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>2. Do I need to erase this version ?</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_message_faq_do_i_need_to_erase</string>
						<key>line</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>10</integer>
						<key>bgColor</key>
						<string>40,139,220,0</string>
						<key>textColor</key>
						<string>255,255,255</string>
						<key>shadowColor</key>
						<string>0,0,0,200</string>
						<key>alignment</key>
						<string>left</string>
					</dict>
					<dict>
						<key>text</key>
						<string>YES after you migrated, this version will be &amp;Robsolete</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_message_faq_yes_after_you_migrated</string>
						<key>line</key>
						<integer>2</integer>
						<key>fontSize</key>
						<integer>8</integer>
						<key>bgColor</key>
						<string>0,0,0,100</string>
						<key>textColor</key>
						<string>255,255,255</string>
						<key>shadowColor</key>
						<string>0,0,0,200</string>
						<key>alignment</key>
						<string>left</string>
					</dict>
					<dict>
						<key>verticalSpace</key>
						<integer>10</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>3. What is Mobage ?</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_message_faq_what_is_mobage</string>
						<key>line</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>10</integer>
						<key>bgColor</key>
						<string>40,139,220,0</string>
						<key>textColor</key>
						<string>255,255,255</string>
						<key>shadowColor</key>
						<string>0,0,0,200</string>
						<key>alignment</key>
						<string>left</string>
					</dict>
					<dict>
						<key>text</key>
						<string>&amp;BMobage is a powerful &amp;Gsocial &amp;Gnetwork that lets you connect with other gamers on your mobile. It offers many new possibilities that weren&apos;t possible before !!!</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_message_faq_mobage_is_a_powerfull_sn</string>
						<key>line</key>
						<integer>3</integer>
						<key>fontSize</key>
						<integer>8</integer>
						<key>bgColor</key>
						<string>0,0,0,100</string>
						<key>textColor</key>
						<string>255,255,255</string>
						<key>shadowColor</key>
						<string>0,0,0,200</string>
						<key>alignment</key>
						<string>left</string>
					</dict>
					<dict>
						<key>verticalSpace</key>
						<integer>10</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>4. Why is the update a separate version ?</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_message_faq_why_is_the_update</string>
						<key>line</key>
						<integer>2</integer>
						<key>fontSize</key>
						<integer>10</integer>
						<key>bgColor</key>
						<string>40,139,220,0</string>
						<key>textColor</key>
						<string>255,255,255</string>
						<key>shadowColor</key>
						<string>0,0,0,200</string>
						<key>alignment</key>
						<string>left</string>
					</dict>
					<dict>
						<key>text</key>
						<string>The game is now published by &amp;BMobage the leading mobile gaming social network. &amp;GNew &amp;Gpublisher = &amp;GNew &amp;Gversion :) As simple as that !</string>
						<key>localizedText</key>
						<string>lbl_battle_data_enemy_wave_message_faq_the_game_is_now_published</string>
						<key>line</key>
						<integer>3</integer>
						<key>fontSize</key>
						<integer>8</integer>
						<key>bgColor</key>
						<string>0,0,0,100</string>
						<key>textColor</key>
						<string>255,255,255</string>
						<key>shadowColor</key>
						<string>0,0,0,200</string>
						<key>alignment</key>
						<string>left</string>
					</dict>
					<dict>
						<key>height</key>
						<integer>30</integer>
						<key>buttonPool</key>
						<array>
							<dict>
								<key>buttonText</key>
								<string>back</string>
								<key>localizedText</key>
								<string>lbl_battle_data_enemy_wave_message_faq_back</string>
								<key>buttonScale</key>
								<real>1.2</real>
								<key>buttonImageName</key>
								<string>greenButton.png</string>
								<key>buttonAction</key>
								<string>openPage:body</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>donuts</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>arenaGFX</key>
			<string>battleArena1.png</string>
			<key>teamB</key>
			<array>
				<dict>
					<key>name</key>
					<string>Bonus Maximus</string>
					<key>localizedName</key>
					<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
					<key>WorkerModel</key>
					<string>Gladiator</string>
					<key>localizedWorkerModel</key>
					<string>lbl_monster_data_model_gladiator</string>
					<key>level</key>
					<integer>1</integer>
					<key>workerIndex</key>
					<integer>0</integer>
					<key>curStamina</key>
					<integer>500</integer>
					<key>stamina</key>
					<integer>500</integer>
					<key>curXp</key>
					<integer>0</integer>
					<key>Price</key>
					<array>
						<dict>
							<key>PriceInCash</key>
							<integer>69</integer>
						</dict>
					</array>
					<key>workerModelData</key>
					<dict>
						<key>Name</key>
						<string>Bonus Maximus</string>
						<key>localizedName</key>
						<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
						<key>infoText</key>
						<string>This actor was interned in an &amp;Rasylum after being ranked 301st on a casting. He &amp;Obroken &amp;Obad and pushed the producer into a deep hole.</string>
						<key>localizedInfoText</key>
						<string>lbl_battle_area_enemy_wave_team_b_this_actor_was_interned</string>
						<key>qualityMin</key>
						<integer>160</integer>
						<key>qualityMax</key>
						<integer>210</integer>
						<key>speedMin</key>
						<integer>110</integer>
						<key>speedMax</key>
						<integer>210</integer>
						<key>wpMin</key>
						<integer>500</integer>
						<key>wpMax</key>
						<integer>950</integer>
						<key>staminaMin</key>
						<integer>500</integer>
						<key>staminaMax</key>
						<integer>750</integer>
						<key>strong</key>
						<array>
							<string>2:3:2.5f:3:3.5f</string>
							<string>75:3:2.5f:3:3.5f</string>
							<string>88:2.5f:2:2:1.5f</string>
							<string>138:2:2.5f:1.5f:2</string>
							<string>142:2.5f:1.5f:2:2</string>
							<string>chest:2.5f:3:3:3.5f</string>
						</array>
					</dict>
					<key>spriteDic</key>
					<dict>
						<key>name</key>
						<string>Bonus Maximus</string>
						<key>localizedName</key>
						<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
						<key>race</key>
						<string>Gladiator</string>
						<key>sex</key>
						<string>male</string>
						<key>helmetOffset</key>
						<string>{-2,0}</string>
						<key>onlineHelmet</key>
						<string>spartanHat.png</string>
						<key>onlineHammer</key>
						<string>spartanHammer.png</string>
						<key>onlineLeftArm</key>
						<string>spartanLeftArm.png</string>
						<key>leftArmOffset</key>
						<string>{0,0}</string>
						<key>onlineRightArm</key>
						<string>spartanRightArm.png</string>
						<key>rightArmOffset</key>
						<string>{0,6}</string>
						<key>body</key>
						<dict>
							<key>imageName</key>
							<string>spartanUpperBody.png</string>
							<key>offset</key>
							<string>{-3,-2}</string>
						</dict>
						<key>legs</key>
						<dict>
							<key>imageName</key>
							<string>spartanLeg.png</string>
							<key>offset</key>
							<string>{-1,0}</string>
							<key>partSelected</key>
							<integer>2</integer>
						</dict>
					</dict>
					<key>workerModificator</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Snoop Dragon</string>
					<key>localizedName</key>
					<string>lbl_battle_area_enemy_wave_team_b_snoop_dragon</string>
					<key>WorkerModel</key>
					<string>Monster</string>
					<key>localizedWorkerModel</key>
					<string>lbl_monster_data_model_monster</string>
					<key>level</key>
					<integer>1</integer>
					<key>workerIndex</key>
					<integer>0</integer>
					<key>curStamina</key>
					<integer>1450</integer>
					<key>stamina</key>
					<integer>1450</integer>
					<key>curXp</key>
					<integer>0</integer>
					<key>Price</key>
					<array>
						<dict>
							<key>PriceInCash</key>
							<integer>879</integer>
						</dict>
					</array>
					<key>workerModelData</key>
					<dict>
						<key>Name</key>
						<string>Snoop Dragon</string>
						<key>localizedName</key>
						<string>lbl_battle_area_enemy_wave_team_b_snoop_dragon</string>
						<key>infoText</key>
						<string>Contrary to most of dragons that sleep on their &amp;Ygold, Snoop Dragon is burning all his money in &amp;Rluxury &amp;Rcars and &amp;Ooverpriced &amp;Ojewels.</string>
						<key>localizedInfoText</key>
						<string>lbl_battle_area_enemy_wave_team_b_contrary_to_most_of_dragons</string>
						<key>qualityMin</key>
						<integer>275</integer>
						<key>qualityMax</key>
						<integer>325</integer>
						<key>speedMin</key>
						<integer>250</integer>
						<key>speedMax</key>
						<integer>300</integer>
						<key>wpMin</key>
						<real>1500</real>
						<key>wpMax</key>
						<integer>2100</integer>
						<key>staminaMin</key>
						<integer>1450</integer>
						<key>staminaMax</key>
						<integer>1900</integer>
						<key>strong</key>
						<array>
							<string>75:4:4:4.5f:3.5f</string>
							<string>88:3:3.5f:2.5f:3</string>
							<string>138:3.5f:3:2.5f:3</string>
							<string>142:2.5f:3:3:3.5f</string>
							<string>chest:3.5f:4:4:4.5f</string>
						</array>
					</dict>
					<key>spriteDic</key>
					<dict>
						<key>name</key>
						<string>Snoop Dragon</string>
						<key>localizedName</key>
						<string>lbl_battle_area_enemy_wave_team_b_snoop_dragon</string>
						<key>race</key>
						<string>Monster</string>
						<key>sex</key>
						<string>male</string>
						<key>helmetOffset</key>
						<string>{8.5f,9.5f}</string>
						<key>onlineHelmet</key>
						<string>dragonHat.png</string>
						<key>onlineHammer</key>
						<string>dragonHammer.png</string>
						<key>onlineLeftArm</key>
						<string>dragonLeftArm.png</string>
						<key>leftArmOffset</key>
						<string>{0,13}</string>
						<key>onlineRightArm</key>
						<string>dragonRightArm.png</string>
						<key>rightArmOffset</key>
						<string>{0,13}</string>
						<key>body</key>
						<dict>
							<key>imageName</key>
							<string>dragonUpperBody.png</string>
							<key>offset</key>
							<string>{-8,1}</string>
						</dict>
						<key>legs</key>
						<dict>
							<key>imageName</key>
							<string>dragonLeg.png</string>
							<key>offset</key>
							<string>{0,0}</string>
							<key>partSelected</key>
							<integer>2</integer>
						</dict>
					</dict>
					<key>workerModificator</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Masta Chef</string>
					<key>localizedName</key>
					<string>lbl_battle_area_enemy_wave_team_b_masta_chef</string>
					<key>WorkerModel</key>
					<string>War Cook</string>
					<key>localizedWorkerModel</key>
					<string>lbl_monster_data_model_war_cook</string>
					<key>level</key>
					<integer>1</integer>
					<key>workerIndex</key>
					<integer>0</integer>
					<key>curStamina</key>
					<integer>500</integer>
					<key>stamina</key>
					<integer>500</integer>
					<key>curXp</key>
					<integer>0</integer>
					<key>Price</key>
					<array>
						<dict>
							<key>PriceInCash</key>
							<integer>319</integer>
						</dict>
					</array>
					<key>workerModelData</key>
					<dict>
						<key>Name</key>
						<string>Masta Chef</string>
						<key>localizedname</key>
						<string>lbl_battle_area_enemy_wave_team_b_masta_chef</string>
						<key>infoText</key>
						<string>Masta Chef never travel to a &amp;Bplanet at war without bringing back &amp;Olocal &amp;Ospecialities.</string>
						<key>localizedInfoText</key>
						<string>lbl_battle_area_enemy_wave_team_b_masta_chef_never_travel</string>
						<key>qualityMin</key>
						<integer>160</integer>
						<key>qualityMax</key>
						<integer>210</integer>
						<key>speedMin</key>
						<integer>600</integer>
						<key>speedMax</key>
						<integer>1100</integer>
						<key>wpMin</key>
						<integer>650</integer>
						<key>wpMax</key>
						<integer>1300</integer>
						<key>staminaMin</key>
						<integer>500</integer>
						<key>staminaMax</key>
						<integer>1000</integer>
						<key>strong</key>
						<array>
							<string>75:2.5f:3:3:3.5f</string>
							<string>88:3:2.5f:3.5f:3</string>
							<string>138:3:2.5f:3.5f:3</string>
							<string>142:2:2.5f:1.5f:2</string>
							<string>chest:2:1.5f:2:2.5f</string>
						</array>
					</dict>
					<key>spriteDic</key>
					<dict>
						<key>name</key>
						<string>Masta Chef</string>
						<key>localizedName</key>
						<string>lbl_battle_area_enemy_wave_team_b_masta_chef</string>
						<key>race</key>
						<string>War Cook</string>
						<key>sex</key>
						<string>male</string>
						<key>helmetOffset</key>
						<string>{-2,2}</string>
						<key>onlineHelmet</key>
						<string>masterChefHat.png</string>
						<key>onlineHammer</key>
						<string>masterChefHammer.png</string>
						<key>onlineLeftArm</key>
						<string>masterChefLeftArm.png</string>
						<key>leftArmOffset</key>
						<string>{0,0}</string>
						<key>onlineRightArm</key>
						<string>masterChefRightArm.png</string>
						<key>rightArmOffset</key>
						<string>{0,1}</string>
						<key>body</key>
						<dict>
							<key>imageName</key>
							<string>masterChefUpperBody.png</string>
							<key>offset</key>
							<string>{0,1}</string>
						</dict>
						<key>legs</key>
						<dict>
							<key>imageName</key>
							<string>masterChefLeg.png</string>
							<key>offset</key>
							<string>{0,0}</string>
							<key>partSelected</key>
							<integer>2</integer>
						</dict>
					</dict>
					<key>workerModificator</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>arenaGFX</key>
			<string>battleArena2.png</string>
			<key>title</key>
			<string>BOSS</string>
			<key>localizedTitle</key>
			<string>lbl_battle_area_enemy_wave_boss</string>
			<key>teamB</key>
			<array>
				<dict>
					<key>delayRound</key>
					<integer>2</integer>
					<key>scale</key>
					<real>1.5</real>
					<key>monsterPoolName</key>
					<string>twerkMachine</string>
				</dict>
				<dict>
					<key>delayRound</key>
					<integer>2</integer>
					<key>scale</key>
					<integer>2</integer>
					<key>monsterPoolName</key>
					<string>timeMonster</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Redneck Bayou</string>
					<key>localizedName</key>
					<string>lbl_battle_area_enemy_wave_team_b_redneck</string>
					<key>WorkerModel</key>
					<string>Survivor</string>
					<key>localizedWorkerModel</key>
					<string>lbl_monster_data_model_survivor</string>
					<key>level</key>
					<integer>1</integer>
					<key>workerIndex</key>
					<integer>0</integer>
					<key>curStamina</key>
					<integer>1400</integer>
					<key>stamina</key>
					<integer>1400</integer>
					<key>curXp</key>
					<integer>0</integer>
					<key>Price</key>
					<array>
						<dict>
							<key>PriceInCash</key>
							<integer>899</integer>
						</dict>
					</array>
					<key>workerModelData</key>
					<dict>
						<key>Name</key>
						<string>Survivor</string>
						<key>localizedName</key>
						<string>lbl_monster_data_model_survivor</string>
						<key>infoText</key>
						<string>There is a picture of him in the dictionary at the definition of &quot;badass&quot;.</string>
						<key>localizedInfoText</key>
						<string>lbl_battle_area_enemy_wave_team_b_there_is_a_picture_of_him</string>
						<key>qualityMin</key>
						<integer>200</integer>
						<key>qualityMax</key>
						<integer>400</integer>
						<key>speedMin</key>
						<integer>250</integer>
						<key>speedMax</key>
						<integer>450</integer>
						<key>wpMin</key>
						<integer>1500</integer>
						<key>wpMax</key>
						<integer>3600</integer>
						<key>staminaMin</key>
						<integer>1400</integer>
						<key>staminaMax</key>
						<integer>3800</integer>
						<key>strong</key>
						<array>
							<string>105:3:2:2:2</string>
							<string>106:2:2:2:3</string>
							<string>107:4:5:4:4</string>
							<string>108:2:2:3:2</string>
							<string>109:4:3:4:3</string>
						</array>
					</dict>
					<key>spriteDic</key>
					<dict>
						<key>name</key>
						<string>Redneck Bayou</string>
						<key>localizedName</key>
						<string>lbl_battle_area_enemy_wave_team_b_redneck</string>
						<key>race</key>
						<string>Survivor</string>
						<key>sex</key>
						<string>male</string>
						<key>helmetOffset</key>
						<string>{0,2}</string>
						<key>onlineHelmet</key>
						<string>redneckBayouHat.png</string>
						<key>onlineHammer</key>
						<string>redneckBayouHammer.png</string>
						<key>onlineLeftArm</key>
						<string>redneckBayouLeftArm.png</string>
						<key>leftArmOffset</key>
						<string>{0.5f,3}</string>
						<key>onlineRightArm</key>
						<string>redneckBayouRightArm.png</string>
						<key>rightArmOffset</key>
						<string>{0,3}</string>
						<key>body</key>
						<dict>
							<key>imageName</key>
							<string>redneckBayouUpperBody.png</string>
							<key>offset</key>
							<string>{0,2}</string>
						</dict>
						<key>legs</key>
						<dict>
							<key>imageName</key>
							<string>redneckBayouLeg.png</string>
							<key>offset</key>
							<string>{0,0}</string>
							<key>partSelected</key>
							<integer>2</integer>
						</dict>
					</dict>
					<key>workerModificator</key>
					<array/>
				</dict>
				<dict>
					<key>scale</key>
					<real>1.5</real>
					<key>monsterPoolName</key>
					<string>twerkMachine</string>
				</dict>
				<dict>
					<key>scale</key>
					<real>1.5</real>
					<key>monsterPoolName</key>
					<string>twerkMachine</string>
				</dict>
				<dict>
					<key>scale</key>
					<real>1.5</real>
					<key>monsterPoolName</key>
					<string>twerkMachine</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>arenaGFX</key>
			<string>battleArena2.png</string>
			<key>title</key>
			<string>BOSS</string>
			<key>localizedTitle</key>
			<string>lbl_battle_area_enemy_wave_boss</string>
			<key>teamB</key>
			<array>
				<dict>
					<key>scale</key>
					<integer>1</integer>
					<key>monsterPoolName</key>
					<string>greenDevilSpirit</string>
				</dict>
				<dict>
					<key>scale</key>
					<integer>2</integer>
					<key>monsterPoolName</key>
					<string>greenDevilSpirit</string>
				</dict>
				<dict>
					<key>scale</key>
					<integer>1</integer>
					<key>monsterPoolName</key>
					<string>greenDevilSpirit</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>winMessageToDisplay</key>
	<dict>
		<key>name</key>
		<string>Update</string>
		<key>localizedName</key>
		<string>lbl_battle_data_enemy_wave_update</string>
		<key>isActive</key>
		<true/>
		<key>forceOpen</key>
		<true/>
		<key>body</key>
		<array>
			<dict>
				<key>text</key>
				<string>YOU WIN !!</string>
				<key>localizedText</key>
				<string>lbl_battle_data_win_message_to_display_you_win</string>
				<key>line</key>
				<real>1</real>
				<key>fontSize</key>
				<integer>16</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>textColor</key>
				<string>40,139,220</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>text</key>
				<string>You completed this dungeon !</string>
				<key>localizedText</key>
				<string>lbl_battle_data_win_message_to_display_you_complited</string>
				<key>line</key>
				<integer>3</integer>
				<key>bgColor</key>
				<string>0,16,43,255</string>
			</dict>
			<dict>
				<key>height</key>
				<integer>30</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>consequence</key>
						<dict>
							<key>consequenceType</key>
							<string>positive</string>
							<key>ressources</key>
							<dict>
								<key>donuts</key>
								<integer>50</integer>
							</dict>
						</dict>
						<key>buttonText</key>
						<string>Free Donuts</string>
						<key>localizedButtonText</key>
						<string>lbl_battle_data_enemy_wave_free_donuts</string>
						<key>buttonScale</key>
						<real>1.5</real>
						<key>buttonImageName</key>
						<string>greenButton.png</string>
						<key>buttonAction</key>
						<string>exitDungeon</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>teamA</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bonus Maximus</string>
			<key>localizedName</key>
			<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
			<key>WorkerModel</key>
			<string>Gladiator</string>
			<key>localizedWorkerModel</key>
			<string>lbl_monster_data_model_gladiator</string>
			<key>level</key>
			<integer>1</integer>
			<key>workerIndex</key>
			<integer>0</integer>
			<key>curStamina</key>
			<integer>500</integer>
			<key>stamina</key>
			<integer>500</integer>
			<key>curXp</key>
			<integer>0</integer>
			<key>Price</key>
			<array>
				<dict>
					<key>PriceInCash</key>
					<integer>69</integer>
				</dict>
			</array>
			<key>workerModelData</key>
			<dict>
				<key>Name</key>
				<string>Bonus Maximus</string>
				<key>localizedName</key>
				<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
				<key>infoText</key>
				<string>This actor was interned in an &amp;Rasylum after being ranked 301st on a casting. He &amp;Obroken &amp;Obad and pushed the producer into a deep hole.</string>
				<key>localizedInfoText</key>
				<string>lbl_battle_area_enemy_wave_team_b_this_actor_was_interned</string>
				<key>qualityMin</key>
				<integer>160</integer>
				<key>qualityMax</key>
				<integer>210</integer>
				<key>speedMin</key>
				<integer>110</integer>
				<key>speedMax</key>
				<integer>210</integer>
				<key>wpMin</key>
				<integer>500</integer>
				<key>wpMax</key>
				<integer>950</integer>
				<key>staminaMin</key>
				<integer>500</integer>
				<key>staminaMax</key>
				<integer>750</integer>
				<key>strong</key>
				<array>
					<string>2:3:2.5f:3:3.5f</string>
					<string>75:3:2.5f:3:3.5f</string>
					<string>88:2.5f:2:2:1.5f</string>
					<string>138:2:2.5f:1.5f:2</string>
					<string>142:2.5f:1.5f:2:2</string>
					<string>chest:2.5f:3:3:3.5f</string>
				</array>
			</dict>
			<key>spriteDic</key>
			<dict>
				<key>name</key>
				<string>Bonus Maximus</string>
				<key>localizedName</key>
				<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
				<key>race</key>
				<string>Gladiator</string>
				<key>sex</key>
				<string>male</string>
				<key>helmetOffset</key>
				<string>{-2,0}</string>
				<key>onlineHelmet</key>
				<string>spartanHat.png</string>
				<key>onlineHammer</key>
				<string>spartanHammer.png</string>
				<key>onlineLeftArm</key>
				<string>spartanLeftArm.png</string>
				<key>leftArmOffset</key>
				<string>{0,0}</string>
				<key>onlineRightArm</key>
				<string>spartanRightArm.png</string>
				<key>rightArmOffset</key>
				<string>{0,6}</string>
				<key>body</key>
				<dict>
					<key>imageName</key>
					<string>spartanUpperBody.png</string>
					<key>offset</key>
					<string>{-3,-2}</string>
				</dict>
				<key>legs</key>
				<dict>
					<key>imageName</key>
					<string>spartanLeg.png</string>
					<key>offset</key>
					<string>{-1,0}</string>
					<key>partSelected</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>workerModificator</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>Twerk Machine</string>
			<key>localizedName</key>
			<string>lbl_battle_arena_team_a_twerk_machine</string>
			<key>WorkerModel</key>
			<string>Mecha</string>
			<key>localizedWorkerModel</key>
			<string>lbl_monster_data_model_mecha</string>
			<key>level</key>
			<integer>1</integer>
			<key>workerIndex</key>
			<integer>0</integer>
			<key>curStamina</key>
			<integer>1500</integer>
			<key>stamina</key>
			<integer>1500</integer>
			<key>curXp</key>
			<integer>0</integer>
			<key>Price</key>
			<array>
				<dict>
					<key>PriceInCash</key>
					<integer>9999</integer>
				</dict>
			</array>
			<key>workerModelData</key>
			<dict>
				<key>Name</key>
				<string>Twerk Machine</string>
				<key>localizedName</key>
				<string>lbl_battle_arena_team_a_twerk_machine</string>
				<key>infoText</key>
				<string>Due to &amp;Omanufacturing &amp;Odefect, this robot is unable to work without &amp;Ptwerking, but this increases your &amp;GSWAG by 247%.</string>
				<key>localizedInfoText</key>
				<string>lbl_battle_arena_team_a_due_to_manufacturing_defect</string>
				<key>qualityMin</key>
				<integer>400</integer>
				<key>qualityMax</key>
				<integer>600</integer>
				<key>speedMin</key>
				<integer>500</integer>
				<key>speedMax</key>
				<integer>700</integer>
				<key>wpMin</key>
				<real>2000</real>
				<key>wpMax</key>
				<integer>3000</integer>
				<key>staminaMin</key>
				<integer>1500</integer>
				<key>staminaMax</key>
				<integer>3000</integer>
				<key>strong</key>
				<array>
					<string>75:3:3.5f:3:2.5f</string>
					<string>88:3.5f:3:3:2.5f</string>
					<string>138:4.5f:4:3.5f:4</string>
					<string>142:4:3.5f:4:4.5f</string>
					<string>chest:3.5f:4:4:4.5f</string>
				</array>
			</dict>
			<key>spriteDic</key>
			<dict>
				<key>name</key>
				<string>Twerk Machine</string>
				<key>localizedName</key>
				<string>lbl_battle_arena_team_a_twerk_machine</string>
				<key>race</key>
				<string>Mecha</string>
				<key>sex</key>
				<string>male</string>
				<key>helmetOffset</key>
				<string>{2,-3}</string>
				<key>onlineHelmet</key>
				<string>mechaHat.png</string>
				<key>onlineHammer</key>
				<string>mechaHammer.png</string>
				<key>onlineLeftArm</key>
				<string>mechaLeftArm.png</string>
				<key>leftArmOffset</key>
				<string>{0,9}</string>
				<key>onlineRightArm</key>
				<string>mechaRightArm.png</string>
				<key>rightArmOffset</key>
				<string>{0,9}</string>
				<key>body</key>
				<dict>
					<key>imageName</key>
					<string>mechaUpperBody.png</string>
					<key>offset</key>
					<string>{-4,-1}</string>
				</dict>
				<key>legs</key>
				<dict>
					<key>imageName</key>
					<string>mechaLeg.png</string>
					<key>offset</key>
					<string>{0,0}</string>
					<key>partSelected</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>workerModificator</key>
			<array/>
		</dict>
		<dict>
			<key>workerModelData</key>
			<dict>
				<key>wpMax</key>
				<integer>4000</integer>
				<key>qualityMin</key>
				<integer>250</integer>
				<key>Name</key>
				<string>Time Monster</string>
				<key>localizedName</key>
				<string>lbl_battle_arena_team_a_monster</string>
				<key>staminaMax</key>
				<integer>5000</integer>
				<key>speedMin</key>
				<integer>1000</integer>
				<key>infoText</key>
				<string>High on the power of Donuts the Time Monster has eaten thousand of people donuts when they changed their clock.</string>
				<key>localizedInfoText</key>
				<string>lbl_battle_arena_team_a_high_on_the_power</string>
				<key>speedMax</key>
				<integer>1500</integer>
				<key>qualityMax</key>
				<integer>300</integer>
				<key>wpMin</key>
				<integer>2500</integer>
				<key>staminaMin</key>
				<integer>3000</integer>
				<key>strong</key>
				<array>
					<string>93:3:3:4:4</string>
					<string>chest:2:2:1:2</string>
				</array>
			</dict>
			<key>Price</key>
			<array>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>9999</integer>
				</dict>
			</array>
			<key>curStamina</key>
			<integer>2200</integer>
			<key>curXp</key>
			<integer>0</integer>
			<key>spriteDic</key>
			<dict>
				<key>race</key>
				<string>Event</string>
				<key>sex</key>
				<string>male</string>
				<key>helmetOffset</key>
				<string>{2,9}</string>
				<key>onlineHelmet</key>
				<string>workerTimeMonsterHelmet.png</string>
				<key>onlineLeftArm</key>
				<string>workerTimeMonsterLeftArm.png</string>
				<key>onlineRightArm</key>
				<string>workerTimeMonsterRightArm.png</string>
				<key>hammer</key>
				<string>workerHammer.png</string>
				<key>body</key>
				<dict>
					<key>offset</key>
					<string>{-4,0}</string>
					<key>imageName</key>
					<string>workerTimeMonsterFullBody.png</string>
				</dict>
				<key>legs</key>
				<dict>
					<key>partSelected</key>
					<integer>2</integer>
					<key>offset</key>
					<string>{0,0}</string>
					<key>imageName</key>
					<string>timeMonsterLeg.png</string>
				</dict>
				<key>name</key>
				<string>Time Monster</string>
				<key>localizedName</key>
				<string>lbl_battle_arena_team_a_monster</string>
				<key>shoes</key>
				<dict>
					<key>partSelected</key>
					<integer>3</integer>
					<key>offset</key>
					<string>{0,0}</string>
					<key>imageName</key>
					<string>timeMonsterShoe.png</string>
				</dict>
			</dict>
			<key>WorkerModel</key>
			<string>Monster</string>
			<key>localizedWorkerModel</key>
			<string>lbl_monster_data_model_monster</string>
			<key>stamina</key>
			<integer>2200</integer>
			<key>level</key>
			<integer>1</integer>
			<key>workerModificator</key>
			<array/>
			<key>workerIndex</key>
			<integer>0</integer>
			<key>name</key>
			<string>Time Monster</string>
			<key>localizedName</key>
			<string>lbl_battle_arena_team_a_monster</string>
		</dict>
		<dict>
			<key>delayRound</key>
			<integer>4</integer>
			<key>monsterPoolName</key>
			<string>goldenMonster</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bonus Maximus</string>
			<key>localizedName</key>
			<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
			<key>WorkerModel</key>
			<string>Gladiator</string>
			<key>localizedWorkerModel</key>
			<string>lbl_monster_data_model_gladiator</string>
			<key>level</key>
			<integer>1</integer>
			<key>workerIndex</key>
			<integer>0</integer>
			<key>curStamina</key>
			<integer>500</integer>
			<key>stamina</key>
			<integer>500</integer>
			<key>curXp</key>
			<integer>0</integer>
			<key>Price</key>
			<array>
				<dict>
					<key>PriceInCash</key>
					<integer>69</integer>
				</dict>
			</array>
			<key>workerModelData</key>
			<dict>
				<key>Name</key>
				<string>Bonus Maximus</string>
				<key>localizedName</key>
				<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
				<key>infoText</key>
				<string>This actor was interned in an &amp;Rasylum after being ranked 301st on a casting. He &amp;Obroken &amp;Obad and pushed the producer into a deep hole.</string>
				<key>localizedInfoText</key>
				<string>lbl_battle_area_enemy_wave_team_b_this_actor_was_interned</string>
				<key>qualityMin</key>
				<integer>160</integer>
				<key>qualityMax</key>
				<integer>210</integer>
				<key>speedMin</key>
				<integer>110</integer>
				<key>speedMax</key>
				<integer>210</integer>
				<key>wpMin</key>
				<integer>500</integer>
				<key>wpMax</key>
				<integer>950</integer>
				<key>staminaMin</key>
				<integer>500</integer>
				<key>staminaMax</key>
				<integer>750</integer>
				<key>strong</key>
				<array>
					<string>2:3:2.5f:3:3.5f</string>
					<string>75:3:2.5f:3:3.5f</string>
					<string>88:2.5f:2:2:1.5f</string>
					<string>138:2:2.5f:1.5f:2</string>
					<string>142:2.5f:1.5f:2:2</string>
					<string>chest:2.5f:3:3:3.5f</string>
				</array>
			</dict>
			<key>spriteDic</key>
			<dict>
				<key>name</key>
				<string>Bonus Maximus</string>
				<key>localizedName</key>
				<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
				<key>race</key>
				<string>Gladiator</string>
				<key>sex</key>
				<string>male</string>
				<key>helmetOffset</key>
				<string>{-2,0}</string>
				<key>onlineHelmet</key>
				<string>spartanHat.png</string>
				<key>onlineHammer</key>
				<string>spartanHammer.png</string>
				<key>onlineLeftArm</key>
				<string>spartanLeftArm.png</string>
				<key>leftArmOffset</key>
				<string>{0,0}</string>
				<key>onlineRightArm</key>
				<string>spartanRightArm.png</string>
				<key>rightArmOffset</key>
				<string>{0,6}</string>
				<key>body</key>
				<dict>
					<key>imageName</key>
					<string>spartanUpperBody.png</string>
					<key>offset</key>
					<string>{-3,-2}</string>
				</dict>
				<key>legs</key>
				<dict>
					<key>imageName</key>
					<string>spartanLeg.png</string>
					<key>offset</key>
					<string>{-1,0}</string>
					<key>partSelected</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>workerModificator</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>Bonus Maximus</string>
			<key>localizedName</key>
			<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
			<key>WorkerModel</key>
			<string>Gladiator</string>
			<key>localizedWorkerModel</key>
			<string>lbl_monster_data_model_gladiator</string>
			<key>level</key>
			<integer>1</integer>
			<key>workerIndex</key>
			<integer>0</integer>
			<key>curStamina</key>
			<integer>500</integer>
			<key>stamina</key>
			<integer>500</integer>
			<key>curXp</key>
			<integer>0</integer>
			<key>Price</key>
			<array>
				<dict>
					<key>PriceInCash</key>
					<integer>69</integer>
				</dict>
			</array>
			<key>workerModelData</key>
			<dict>
				<key>Name</key>
				<string>Bonus Maximus</string>
				<key>localizedName</key>
				<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
				<key>infoText</key>
				<string>This actor was interned in an &amp;Rasylum after being ranked 301st on a casting. He &amp;Obroken &amp;Obad and pushed the producer into a deep hole.</string>
				<key>localizedInfoText</key>
				<string>lbl_battle_area_enemy_wave_team_b_this_actor_was_interned</string>
				<key>qualityMin</key>
				<integer>160</integer>
				<key>qualityMax</key>
				<integer>210</integer>
				<key>speedMin</key>
				<integer>110</integer>
				<key>speedMax</key>
				<integer>210</integer>
				<key>wpMin</key>
				<integer>500</integer>
				<key>wpMax</key>
				<integer>950</integer>
				<key>staminaMin</key>
				<integer>500</integer>
				<key>staminaMax</key>
				<integer>750</integer>
				<key>strong</key>
				<array>
					<string>2:3:2.5f:3:3.5f</string>
					<string>75:3:2.5f:3:3.5f</string>
					<string>88:2.5f:2:2:1.5f</string>
					<string>138:2:2.5f:1.5f:2</string>
					<string>142:2.5f:1.5f:2:2</string>
					<string>chest:2.5f:3:3:3.5f</string>
				</array>
			</dict>
			<key>spriteDic</key>
			<dict>
				<key>name</key>
				<string>Bonus Maximus</string>
				<key>localizedName</key>
				<string>lbl_battle_area_enemy_wave_team_b_bonus_maximus</string>
				<key>race</key>
				<string>Gladiator</string>
				<key>sex</key>
				<string>male</string>
				<key>helmetOffset</key>
				<string>{-2,0}</string>
				<key>onlineHelmet</key>
				<string>spartanHat.png</string>
				<key>onlineHammer</key>
				<string>spartanHammer.png</string>
				<key>onlineLeftArm</key>
				<string>spartanLeftArm.png</string>
				<key>leftArmOffset</key>
				<string>{0,0}</string>
				<key>onlineRightArm</key>
				<string>spartanRightArm.png</string>
				<key>rightArmOffset</key>
				<string>{0,6}</string>
				<key>body</key>
				<dict>
					<key>imageName</key>
					<string>spartanUpperBody.png</string>
					<key>offset</key>
					<string>{-3,-2}</string>
				</dict>
				<key>legs</key>
				<dict>
					<key>imageName</key>
					<string>spartanLeg.png</string>
					<key>offset</key>
					<string>{-1,0}</string>
					<key>partSelected</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>workerModificator</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
