<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{116, 70}, {16, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 15}</string>
			<key>spriteSourceSize</key>
			<string>{16, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 70}, {16, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_10</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{86, 38}, {5, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{5, 1}</string>
			<key>spriteSourceSize</key>
			<string>{5, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{86, 38}, {5, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_11</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{106, 38}, {3, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{3, 1}</string>
			<key>spriteSourceSize</key>
			<string>{3, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 38}, {3, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_12</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{32, 128}, {6, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{6, 3}</string>
			<key>spriteSourceSize</key>
			<string>{6, 3}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 128}, {6, 3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_13</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{120, 92}, {10, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 3}</string>
			<key>spriteSourceSize</key>
			<string>{10, 3}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120, 92}, {10, 3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_17</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{140, 0}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 0}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_18</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{96, 38}, {5, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{5, 1}</string>
			<key>spriteSourceSize</key>
			<string>{5, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 38}, {5, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_19</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{114, 38}, {3, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{3, 1}</string>
			<key>spriteSourceSize</key>
			<string>{3, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 38}, {3, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_5</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{32, 136}, {3, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{3, 3}</string>
			<key>spriteSourceSize</key>
			<string>{3, 3}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 136}, {3, 3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_6</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{32, 108}, {7, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{7, 7}</string>
			<key>spriteSourceSize</key>
			<string>{7, 7}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 108}, {7, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_8</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{32, 120}, {5, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{5, 4}</string>
			<key>spriteSourceSize</key>
			<string>{5, 4}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{32, 120}, {5, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bendyV12_9</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{140, 6}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 6}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chassis</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 39}</string>
			<key>spriteSourceSize</key>
			<string>{81, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {81, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>door1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 108}, {27, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 32}</string>
			<key>spriteSourceSize</key>
			<string>{27, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 108}, {27, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>engine</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{46, 70}, {64, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 17}</string>
			<key>spriteSourceSize</key>
			<string>{64, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 70}, {64, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>exhaust1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{46, 92}, {68, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 9}</string>
			<key>spriteSourceSize</key>
			<string>{68, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 92}, {68, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{46, 106}, {21, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 26}</string>
			<key>spriteSourceSize</key>
			<string>{21, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 106}, {21, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{72, 132}, {17, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{17, 14}</string>
			<key>spriteSourceSize</key>
			<string>{17, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 132}, {17, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{98, 132}, {10, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 11}</string>
			<key>spriteSourceSize</key>
			<string>{10, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 132}, {10, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 70}, {41, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{41, 33}</string>
			<key>spriteSourceSize</key>
			<string>{41, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 70}, {41, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{86, 0}, {49, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 33}</string>
			<key>spriteSourceSize</key>
			<string>{49, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{86, 0}, {49, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 44}, {73, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 20}</string>
			<key>spriteSourceSize</key>
			<string>{73, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 44}, {73, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{72, 106}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 106}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{98, 106}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 106}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>window1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{78, 44}, {63, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 20}</string>
			<key>spriteSourceSize</key>
			<string>{63, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{78, 44}, {63, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{144, 148}</string>
	</dict>
</dict>
</plist>
