<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logo</key>
	<dict>
		<key>layer1</key>
		<array>
			<dict>
				<key>sprite</key>
				<string>animal1.png</string>
				<key>name</key>
				<string>croco</string>
				<key>localizedName</key>
				<string>lbl_brand_data_croco</string>
				<key>offset</key>
				<string>{0,0}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>animal2.png</string>
				<key>name</key>
				<string>ostrich</string>
				<key>localizedName</key>
				<string>lbl_brand_data_ostrich</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>animal3.png</string>
				<key>name</key>
				<string>rabbit</string>
				<key>localizedName</key>
				<string>lbl_brand_data_rabbit</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>dog1.png</string>
				<key>name</key>
				<string>dog</string>
				<key>localizedName</key>
				<string>lbl_brand_data_dog</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>cat1.png</string>
				<key>name</key>
				<string>cat</string>
				<key>localizedName</key>
				<string>lbl_brand_data_cat</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>shape1.png</string>
				<key>name</key>
				<string>peace</string>
				<key>localizedName</key>
				<string>lbl_brand_data_peace</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>wings.png</string>
				<key>name</key>
				<string>wings</string>
				<key>localizedName</key>
				<string>lbl_brand_data_wings</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>pinguin.png</string>
				<key>name</key>
				<string>penguin</string>
				<key>localizedName</key>
				<string>lbl_brand_data_penguin</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>horse.png</string>
				<key>name</key>
				<string>mule</string>
				<key>localizedName</key>
				<string>lbl_brand_data_mule</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>dino1.png</string>
				<key>name</key>
				<string>dino</string>
				<key>localizedName</key>
				<string>lbl_brand_data_dino</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>shark.png</string>
				<key>name</key>
				<string>shark</string>
				<key>localizedName</key>
				<string>lbl_brand_data_shark</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>skull.png</string>
				<key>name</key>
				<string>skull</string>
				<key>localizedName</key>
				<string>lbl_brand_data_skull</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>knife.png</string>
				<key>name</key>
				<string>knife</string>
				<key>localizedName</key>
				<string>lbl_brand_data_knife</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>banana.png</string>
				<key>name</key>
				<string>banana</string>
				<key>localizedName</key>
				<string>lbl_brand_data_banana</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
			<dict>
				<key>sprite</key>
				<string>flyingSaucer.png</string>
				<key>name</key>
				<string>saucer</string>
				<key>localizedName</key>
				<string>lbl_brand_data_saucer</string>
				<key>offset</key>
				<string>{0,8}</string>
			</dict>
		</array>
	</dict>
	<key>brand</key>
	<array>
		<dict>
			<key>name</key>
			<string>Heracles</string>
			<key>localizedName</key>
			<string>lbl_brand_data_heracles</string>
			<key>logoItem</key>
			<integer>0</integer>
			<key>color1</key>
			<integer>2</integer>
			<key>color2</key>
			<integer>4</integer>
			<key>reputation</key>
			<integer>8000000000</integer>
			<key>carPerWeek</key>
			<integer>100</integer>
			<key>carBuiltTotal</key>
			<integer>35000</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ToughTruck</string>
			<key>localizedName</key>
			<string>lbl_brand_data_tough_truck</string>
			<key>carBuiltTotal</key>
			<integer>1000</integer>
			<key>logoItem</key>
			<integer>2</integer>
			<key>color1</key>
			<integer>1</integer>
			<key>color2</key>
			<integer>5</integer>
			<key>reputation</key>
			<integer>7000000000</integer>
			<key>carPerWeek</key>
			<integer>75000</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>DassAuto</string>
			<key>localizedName</key>
			<string>lbl_brand_data_dass_auto</string>
			<key>carBuiltTotal</key>
			<integer>2500</integer>
			<key>logoItem</key>
			<integer>2</integer>
			<key>color1</key>
			<integer>1</integer>
			<key>color2</key>
			<integer>5</integer>
			<key>reputation</key>
			<integer>6500000000</integer>
			<key>carPerWeek</key>
			<integer>150</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Modee</string>
			<key>localizedName</key>
			<string>lbl_brand_data_modee</string>
			<key>carBuiltTotal</key>
			<integer>3500</integer>
			<key>logoItem</key>
			<integer>2</integer>
			<key>color1</key>
			<integer>1</integer>
			<key>color2</key>
			<integer>5</integer>
			<key>reputation</key>
			<integer>5000000000</integer>
			<key>carPerWeek</key>
			<integer>150</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Gauntelet</string>
			<key>localizedName</key>
			<string>lbl_brand_data_gauntelet</string>
			<key>carBuiltTotal</key>
			<integer>150</integer>
			<key>logoItem</key>
			<integer>2</integer>
			<key>color1</key>
			<integer>1</integer>
			<key>color2</key>
			<integer>5</integer>
			<key>reputation</key>
			<integer>7000000000</integer>
			<key>carPerWeek</key>
			<integer>150</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>RiverBridge</string>
			<key>localizedName</key>
			<string>lbl_brand_data_river_bridge</string>
			<key>carBuiltTotal</key>
			<integer>100</integer>
			<key>logoItem</key>
			<integer>2</integer>
			<key>color1</key>
			<integer>1</integer>
			<key>color2</key>
			<integer>5</integer>
			<key>reputation</key>
			<integer>3000000</integer>
			<key>carPerWeek</key>
			<integer>150</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>MotorWerk</string>
			<key>localizedName</key>
			<string>lbl_brand_data_motor_werk</string>
			<key>carBuiltTotal</key>
			<integer>250</integer>
			<key>logoItem</key>
			<integer>2</integer>
			<key>color1</key>
			<integer>1</integer>
			<key>color2</key>
			<integer>5</integer>
			<key>reputation</key>
			<integer>35000000</integer>
			<key>carPerWeek</key>
			<integer>150</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>carBuiltTotal</key>
			<integer>55</integer>
			<key>name</key>
			<string>GroundCrawler</string>
			<key>localizedName</key>
			<string>lbl_brand_data_ground_crawler</string>
			<key>logoItem</key>
			<integer>2</integer>
			<key>color1</key>
			<integer>1</integer>
			<key>color2</key>
			<integer>5</integer>
			<key>reputation</key>
			<integer>5000000000</integer>
			<key>carPerWeek</key>
			<integer>150</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>carBuiltTotal</key>
			<integer>2</integer>
			<key>name</key>
			<string>JeanPierre</string>
			<key>localizedName</key>
			<string>lbl_brand_data_jean_pierre</string>
			<key>logoItem</key>
			<integer>2</integer>
			<key>color1</key>
			<integer>1</integer>
			<key>color2</key>
			<integer>5</integer>
			<key>reputation</key>
			<integer>500</integer>
			<key>carPerWeek</key>
			<integer>150</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>carBuiltTotal</key>
			<integer>80</integer>
			<key>name</key>
			<string>Lemonen</string>
			<key>localizedName</key>
			<string>lbl_brand_data_lemonen</string>
			<key>logoItem</key>
			<integer>2</integer>
			<key>color1</key>
			<integer>1</integer>
			<key>color2</key>
			<integer>5</integer>
			<key>reputation</key>
			<integer>1000000000</integer>
			<key>carPerWeek</key>
			<integer>150</integer>
			<key>luxury</key>
			<integer>80</integer>
		</dict>
	</array>
	<key>color</key>
	<array>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
