<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarPool</key>
	<dict>
		<key>1</key>
		<dict>
			<key>menuColorIndex</key>
			<integer>7</integer>
			<key>category</key>
			<array>
				<integer>3</integer>
			</array>
			<key>totalWp</key>
			<integer>2650</integer>
			<key>SaleValue</key>
			<integer>6500</integer>
			<key>SalingTime</key>
			<integer>360</integer>
			<key>PriceCoins</key>
			<integer>6000</integer>
			<key>GFX</key>
			<string>ripRod</string>
			<key>Name</key>
			<string>Rip Rod</string>
			<key>localizedName</key>
			<string>lbl_car_data_name_ripRod</string>
			<key>Description</key>
			<string>With fang-like exhaust tips and a mask for a grille, the &amp;RRip &amp;RRod is a creature you &amp;Pdon&apos;t &amp;Pwant &amp;Pto &amp;Pmess with.</string>
			<key>localizedDescription</key>
			<string>lbl_car_data_description_ripRod</string>
			<key>PositionEnd</key>
			<dict>
				<key>arm1</key>
				<string>{-1.00,6.25}</string>
				<key>arm2</key>
				<string>{77.00,4.25}</string>
				<key>chassis</key>
				<string>{39.00,11.75}</string>
				<key>door1</key>
				<string>{42.50,8.75}</string>
				<key>door2</key>
				<string>{30.00,1.25}</string>
				<key>engine</key>
				<string>{49.00,8.25}</string>
				<key>exhaust1</key>
				<string>{15.50,22.25}</string>
				<key>interior1</key>
				<string>{41.00,18.75}</string>
				<key>interior2</key>
				<string>{50.00,19.25}</string>
				<key>interior3</key>
				<string>{7.50,4.75}</string>
				<key>panel1</key>
				<string>{13.50,10.75}</string>
				<key>panel2</key>
				<string>{61.00,10.75}</string>
				<key>panel3</key>
				<string>{26.00,29.25}</string>
				<key>roue1</key>
				<string>{-0.50,5.25}</string>
				<key>roue2</key>
				<string>{77.50,4.25}</string>
				<key>window1</key>
				<string>{37.50,16.25}</string>
			</dict>
			<key>Performance</key>
			<dict>
				<key>fuel</key>
				<string>essence</string>
				<key>localizedFuel</key>
				<string>lbl_car_data_fuel_essence</string>
				<key>enginePosition</key>
				<string>front</string>
				<key>localizedEnginePosition</key>
				<string>lbl_car_data_engine_position_front</string>
				<key>min</key>
				<integer>540</integer>
				<key>layout</key>
				<string>AWD</string>
				<key>localizedLayout</key>
				<string>lbl_car_data_layout_awd</string>
				<key>co2</key>
				<integer>120</integer>
				<key>seat</key>
				<string>4</string>
				<key>engine</key>
				<string>W12</string>
				<key>localizedEngine</key>
				<string>lbl_car_data_engine_w12</string>
				<key>max</key>
				<integer>850</integer>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>1500</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>0</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>0</integer>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>0</integer>
					<key>Confort</key>
					<integer>0</integer>
					<key>Safety</key>
					<integer>1</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>menuColorIndex</key>
			<integer>7</integer>
			<key>category</key>
			<array>
				<integer>3</integer>
			</array>
			<key>totalWp</key>
			<integer>50000</integer>
			<key>SaleValue</key>
			<integer>55000</integer>
			<key>SalingTime</key>
			<integer>3600</integer>
			<key>PriceCoins</key>
			<integer>50000</integer>
			<key>GFX</key>
			<string>cockneyCab</string>
			<key>Name</key>
			<string>Cockney Cab</string>
			<key>localizedName</key>
			<string>lbl_car_data_name_cockneyCab</string>
			<key>Description</key>
			<string>It may be old but it’s &amp;Pstill &amp;Pon &amp;Pthe &amp;Proad! The &amp;RCockney &amp;RCab is an antique yet beautiful piece of art.</string>
			<key>localizedDescription</key>
			<string>lbl_car_data_description_cockneyCab</string>
			<key>PartsOrder</key>
			<array>
				<string>interior3</string>
				<string>interior2</string>
				<string>interior1</string>
				<string>engine</string>
				<string>chassis</string>
				<string>panel3</string>
				<string>panel2</string>
				<string>panel1</string>
				<string>door1</string>
				<string>door2</string>
				<string>arm2</string>
				<string>arm1</string>
				<string>exhaust1</string>
				<string>window1</string>
				<string>roue2</string>
				<string>roue1</string>
			</array>
			<key>Performance</key>
			<dict>
				<key>fuel</key>
				<string>essence</string>
				<key>localizedFuel</key>
				<string>lbl_car_data_fuel_essence</string>
				<key>enginePosition</key>
				<string>front</string>
				<key>localizedEnginePosition</key>
				<string>lbl_car_data_engine_position_front</string>
				<key>min</key>
				<integer>1300</integer>
				<key>layout</key>
				<string>AWD</string>
				<key>localizedLayout</key>
				<string>lbl_car_data_layout_awd</string>
				<key>co2</key>
				<integer>120</integer>
				<key>seat</key>
				<string>4</string>
				<key>engine</key>
				<string>W12</string>
				<key>localizedEngine</key>
				<string>lbl_car_data_engine_w12</string>
				<key>max</key>
				<integer>1500</integer>
			</dict>
			<key>PositionEnd</key>
			<dict>
				<key>arm1</key>
				<string>{8.00,5.25}</string>
				<key>arm2</key>
				<string>{69.00,5.25}</string>
				<key>chassis</key>
				<string>{38.50,15.75}</string>
				<key>door1</key>
				<string>{48.50,18.25}</string>
				<key>door2</key>
				<string>{27.00,18.25}</string>
				<key>engine</key>
				<string>{49.00,12.25}</string>
				<key>exhaust1</key>
				<string>{6.00,34.25}</string>
				<key>interior1</key>
				<string>{45.00,17.75}</string>
				<key>interior2</key>
				<string>{54.00,18.25}</string>
				<key>interior3</key>
				<string>{25.50,9.75}</string>
				<key>panel1</key>
				<string>{13.00,9.25}</string>
				<key>panel2</key>
				<string>{65.50,9.25}</string>
				<key>panel3</key>
				<string>{39.00,32.25}</string>
				<key>roue1</key>
				<string>{8.50,3.25}</string>
				<key>roue2</key>
				<string>{70.50,3.25}</string>
				<key>window1</key>
				<string>{38.50,19.25}</string>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>1500</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>0</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>0</integer>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>0</integer>
					<key>Confort</key>
					<integer>0</integer>
					<key>Safety</key>
					<integer>1</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>menuColorIndex</key>
			<integer>7</integer>
			<key>category</key>
			<array>
				<integer>3</integer>
			</array>
			<key>totalWp</key>
			<integer>300000</integer>
			<key>SaleValue</key>
			<integer>3010000</integer>
			<key>SalingTime</key>
			<integer>8400</integer>
			<key>PriceCoins</key>
			<integer>3000000</integer>
			<key>GFX</key>
			<string>speedBox</string>
			<key>Name</key>
			<string>Speed Box</string>
			<key>localizedName</key>
			<string>lbl_car_data_name_speedBox</string>
			<key>Description</key>
			<string>The &amp;RSpeedbox is the &amp;Pfatest &amp;Pambulance &amp;Pever! Perfect for &amp;Grescue &amp;Gmissions or regular races!</string>
			<key>localizedDescription</key>
			<string>lbl_car_data_description_speedBox</string>
			<key>PositionEnd</key>
			<dict>
				<key>arm1</key>
				<string>{7.00,5.25}</string>
				<key>arm2</key>
				<string>{68.00,4.25}</string>
				<key>chassis</key>
				<string>{37.50,17.75}</string>
				<key>door1</key>
				<string>{52.50,23.25}</string>
				<key>door2</key>
				<string>{23.00,23.25}</string>
				<key>engine</key>
				<string>{55.00,9.25}</string>
				<key>exhaust1</key>
				<string>{28.00,3.25}</string>
				<key>interior1</key>
				<string>{52.00,18.75}</string>
				<key>interior2</key>
				<string>{63.00,21.25}</string>
				<key>interior3</key>
				<string>{27.50,7.75}</string>
				<key>panel1</key>
				<string>{11.50,10.75}</string>
				<key>panel2</key>
				<string>{65.00,10.75}</string>
				<key>panel3</key>
				<string>{35.00,32.75}</string>
				<key>roue1</key>
				<string>{7.50,5.25}</string>
				<key>roue2</key>
				<string>{68.50,5.25}</string>
				<key>window1</key>
				<string>{38.50,19.75}</string>
			</dict>
			<key>Performance</key>
			<dict>
				<key>fuel</key>
				<string>essence</string>
				<key>localizedFuel</key>
				<string>lbl_car_data_fuel_essence</string>
				<key>enginePosition</key>
				<string>front</string>
				<key>localizedEnginePosition</key>
				<string>lbl_car_data_engine_position_front</string>
				<key>min</key>
				<integer>1300</integer>
				<key>layout</key>
				<string>AWD</string>
				<key>localizedLayout</key>
				<string>lbl_car_data_layout_awd</string>
				<key>co2</key>
				<integer>120</integer>
				<key>seat</key>
				<string>4</string>
				<key>engine</key>
				<string>W12</string>
				<key>localizedEngine</key>
				<string>lbl_car_data_engine_w12</string>
				<key>max</key>
				<integer>1700</integer>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>1500</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>0</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>0</integer>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>0</integer>
					<key>Confort</key>
					<integer>0</integer>
					<key>Safety</key>
					<integer>1</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>category</key>
			<array>
				<integer>4</integer>
			</array>
			<key>totalWp</key>
			<integer>8300</integer>
			<key>menuColorIndex</key>
			<integer>9</integer>
			<key>SaleValue</key>
			<integer>35000</integer>
			<key>SalingTime</key>
			<integer>980</integer>
			<key>PriceCoins</key>
			<integer>32000</integer>
			<key>PriceCash</key>
			<integer>0</integer>
			<key>GFX</key>
			<string>poppaWheelie</string>
			<key>Name</key>
			<string>Poppa Wheelie</string>
			<key>localizedName</key>
			<string>lbl_car_data_name_poppaWheelie</string>
			<key>Description</key>
			<string>With its powerful V8 Engine, this &amp;R3-wheeled &amp;Rstunt &amp;Rride was literally made for &amp;Ppopping &amp;Pwheelies!</string>
			<key>localizedDescription</key>
			<string>lbl_car_data_description_poppaWheelie</string>
			<key>Performance</key>
			<dict>
				<key>fuel</key>
				<string>petrol</string>
				<key>localizedFuel</key>
				<string>lbl_car_data_fuel_petrol</string>
				<key>enginePosition</key>
				<string>back</string>
				<key>localizedEnginePosition</key>
				<string>lbl_car_data_engine_position_back</string>
				<key>layout</key>
				<string>RWD</string>
				<key>localizedLayout</key>
				<string>lbl_car_data_layout_rwd</string>
				<key>engine</key>
				<string>EJ200</string>
				<key>localizedEngine</key>
				<string>lbl_car_data_engine_ej200</string>
				<key>co2</key>
				<integer>500</integer>
				<key>seat</key>
				<string>1</string>
				<key>min</key>
				<integer>643</integer>
				<key>max</key>
				<integer>810</integer>
			</dict>
			<key>PositionEnd</key>
			<dict>
				<key>arm1</key>
				<string>{46.00,5.25}</string>
				<key>arm2</key>
				<string>{-1.00,3.25}</string>
				<key>chassis</key>
				<string>{27.50,5.75}</string>
				<key>door1</key>
				<string>{55.50,19.25}</string>
				<key>engine</key>
				<string>{27.50,6.25}</string>
				<key>exhaust1</key>
				<string>{22.50,1.25}</string>
				<key>interior1</key>
				<string>{42.00,8.25}</string>
				<key>interior2</key>
				<string>{54.00,20.25}</string>
				<key>interior3</key>
				<string>{32.50,3.75}</string>
				<key>panel1</key>
				<string>{41.50,10.25}</string>
				<key>panel2</key>
				<string>{71.50,19.25}</string>
				<key>panel3</key>
				<string>{41.50,21.25}</string>
				<key>roue1</key>
				<string>{47.50,4.25}</string>
				<key>roue2</key>
				<string>{-0.50,2.25}</string>
				<key>window1</key>
				<string>{41.50,14.25}</string>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>2500</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>0</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>0</integer>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>2</integer>
					<key>Confort</key>
					<integer>0</integer>
					<key>Safety</key>
					<integer>0</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>category</key>
			<array>
				<integer>4</integer>
			</array>
			<key>totalWp</key>
			<integer>37200</integer>
			<key>menuColorIndex</key>
			<integer>9</integer>
			<key>SaleValue</key>
			<integer>130000</integer>
			<key>SalingTime</key>
			<integer>3600</integer>
			<key>PriceCoins</key>
			<integer>125000</integer>
			<key>PriceCash</key>
			<integer>0</integer>
			<key>GFX</key>
			<string>alteredEgo</string>
			<key>Name</key>
			<string>Altered Ego</string>
			<key>localizedName</key>
			<string>lbl_car_data_name_alteredEgo</string>
			<key>Description</key>
			<string>With its powerful &amp;Pside &amp;Pengines, the &amp;RAltered &amp;REgo can swiftly turn around if needed! </string>
			<key>localizedDescription</key>
			<string>lbl_car_data_description_alteredEgo</string>
			<key>PositionEnd</key>
			<dict>
				<key>arm1</key>
				<string>{81.00,2.25}</string>
				<key>arm2</key>
				<string>{10.00,8.25}</string>
				<key>chassis</key>
				<string>{37.00,12.25}</string>
				<key>door1</key>
				<string>{23.50,14.75}</string>
				<key>door2</key>
				<string>{72.50,7.25}</string>
				<key>engine</key>
				<string>{21.00,8.25}</string>
				<key>exhaust1</key>
				<string>{23.00,-3.25}</string>
				<key>interior1</key>
				<string>{23.00,13.75}</string>
				<key>interior2</key>
				<string>{30.00,16.25}</string>
				<key>interior3</key>
				<string>{14.50,4.75}</string>
				<key>panel1</key>
				<string>{13.50,9.75}</string>
				<key>panel2</key>
				<string>{42.00,8.75}</string>
				<key>panel3</key>
				<string>{11.50,28.25}</string>
				<key>roue1</key>
				<string>{7.50,4.25}</string>
				<key>roue2</key>
				<string>{82.50,2.25}</string>
				<key>window1</key>
				<string>{38.50,14.75}</string>
			</dict>
			<key>Performance</key>
			<dict>
				<key>fuel</key>
				<string>petrol</string>
				<key>localizedFuel</key>
				<string>lbl_car_data_fuel_petrol</string>
				<key>enginePosition</key>
				<string>back</string>
				<key>localizedEnginePosition</key>
				<string>lbl_car_data_engine_position_back</string>
				<key>layout</key>
				<string>RWD</string>
				<key>localizedLayout</key>
				<string>lbl_car_data_layout_rwd</string>
				<key>engine</key>
				<string>EJ200</string>
				<key>localizedEngine</key>
				<string>lbl_car_data_engine_ej200</string>
				<key>co2</key>
				<integer>500</integer>
				<key>seat</key>
				<string>1</string>
				<key>min</key>
				<integer>1250</integer>
				<key>max</key>
				<integer>1600</integer>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>2500</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>0</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>0</integer>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>2</integer>
					<key>Confort</key>
					<integer>0</integer>
					<key>Safety</key>
					<integer>0</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>6</key>
		<dict>
			<key>category</key>
			<array>
				<integer>4</integer>
			</array>
			<key>totalWp</key>
			<integer>113000</integer>
			<key>menuColorIndex</key>
			<integer>10</integer>
			<key>SaleValue</key>
			<integer>870000</integer>
			<key>SalingTime</key>
			<integer>8400</integer>
			<key>PriceCoins</key>
			<integer>865000</integer>
			<key>GFX</key>
			<string>streetCleaver</string>
			<key>Name</key>
			<string>Street Cleaver</string>
			<key>localizedName</key>
			<string>lbl_car_data_name_streetCleaver</string>
			<key>Description</key>
			<string>&amp;POut &amp;Pof &amp;Pthe &amp;Pway! With its plow and crazy horsepower, the &amp;RStreet &amp;RCleaver leaves nothing behind it.</string>
			<key>localizedDescription</key>
			<string>lbl_car_data_description_streetCleaver</string>
			<key>PartsOrder</key>
			<array>
				<string>engine</string>
				<string>interior3</string>
				<string>interior2</string>
				<string>interior1</string>
				<string>chassis</string>
				<string>panel3</string>
				<string>panel2</string>
				<string>panel1</string>
				<string>door1</string>
				<string>arm2</string>
				<string>arm1</string>
				<string>door2</string>
				<string>exhaust1</string>
				<string>window1</string>
				<string>roue2</string>
				<string>roue1</string>
			</array>
			<key>PositionEnd</key>
			<dict>
				<key>arm1</key>
				<string>{7.50,4.25}</string>
				<key>arm2</key>
				<string>{87.50,-0.75}</string>
				<key>chassis</key>
				<string>{25.50,6.75}</string>
				<key>door1</key>
				<string>{53.50,1.25}</string>
				<key>door2</key>
				<string>{-7.00,28.75}</string>
				<key>engine</key>
				<string>{26.00,24.25}</string>
				<key>exhaust1</key>
				<string>{3.00,23.75}</string>
				<key>interior1</key>
				<string>{28.00,15.75}</string>
				<key>interior2</key>
				<string>{34.00,16.25}</string>
				<key>interior3</key>
				<string>{8.50,1.25}</string>
				<key>panel1</key>
				<string>{4.50,5.25}</string>
				<key>panel2</key>
				<string>{32.50,15.25}</string>
				<key>panel3</key>
				<string>{72.50,10.75}</string>
				<key>roue1</key>
				<string>{5.50,3.25}</string>
				<key>roue2</key>
				<string>{88.00,-0.25}</string>
				<key>window1</key>
				<string>{40.00,18.75}</string>
			</dict>
			<key>Performance</key>
			<dict>
				<key>fuel</key>
				<string>petrol</string>
				<key>localizedFuel</key>
				<string>lbl_car_data_fuel_petrol</string>
				<key>enginePosition</key>
				<string>front</string>
				<key>localizedEnginePosition</key>
				<string>lbl_car_data_engine_position_front</string>
				<key>layout</key>
				<string>AWD</string>
				<key>localizedLayout</key>
				<string>lbl_car_data_layout_awd</string>
				<key>engine</key>
				<string>EJ200</string>
				<key>localizedEngine</key>
				<string>lbl_car_data_engine_ej200</string>
				<key>co2</key>
				<integer>500</integer>
				<key>seat</key>
				<string>1</string>
				<key>min</key>
				<integer>1700</integer>
				<key>max</key>
				<integer>1900</integer>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>120</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>0</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>0</integer>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>0</integer>
					<key>Confort</key>
					<integer>2</integer>
					<key>Safety</key>
					<integer>2</integer>
					<key>Luxury</key>
					<integer>1</integer>
					<key>Innovation</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>category</key>
			<array>
				<integer>2</integer>
			</array>
			<key>totalWp</key>
			<integer>3450</integer>
			<key>menuColorIndex</key>
			<integer>9</integer>
			<key>SaleValue</key>
			<integer>17000</integer>
			<key>SalingTime</key>
			<integer>320</integer>
			<key>PriceCoins</key>
			<integer>16500</integer>
			<key>GFX</key>
			<string>tombUp</string>
			<key>Name</key>
			<string>Tomb Up</string>
			<key>localizedName</key>
			<string>lbl_car_data_name_tombUp</string>
			<key>Description</key>
			<string>Thanks to its unique shape, the &amp;RTomb &amp;RUp is optimized for top speeds and crazy stunts! Watch the &amp;Ppaint though!</string>
			<key>localizedDescription</key>
			<string>lbl_car_data_description_tombUp</string>
			<key>PositionEnd</key>
			<dict>
				<key>arm1</key>
				<string>{1.00,4.25}</string>
				<key>arm2</key>
				<string>{71.00,4.25}</string>
				<key>chassis</key>
				<string>{49.00,11.25}</string>
				<key>door1</key>
				<string>{9.00,25.25}</string>
				<key>engine</key>
				<string>{28.00,10.25}</string>
				<key>exhaust1</key>
				<string>{31.00,4.25}</string>
				<key>interior1</key>
				<string>{38.00,12.75}</string>
				<key>interior2</key>
				<string>{45.00,14.25}</string>
				<key>interior3</key>
				<string>{22.50,13.75}</string>
				<key>panel1</key>
				<string>{43.00,7.75}</string>
				<key>panel2</key>
				<string>{52.50,9.75}</string>
				<key>panel3</key>
				<string>{32.00,17.25}</string>
				<key>roue1</key>
				<string>{71.50,5.25}</string>
				<key>roue2</key>
				<string>{1.50,5.25}</string>
				<key>window1</key>
				<string>{38.50,14.25}</string>
			</dict>
			<key>Performance</key>
			<dict>
				<key>enginePosition</key>
				<string>rear</string>
				<key>localizedEnginePosition</key>
				<string>lbl_car_data_engine_position_rear</string>
				<key>fuel</key>
				<string>electric</string>
				<key>localizedFuel</key>
				<string>lbl_car_data_fuel_electric</string>
				<key>co2</key>
				<integer>1</integer>
				<key>seat</key>
				<string>2</string>
				<key>engine</key>
				<string>TT</string>
				<key>localizedEngine</key>
				<string>lbl_car_data_engine_tt</string>
				<key>layout</key>
				<string>RWD</string>
				<key>localizedLayout</key>
				<string>lbl_car_data_layout_rwd</string>
				<key>min</key>
				<integer>345</integer>
				<key>max</key>
				<integer>390</integer>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>15000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>0</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>0</integer>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>0</integer>
					<key>Confort</key>
					<integer>1</integer>
					<key>Safety</key>
					<integer>0</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>category</key>
			<array>
				<integer>2</integer>
			</array>
			<key>totalWp</key>
			<integer>37500</integer>
			<key>menuColorIndex</key>
			<integer>9</integer>
			<key>SaleValue</key>
			<integer>225000</integer>
			<key>SalingTime</key>
			<integer>2900</integer>
			<key>PriceCoins</key>
			<integer>220000</integer>
			<key>GFX</key>
			<string>stingRod</string>
			<key>Name</key>
			<string>Sting Rod</string>
			<key>localizedName</key>
			<string>lbl_car_data_name_stingRod</string>
			<key>Description</key>
			<string>The &amp;RSting &amp;RRod is the ultimate &amp;Pall-terrain &amp;Pvehicle! No rocky path or speed bump can stop this power machine!</string>
			<key>localizedDescription</key>
			<string>lbl_car_data_description_stingRod</string>
			<key>PositionEnd</key>
			<dict>
				<key>arm1</key>
				<string>{4.00,4.25}</string>
				<key>arm2</key>
				<string>{66.00,4.25}</string>
				<key>chassis</key>
				<string>{36.00,13.75}</string>
				<key>door1</key>
				<string>{36.50,2.25}</string>
				<key>door2</key>
				<string>{3.00,34.75}</string>
				<key>engine</key>
				<string>{45.00,11.25}</string>
				<key>exhaust1</key>
				<string>{27.00,6.25}</string>
				<key>interior1</key>
				<string>{33.00,18.75}</string>
				<key>interior2</key>
				<string>{45.00,19.25}</string>
				<key>interior3</key>
				<string>{11.50,14.75}</string>
				<key>panel1</key>
				<string>{19.50,11.75}</string>
				<key>panel2</key>
				<string>{62.50,10.25}</string>
				<key>panel3</key>
				<string>{37.00,25.25}</string>
				<key>roue1</key>
				<string>{4.50,4.25}</string>
				<key>roue2</key>
				<string>{67.50,4.25}</string>
				<key>window1</key>
				<string>{37.00,20.25}</string>
			</dict>
			<key>Performance</key>
			<dict>
				<key>enginePosition</key>
				<string>rear</string>
				<key>localizedEnginePosition</key>
				<string>lbl_car_data_engine_position_rear</string>
				<key>fuel</key>
				<string>electric</string>
				<key>localizedFuel</key>
				<string>lbl_car_data_fuel_electric</string>
				<key>co2</key>
				<integer>1</integer>
				<key>seat</key>
				<string>2</string>
				<key>engine</key>
				<string>TT</string>
				<key>localizedEngine</key>
				<string>lbl_car_data_engine_tt</string>
				<key>layout</key>
				<string>RWD</string>
				<key>localizedLayout</key>
				<string>lbl_car_data_layout_rwd</string>
				<key>min</key>
				<integer>1150</integer>
				<key>max</key>
				<integer>1600</integer>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>15000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>0</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>0</integer>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>0</integer>
					<key>Confort</key>
					<integer>1</integer>
					<key>Safety</key>
					<integer>0</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>category</key>
			<array>
				<integer>2</integer>
			</array>
			<key>totalWp</key>
			<integer>323000</integer>
			<key>menuColorIndex</key>
			<integer>10</integer>
			<key>SaleValue</key>
			<integer>2260000</integer>
			<key>SalingTime</key>
			<integer>10080</integer>
			<key>PriceCoins</key>
			<integer>2250000</integer>
			<key>GFX</key>
			<string>maxSteelTurboRacer</string>
			<key>Name</key>
			<string>MaxSteelTurboRacer</string>
			<key>localizedName</key>
			<string>lbl_car_data_name_maxSteelTurboRacer</string>
			<key>Description</key>
			<string>This &amp;Rtwin-turbo &amp;Rracer custom-built for Max Steel can &amp;Pturbocharge for super speed, or enter &amp;Gstealth &amp;Gmode for silent stalking.</string>
			<key>localizedDescription</key>
			<string>lbl_car_data_description_maxSteelTurboRacer</string>
			<key>PositionEnd</key>
			<dict>
				<key>arm1</key>
				<string>{81.00,3.25}</string>
				<key>arm2</key>
				<string>{-1.00,5.25}</string>
				<key>chassis</key>
				<string>{30.50,9.25}</string>
				<key>door1</key>
				<string>{28.50,17.75}</string>
				<key>door2</key>
				<string>{78.50,1.75}</string>
				<key>engine</key>
				<string>{34.00,19.25}</string>
				<key>exhaust1</key>
				<string>{26.50,20.25}</string>
				<key>interior1</key>
				<string>{48.00,20.25}</string>
				<key>interior2</key>
				<string>{64.00,12.25}</string>
				<key>interior3</key>
				<string>{9.50,24.75}</string>
				<key>panel1</key>
				<string>{25.00,18.75}</string>
				<key>panel2</key>
				<string>{63.50,6.75}</string>
				<key>panel3</key>
				<string>{35.00,21.75}</string>
				<key>roue1</key>
				<string>{0.50,5.25}</string>
				<key>roue2</key>
				<string>{82.50,3.25}</string>
				<key>window1</key>
				<string>{39.50,16.25}</string>
			</dict>
			<key>Performance</key>
			<dict>
				<key>enginePosition</key>
				<string>rear</string>
				<key>localizedEnginePosition</key>
				<string>lbl_car_data_engine_position_rear</string>
				<key>fuel</key>
				<string>electric</string>
				<key>localizedFuel</key>
				<string>lbl_car_data_fuel_electric</string>
				<key>co2</key>
				<integer>1</integer>
				<key>seat</key>
				<string>2</string>
				<key>engine</key>
				<string>TT</string>
				<key>localizedEngine</key>
				<string>lbl_car_data_engine_tt</string>
				<key>layout</key>
				<string>RWD</string>
				<key>localizedLayout</key>
				<string>lbl_car_data_layout_rwd</string>
				<key>min</key>
				<integer>1250</integer>
				<key>max</key>
				<integer>1800</integer>
			</dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>15000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>0</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>0</integer>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>0</integer>
					<key>Confort</key>
					<integer>1</integer>
					<key>Safety</key>
					<integer>0</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
