<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpecialOffer</key>
	<dict>
		<key>welcomeKit0</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>2000</integer>
					<key>cash</key>
					<integer>8</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>35</integer>
					<key>mysteryCard</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Welcome Kit</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_welcome_kit</string>
			<key>product</key>
			<string>mobageSpecialOffer0</string>
		</dict>
		<key>welcomeKit1</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>3000</integer>
					<key>cash</key>
					<integer>14</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>55</integer>
					<key>mysteryCard</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Welcome Kit</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_welcome_kit</string>
			<key>product</key>
			<string>mobageSpecialOffer1</string>
		</dict>
		<key>welcomeKit2</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>6000</integer>
					<key>cash</key>
					<integer>30</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>100</integer>
					<key>mysteryCard</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Welcome Kit</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_welcome_kit</string>
			<key>product</key>
			<string>mobageSpecialOffer2</string>
		</dict>
		<key>welcomeKit3</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>15000</integer>
					<key>cash</key>
					<integer>60</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>150</integer>
					<key>mysteryCard</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Welcome Kit</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_welcome_kit</string>
			<key>product</key>
			<string>mobageSpecialOffer3</string>
		</dict>
		<key>welcomeKit4</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>30000</integer>
					<key>cash</key>
					<integer>100</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>250</integer>
					<key>mysteryCard</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Welcome Kit</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_welcome_kit</string>
			<key>product</key>
			<string>mobageSpecialOffer4</string>
		</dict>
		<key>welcomeKit5</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>70000</integer>
					<key>cash</key>
					<integer>200</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>600</integer>
					<key>mysteryCard</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Welcome Kit</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_welcome_kit</string>
			<key>product</key>
			<string>mobageSpecialOffer5</string>
		</dict>
		<key>welcomeKit6</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>140000</integer>
					<key>cash</key>
					<integer>800</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>1500</integer>
					<key>mysteryCard</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Welcome Kit</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_welcome_kit</string>
			<key>product</key>
			<string>mobageSpecialOffer6</string>
		</dict>
		<key>donutOffer0</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>45</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Donuts Frenzy</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_donuts_frenzy</string>
			<key>product</key>
			<string>mobageSpecialOffer0</string>
		</dict>
		<key>donutOffer1</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>80</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Donuts Frenzy</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_donuts_frenzy</string>
			<key>product</key>
			<string>mobageSpecialOffer1</string>
		</dict>
		<key>donutOffer2</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>155</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Donuts Frenzy</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_donuts_frenzy</string>
			<key>product</key>
			<string>mobageSpecialOffer2</string>
		</dict>
		<key>donutOffer3</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>280</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Donuts Frenzy</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_donuts_frenzy</string>
			<key>product</key>
			<string>mobageSpecialOffer3</string>
		</dict>
		<key>donutOffer4</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>2000</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Donuts Frenzy</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_donuts_frenzy</string>
			<key>product</key>
			<string>mobageSpecialOffer4</string>
		</dict>
		<key>donutOffer5</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>5000</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Donuts Frenzy</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_donuts_frenzy</string>
			<key>product</key>
			<string>mobageSpecialOffer5</string>
		</dict>
		<key>donutOffer6</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>10000</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Donuts Frenzy</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_donuts_frenzy</string>
			<key>product</key>
			<string>mobageSpecialOffer6</string>
		</dict>
		<key>doubleComboOffer0</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>35</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>35</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>double Combo</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_double_combo</string>
			<key>product</key>
			<string>mobageSpecialOffer0</string>
		</dict>
		<key>doubleComboOffer1</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>60</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>60</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>double Combo</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_double_combo</string>
			<key>product</key>
			<string>mobageSpecialOffer1</string>
		</dict>
		<key>doubleComboOffer2</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>120</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>120</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>double Combo</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_double_combo</string>
			<key>product</key>
			<string>mobageSpecialOffer2</string>
		</dict>
		<key>doubleComboOffer3</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>200</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>200</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>double Combo</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_double_combo</string>
			<key>product</key>
			<string>mobageSpecialOffer3</string>
		</dict>
		<key>doubleComboOffer4</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>400</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>400</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>double Combo</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_double_combo</string>
			<key>product</key>
			<string>mobageSpecialOffer4</string>
		</dict>
		<key>doubleComboOffer5</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>800</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>1200</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>double Combo</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_double_combo</string>
			<key>product</key>
			<string>mobageSpecialOffer5</string>
		</dict>
		<key>doubleComboOffer6</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>1500</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>3000</integer>
					<key>mysteryCard</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>double Combo</string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_double_combo</string>
			<key>product</key>
			<string>mobageSpecialOffer6</string>
		</dict>
		<key>mysteryCardOffer0</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
					<key>mysteryCard</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Mystery Pack </string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_mystery_pack</string>
			<key>product</key>
			<string>mobageSpecialOffer0</string>
		</dict>
		<key>mysteryCardOffer1</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
					<key>mysteryCard</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Mystery Pack </string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_mystery_pack</string>
			<key>product</key>
			<string>mobageSpecialOffer1</string>
		</dict>
		<key>mysteryCardOffer2</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
					<key>mysteryCard</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Mystery Pack </string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_mystery_pack</string>
			<key>product</key>
			<string>mobageSpecialOffer2</string>
		</dict>
		<key>mysteryCardOffer3</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
					<key>mysteryCard</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Mystery Pack </string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_mystery_pack</string>
			<key>product</key>
			<string>mobageSpecialOffer3</string>
		</dict>
		<key>mysteryCardOffer4</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
					<key>mysteryCard</key>
					<integer>125</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Mystery Pack </string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_mystery_pack</string>
			<key>product</key>
			<string>mobageSpecialOffer4</string>
		</dict>
		<key>mysteryCardOffer5</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
					<key>mysteryCard</key>
					<integer>250</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Mystery Pack </string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_mystery_pack</string>
			<key>product</key>
			<string>mobageSpecialOffer5</string>
		</dict>
		<key>mysteryCardOffer6</key>
		<dict>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
					<key>mysteryCard</key>
					<integer>700</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Mystery Pack </string>
			<key>localizedName</key>
			<string>lbl_cash_data_name_mystery_pack</string>
			<key>product</key>
			<string>mobageSpecialOffer6</string>
		</dict>
	</dict>
	<key>CashPool</key>
	<array>
		<dict>
			<key>Gfx</key>
			<string>fatPileOfCash.png</string>
			<key>Quantity</key>
			<integer>0</integer>
			<key>line2String</key>
			<string>&amp;Ywith &amp;WTapJoy</string>
			<key>localizedLine2String</key>
			<string>lbl_cash_data_with_tapjoy</string>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceIn</key>
			<integer>0</integer>
			<key>isTapjoyCard</key>
			<true/>
			<key>priceString</key>
			<string>FREE</string>
			<key>localizedPriceString</key>
			<string>lbl_cash_data_price_free</string>
			<key>Name</key>
			<string>Get FREE &amp;WCash</string>
			<key>localizedName</key>
			<string>lbl_cash_data_get_free_cash</string>
		</dict>
		<dict>
			<key>Gfx</key>
			<string>welcomeKitCard.png</string>
			<key>Quantity</key>
			<integer>0</integer>
			<key>line2String</key>
			<string>&amp;SO&amp; </string>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceIn</key>
			<integer>0</integer>
			<key>product</key>
			<string>cashPack0</string>
			<key>priceString</key>
			<string>FREE</string>
			<key>localizedPriceString</key>
			<string>lbl_cash_data_price_free</string>
			<key>Name</key>
			<string>Special &amp;WOffer</string>
			<key>localizedName</key>
			<string>lbl_cash_data_special_offer</string>
		</dict>
		<dict>
			<key>Gfx</key>
			<string>smallStackOfCash.png</string>
			<key>Quantity</key>
			<integer>40</integer>
			<key>product</key>
			<string>mobageCashPack1</string>
			<key>line2String</key>
			<string>&amp;WStarter &amp;YPack</string>
			<key>localizedLine2String</key>
			<string>lbl_cash_data_starter_pack</string>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceIn</key>
			<integer>5</integer>
			<key>priceString</key>
			<string>1.59€</string>
			<key>Name</key>
			<string>Stack of &amp;1&amp;W%i &amp;Wcash</string>
			<key>localizedName</key>
			<string>lbl_cash_data_stack_of_cash</string>
		</dict>
		<dict>
			<key>Gfx</key>
			<string>pileOfCash.png</string>
			<key>Quantity</key>
			<integer>72</integer>
			<key>product</key>
			<string>mobageCashPack2</string>
			<key>line2String</key>
			<string>&amp;WEconomic &amp;YPack</string>
			<key>localizedLine2String</key>
			<string>lbl_cash_data_economick_pack</string>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceIn</key>
			<integer>5</integer>
			<key>priceString</key>
			<string>2.59€</string>
			<key>Name</key>
			<string>Stack of &amp;W%i &amp;Wcash</string>
			<key>localizedName</key>
			<string>lbl_cash_data_stack_of_cash_economic</string>
		</dict>
		<dict>
			<key>Gfx</key>
			<string>boardOfCash.png</string>
			<key>priceString</key>
			<string>4.99€</string>
			<key>line2String</key>
			<string>&amp;WSmart &amp;YPack</string>
			<key>localizedLine2String</key>
			<string>lbl_cash_data_smart_pack</string>
			<key>product</key>
			<string>mobageCashPack3</string>
			<key>Quantity</key>
			<integer>155</integer>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceInCash</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Board of &amp;W%i &amp;Wcash</string>
			<key>localizedName</key>
			<string>lbl_cash_data_board_of_cash_smart</string>
		</dict>
		<dict>
			<key>priceString</key>
			<string>15.99€</string>
			<key>product</key>
			<string>mobageCashPack4</string>
			<key>Gfx</key>
			<string>fatPileOfCash.png</string>
			<key>line2String</key>
			<string>&amp;WPlayers &amp;YPack</string>
			<key>localizedLine2String</key>
			<string>lbl_cash_data_players_pack</string>
			<key>Quantity</key>
			<integer>323</integer>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceInCash</key>
			<integer>400</integer>
			<key>Name</key>
			<string>Fat pile of &amp;W%i &amp;Wcash</string>
			<key>localizedName</key>
			<string>lbl_cash_data_fat_pile_of_cash</string>
		</dict>
		<dict>
			<key>priceString</key>
			<string>49.99€</string>
			<key>product</key>
			<string>mobageCashPack5</string>
			<key>Gfx</key>
			<string>pyramidOfCash.png</string>
			<key>line2String</key>
			<string>&amp;WElite &amp;YPack</string>
			<key>localizedLine2String</key>
			<string>lbl_cash_data_elite_pack</string>
			<key>Quantity</key>
			<integer>887</integer>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceInCash</key>
			<integer>50</integer>
			<key>Name</key>
			<string>Pyramid of &amp;W%i &amp;Wcash</string>
			<key>localizedName</key>
			<string>lbl_cash_data_pyramid_of_cash</string>
		</dict>
		<dict>
			<key>priceString</key>
			<string>99.99€</string>
			<key>Gfx</key>
			<string>throneOfCash.png</string>
			<key>offSet</key>
			<integer>-7</integer>
			<key>product</key>
			<string>mobageCashPack6</string>
			<key>line2String</key>
			<string>&amp;WPrestige &amp;YPack</string>
			<key>localizedLine2String</key>
			<string>lbl_cash_data_prestige_pack</string>
			<key>Quantity</key>
			<integer>2295</integer>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceInCash</key>
			<integer>100</integer>
			<key>Name</key>
			<string>Citadel of &amp;W%i &amp;Wcash</string>
			<key>localizedName</key>
			<string>lbl_cash_data_citadel_of_cash</string>
		</dict>
	</array>
</dict>
</plist>
