<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NumberOfCarPerRow</key>
	<array>
		<dict>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>NumberOfCarPerRow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>displayTextBar</key>
			<string>Epic Collection Set</string>
			<key>localizedDisplayTextBar</key>
			<string>lbl_collection_data_epic_collection_set</string>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>displayTextBar</key>
			<string>CRAZY Collection Set</string>
			<key>localizedDisplayTextBar</key>
			<string>lbl_collection_data_crazy_collection_set</string>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>displayTextBar</key>
			<string>CRAZY Collection Set</string>
			<key>localizedDisplayTextBar</key>
			<string>lbl_collection_data_crazy_collection_set</string>
			<key>PlayerHasAchievedGoal</key>
			<integer>0</integer>
			<key>RewardPerRowAndStage</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
				<integer>2</integer>
			</array>
			<key>NumberOfCarPerRow</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
