<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allText</key>
	<array>
		<dict>
			<key>text</key>
			<string>CREDITS</string>
			<key>localizedText</key>
			<string>lbl_credits_data_credits</string>
			<key>type</key>
			<integer>1</integer>
			<key>fontSize</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Game Design - Code -  Art - Car Design - Writing - </string>
			<key>localizedText</key>
			<string>lbl_credits_data_game_design</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Online Code - Voice - Engine impersonator - Coffee Operator</string>
			<key>localizedText</key>
			<string>lbl_credits_data_online_code</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Intern - CEO -</string>
			<key>localizedText</key>
			<string>lbl_credits_data_intern_ceo</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Stanislas Dewavrin</string>
			<key>localizedText</key>
			<string>lbl_credits_data_stanislas_dewavrin</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>&quot;Standard-Man&quot;</string>
			<key>localizedText</key>
			<string>lbl_credits_data_standard_man</string>
			<key>type</key>
			<integer>4</integer>
			<key>fontSize</key>
			<integer>12</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Additional art, Marketing and life support </string>
			<key>localizedText</key>
			<string>lbl_credits_data_additional_art</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Anne-Joelle Dewavrin</string>
			<key>localizedText</key>
			<string>lbl_credits_data_anne_joelle_dewavrin</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>&quot;Best Wife Ever&quot;</string>
			<key>localizedText</key>
			<string>lbl_credits_data_best_wife_ever</string>
			<key>type</key>
			<integer>5</integer>
			<key>fontSize</key>
			<integer>12</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Additional Fart Sound</string>
			<key>localizedText</key>
			<string>lbl_credits_data_additional_fart_sound</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Baby Arthur</string>
			<key>localizedText</key>
			<string>lbl_credits_data_baby_arthur</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fontSize</key>
			<integer>10</integer>
			<key>text</key>
			<string>Digital Artist</string>
			<key>localizedText</key>
			<string>lbl_credits_data_digital_artist</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Andréas Bariseel</string>
			<key>localizedText</key>
			<string>lbl_credits_data_andreas_bariseel</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fontSize</key>
			<integer>10</integer>
			<key>text</key>
			<string>Community Support</string>
			<key>localizedText</key>
			<string>lbl_credits_data_community_support</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Hervé Phan</string>
			<key>localizedText</key>
			<string>lbl_credits_data_herve_phan</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fontSize</key>
			<integer>10</integer>
			<key>text</key>
			<string>Game Designer</string>
			<key>localizedText</key>
			<string>lbl_credits_data_game_designer</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Alexandre Buyck</string>
			<key>localizedText</key>
			<string>lbl_credits_data_alexandre_buyck</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fontSize</key>
			<integer>10</integer>
			<key>text</key>
			<string>Head of Development</string>
			<key>localizedText</key>
			<string>lbl_credits_data_head_of_development</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Martial Valery</string>
			<key>localizedText</key>
			<string>lbl_credits_data_martial_valery</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fontSize</key>
			<integer>10</integer>
			<key>text</key>
			<string>Senior Producer</string>
			<key>localizedText</key>
			<string>lbl_credits_data_senior_producer</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Allen Ma</string>
			<key>localizedText</key>
			<string>lbl_credits_data_allen_ma</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Ian Terrell</string>
			<key>localizedText</key>
			<string>lbl_credits_data_ian_terrell</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Lead Quality Assurance </string>
			<key>localizedText</key>
			<string>lbl_credits_data_lead_quality_assurance </string>
			<key>type</key>
			<integer>2</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Trey Derbes</string>
			<key>localizedText</key>
			<string>lbl_credits_data_trey_derbes</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fontSize</key>
			<integer>10</integer>
			<key>text</key>
			<string>Business Development Director</string>
			<key>localizedText</key>
			<string>lbl_credits_data_business_development_director</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Julian Stocker</string>
			<key>localizedText</key>
			<string>lbl_credits_data_julian_stocker</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Special Thanks</string>
			<key>localizedText</key>
			<string>lbl_credits_data_special_thanks</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Jérémie Périn - Splash Screen</string>
			<key>localizedText</key>
			<string>lbl_credits_data_splash_screen</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>12</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Family Partners</string>
			<key>localizedText</key>
			<string>lbl_credits_data_family_partners</string>
			<key>type</key>
			<integer>1</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Jean Francois Chatelain &amp; Pierre Pellet</string>
			<key>localizedText</key>
			<string>lbl_credits_data_pierre_pellet</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>12</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>PSA</string>
			<key>localizedText</key>
			<string>lbl_credits_data_psa</string>
			<key>type</key>
			<integer>1</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Anne-Laure Descleves</string>
			<key>localizedText</key>
			<string>lbl_credits_data_anne_laure_descleves</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>12</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>ProduitInterieurBrut.com</string>
			<key>type</key>
			<integer>1</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Vivien de Coincy</string>
			<key>localizedText</key>
			<string>lbl_credits_data_vivien_de_coincy</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>12</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>EasyPlomberie.fr</string>
			<key>type</key>
			<integer>1</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Tristan Verdouck</string>
			<key>localizedText</key>
			<string>lbl_credits_data_tristan_verdouck</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>12</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>PLAYTEST TEAM : &quot;Dr33ft Boyz&quot;</string>
			<key>localizedText</key>
			<string>lbl_credits_data_playtest_team</string>
			<key>type</key>
			<integer>1</integer>
			<key>fontSize</key>
			<integer>16</integer>
			<key>lineToJump</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>text</key>
			<string> Marc Parent, Jean François Chatelain, Tristan Verdouck</string>
			<key>localizedText</key>
			<string>lbl_credits_data_marc_parent</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Viven de Coincy, Laure Bonnet, Anne Joelle Dewavrin</string>
			<key>localizedText</key>
			<string>lbl_credits_data_laure_bonnet</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Wael Kelhifi, Aurore Dewavrin, Ilan Kaddouch</string>
			<key>localizedText</key>
			<string>lbl_credits_data_wael_kelhifi</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Family and friends who supported me </string>
			<key>localizedText</key>
			<string>lbl_credits_data_family</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Isabelle, Olivier, Aurore, Gaspard</string>
			<key>localizedText</key>
			<string>lbl_credits_data_isabelle</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Paloma, Angelina &amp; Celeste</string>
			<key>localizedText</key>
			<string>lbl_credits_data_paloma</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Jean Nicolas Vernin</string>
			<key>localizedText</key>
			<string>lbl_credits_data_vernin</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Lionel Raynaud</string>
			<key>localizedText</key>
			<string>lbl_credits_data_lionel_raynaud</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Monia &amp; Wael</string>
			<key>localizedText</key>
			<string>lbl_credits_data_monia</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>All my previous life colleagues</string>
			<key>localizedText</key>
			<string>lbl_credits_data_colleagues</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Josh Rampulla aka Grammar Sheriff, the Real CatMan</string>
			<key>localizedText</key>
			<string>lbl_credits_data_josh_rampulla</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>9GAG community for making me laugh, every single day.</string>
			<key>localizedText</key>
			<string>lbl_credits_data_community</string>
			<key>type</key>
			<integer>3</integer>
			<key>fontSize</key>
			<integer>10</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Copyright Oh BiBi Socialtainment 2012</string>
			<key>localizedText</key>
			<string>lbl_credits_data_copyright</string>
			<key>type</key>
			<integer>2</integer>
			<key>lineToJump</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>tips and tricks ? follow us on twitter @oh_bibi</string>
			<key>localizedText</key>
			<string>lbl_credits_data_twitter</string>
			<key>type</key>
			<integer>6</integer>
			<key>fontSize</key>
			<integer>8</integer>
			<key>lineToJump</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>NOW RELEASE THE KRAKHEN !!!!!!!!</string>
			<key>localizedText</key>
			<string>lbl_credits_data_krakhen</string>
			<key>type</key>
			<integer>7</integer>
			<key>fontSize</key>
			<integer>14</integer>
			<key>lineToJump</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>WHAT ARE YOU STILL DOING HERE ??? </string>
			<key>localizedText</key>
			<string>lbl_credits_data_doing</string>
			<key>type</key>
			<integer>7</integer>
			<key>fontSize</key>
			<integer>14</integer>
			<key>lineToJump</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Allright, here is a little secret:</string>
			<key>localizedText</key>
			<string>lbl_credits_data_secret</string>
			<key>type</key>
			<integer>7</integer>
			<key>fontSize</key>
			<integer>14</integer>
			<key>lineToJump</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Every now and then, you&apos;ll see a little red thing going super fast.</string>
			<key>localizedText</key>
			<string>lbl_credits_data_fast</string>
			<key>type</key>
			<integer>6</integer>
			<key>fontSize</key>
			<integer>8</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>It is actually Saint Patrick doing a one hand wheelie on his moped.</string>
			<key>localizedText</key>
			<string>lbl_credits_data_patrick</string>
			<key>type</key>
			<integer>6</integer>
			<key>fontSize</key>
			<integer>8</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Try to catch him if you can... </string>
			<key>localizedText</key>
			<string>lbl_credits_data_catch</string>
			<key>type</key>
			<integer>6</integer>
			<key>fontSize</key>
			<integer>8</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>Some say he might be carrying a TREASURE !!!</string>
			<key>localizedText</key>
			<string>lbl_credits_data_treasure</string>
			<key>type</key>
			<integer>6</integer>
			<key>fontSize</key>
			<integer>8</integer>
			<key>lineToJump</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>allSprite</key>
	<array>
		<dict>
			<key>spriteFrameName</key>
			<string>OhBiBiLogo.png</string>
			<key>position</key>
			<string>{240,380}</string>
			<key>scale</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>spriteFrameName</key>
			<string>creditsBibi.png</string>
			<key>position</key>
			<string>{240,-245}</string>
			<key>scale</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>carIndex</key>
			<integer>36</integer>
			<key>position</key>
			<string>{240,-600}</string>
			<key>scale</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>carIndex</key>
			<integer>57</integer>
			<key>position</key>
			<string>{240,330}</string>
			<key>scale</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>characterIndex</key>
			<integer>19</integer>
			<key>position</key>
			<string>{50,200}</string>
			<key>scale</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>characterIndex</key>
			<integer>29</integer>
			<key>position</key>
			<string>{50,-250}</string>
			<key>scale</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>characterIndex</key>
			<integer>33</integer>
			<key>position</key>
			<string>{100,40}</string>
			<key>scale</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>characterIndex</key>
			<integer>30</integer>
			<key>position</key>
			<string>{75,-500}</string>
			<key>scale</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>characterIndex</key>
			<integer>31</integer>
			<key>position</key>
			<string>{430,-330}</string>
			<key>scale</key>
			<integer>4</integer>
			<key>isFlip</key>
			<true/>
		</dict>
		<dict>
			<key>characterIndex</key>
			<integer>32</integer>
			<key>position</key>
			<string>{390,-510}</string>
			<key>scale</key>
			<integer>4</integer>
			<key>isFlip</key>
			<true/>
		</dict>
		<dict>
			<key>characterIndex</key>
			<integer>20</integer>
			<key>position</key>
			<string>{430,150}</string>
			<key>scale</key>
			<integer>4</integer>
			<key>isFlip</key>
			<true/>
		</dict>
		<dict>
			<key>spriteFile</key>
			<string>saintPatrickWheeling.png</string>
			<key>position</key>
			<string>{240,-2000}</string>
			<key>scale</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
