<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>speedAndDuration</key>
	<array>
		<dict>
			<key>speed</key>
			<integer>60</integer>
			<key>duration</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>speed</key>
			<integer>120</integer>
			<key>duration</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>speed</key>
			<integer>150</integer>
			<key>duration</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>speed</key>
			<integer>210</integer>
			<key>duration</key>
			<real>3.5</real>
		</dict>
		<dict>
			<key>speed</key>
			<integer>270</integer>
			<key>duration</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>speed</key>
			<integer>310</integer>
			<key>duration</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>speed</key>
			<integer>350</integer>
			<key>duration</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>speed</key>
			<integer>380</integer>
			<key>duration</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>reward</key>
	<array>
		<dict>
			<key>priceInCoins</key>
			<integer>50</integer>
			<key>priceInCash</key>
			<integer>0</integer>
			<key>carIndex</key>
			<array>
				<integer>1</integer>
				<integer>6</integer>
				<integer>51</integer>
				<integer>50</integer>
				<integer>90</integer>
			</array>
		</dict>
		<dict>
			<key>priceInCoins</key>
			<integer>0</integer>
			<key>priceInCash</key>
			<integer>1</integer>
			<key>carIndex</key>
			<array>
				<integer>70</integer>
				<integer>16</integer>
				<integer>26</integer>
				<integer>31</integer>
				<integer>91</integer>
			</array>
		</dict>
		<dict>
			<key>priceInCoins</key>
			<integer>0</integer>
			<key>priceInCash</key>
			<integer>2</integer>
			<key>carIndex</key>
			<array>
				<integer>71</integer>
				<integer>35</integer>
				<integer>29</integer>
				<integer>32</integer>
				<integer>72</integer>
				<integer>101</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
