<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{114, 70}, {16, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 17}</string>
			<key>spriteSourceSize</key>
			<string>{16, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 70}, {16, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{116, 0}, {16, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 17}</string>
			<key>spriteSourceSize</key>
			<string>{16, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 0}, {16, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chassis</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 36}</string>
			<key>spriteSourceSize</key>
			<string>{66, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {66, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>door1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{74, 70}, {35, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 19}</string>
			<key>spriteSourceSize</key>
			<string>{35, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{74, 70}, {35, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>engine</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 98}, {60, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 16}</string>
			<key>spriteSourceSize</key>
			<string>{60, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 98}, {60, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>exhaust1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 120}, {67, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 9}</string>
			<key>spriteSourceSize</key>
			<string>{67, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 120}, {67, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{92, 94}, {14, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 18}</string>
			<key>spriteSourceSize</key>
			<string>{14, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{92, 94}, {14, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{122, 42}, {12, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{12, 15}</string>
			<key>spriteSourceSize</key>
			<string>{12, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 42}, {12, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{74, 94}, {14, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 18}</string>
			<key>spriteSourceSize</key>
			<string>{14, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{74, 94}, {14, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{72, 0}, {40, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 27}</string>
			<key>spriteSourceSize</key>
			<string>{40, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 0}, {40, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{78, 42}, {39, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 23}</string>
			<key>spriteSourceSize</key>
			<string>{39, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{78, 42}, {39, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 70}, {68, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 24}</string>
			<key>spriteSourceSize</key>
			<string>{68, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 70}, {68, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{116, 22}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{13, 13}</string>
			<key>spriteSourceSize</key>
			<string>{13, 13}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 22}, {13, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{74, 116}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{13, 13}</string>
			<key>spriteSourceSize</key>
			<string>{13, 13}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{74, 116}, {13, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>window1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 42}, {72, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 23}</string>
			<key>spriteSourceSize</key>
			<string>{72, 23}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 42}, {72, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{136, 132}</string>
	</dict>
</dict>
</plist>
