<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventPool</key>
	<array>
		<dict>
			<key>canBeRandom</key>
			<false/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>SECURITY BREACH</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_security_breach</string>
			<key>title2</key>
			<string>INDUSTRIAL SPYING</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_spying</string>
			<key>sound</key>
			<string>securityBreach.mp3</string>
			<key>body</key>
			<string>A &amp;Rspy has taken pictures of your next model and plan to sell it to the &amp;Rcompetition. This might decrease your vehicle&apos;s demand and downgrade your innovation image.</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_spy</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>negative</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>-30</integer>
					<key>demandChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>specificDemand</key>
				<array/>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>-1</integer>
					<key>Confort</key>
					<integer>-1</integer>
					<key>Safety</key>
					<integer>-1</integer>
					<key>Luxury</key>
					<integer>-1</integer>
					<key>Innovation</key>
					<integer>-10</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Pay</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_pay</string>
					<key>line2</key>
					<string>Swallow your pride and sadness</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_swallow</string>
					<key>priceInCoins</key>
					<integer>1000</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>70</integer>
						<key>sucessString</key>
						<string>The spy gave you back the picture. You&apos;re safe now... until next time !!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_spy_back</string>
						<key>failureString</key>
						<string>The spy took the money and fleed to Cuba. The competition received the picture.</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_spy_took</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Ask CatMan some help</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_ask_catman</string>
					<key>line2</key>
					<string>Chase the spy to hell and beyond.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_spy_hell</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>1</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>100</integer>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_catman_caught</string>
						<key>sucessString</key>
						<string>CatMan caught the spy on the highway. The spy (minus some fingers) is now in the hand of the police.</string>
						<key>failureString</key>
						<string>lbl_event_data_text_catman_caught</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Let it be, I&apos;m cool with that.</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_let_it</string>
					<key>line2</key>
					<string>I&apos;ve never been very smart anyway.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_very_smart</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>0</integer>
						<key>sucessString</key>
						<string>0</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_the_spy</string>
						<key>failureString</key>
						<string>The spy sent the pictures to the competition. Expect to see copies very soon on the market...</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_spy_sent</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>canBeRandom</key>
			<true/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>THE GREEN HEAVEN</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_green_heaven</string>
			<key>title2</key>
			<string>The GRUUNBURGRING</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_gruunburgring</string>
			<key>body</key>
			<string>It&apos;s time for you to be a man, and show the world how fast your latest model can go around the &amp;Gtrack. Who are you going to send to lap the &amp;GGRUUNBURGING ??</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_its_time</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>35000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>1</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>40</integer>
					<key>demandChangeDuration</key>
					<integer>500</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>2</integer>
						<key>demandChange</key>
						<integer>20</integer>
						<key>demandChangeDuration</key>
						<integer>360</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>5</integer>
					<key>Confort</key>
					<integer>0</integer>
					<key>Safety</key>
					<integer>0</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Don&apos;t send anyone !</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_dont_send</string>
					<key>line2</key>
					<string>It will simply ruin the handling...</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_simply_ruin</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>0</integer>
						<key>sucessString</key>
						<string>non</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_non</string>
						<key>failureString</key>
						<string>Too bad, all your fans were expecting to see how fast you could go..</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_too_bad</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Send an employee</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_send_employee</string>
					<key>line2</key>
					<string>Let&apos;s hope he won&apos;t crash...</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_lets_hope</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>10</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>50</integer>
						<key>sucessString</key>
						<string>You did a lap in 8:43.549 which is not bad ! People want your car !!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_people_want</string>
						<key>failureString</key>
						<string>Your employee crashed in the last corner... Sorry.</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_employee_crashed</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Send the STOOGE</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_stooge</string>
					<key>line2</key>
					<string>Some say he can lap it in a nap.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_lap_nap</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>1</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>100</integer>
						<key>sucessString</key>
						<string>You did a lap in 8:10:430 which is super FAST ! Everyone wants your car now.</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_super_fast</string>
						<key>failureString</key>
						<string>non</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_non</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>canBeRandom</key>
			<true/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>PRESS DAY</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_press_day</string>
			<key>title2</key>
			<string>Auto Journalists EVERYWHERE</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_journalists</string>
			<key>body</key>
			<string>&amp;OJournalists from around the &amp;Oworld are coming to test your latest creations tomorrow. Will you give your cars a special treatment ?</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_special_treatment</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>30000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>100</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>20</integer>
					<key>demandChangeDuration</key>
					<integer>500</integer>
				</dict>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>4</integer>
					<key>Confort</key>
					<integer>4</integer>
					<key>Safety</key>
					<integer>4</integer>
					<key>Luxury</key>
					<integer>4</integer>
					<key>Innovation</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Let them test stock car !</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_stock_car</string>
					<key>line2</key>
					<string>I&apos;m pretty sure they&apos;ll like it !</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_pretty_sure</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>50</integer>
						<key>sucessString</key>
						<string>Honesty paid this times ! They gave great reviews in most magazines !</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_honesty_paid</string>
						<key>failureString</key>
						<string>Woops, seems like your car weren&apos;t so great this time... You&apos;ve got plenty of bad reviews...</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_woops</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Let&apos;s boost the engine !!</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_boost_engine</string>
					<key>line2</key>
					<string>They&apos;ll never know anyway... </string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_never_known</string>
					<key>priceInCoins</key>
					<integer>500</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>50</integer>
						<key>sucessString</key>
						<string> They gave great reviews in most magazines ! They praised your car&apos;s power !</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_great_reviews</string>
						<key>failureString</key>
						<string>Woops, seems like journalists discover what you did... You&apos;ve got plenty of bad reviews...</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_bad_reviews</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Rent a Track for the day</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_rent_track</string>
					<key>line2</key>
					<string>They&apos;ll be able to test the limits.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_test_limits</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>1</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>100</integer>
						<key>sucessString</key>
						<string>All journalists spent a great day, they gave great reviews in most magazines !</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_most_magazines</string>
						<key>failureString</key>
						<string>non</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_non</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>canBeRandom</key>
			<true/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>INTERNATIONAL CAR SHOW</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_car_show</string>
			<key>title2</key>
			<string>Big City Mega Auto Show</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_big_city</string>
			<key>body</key>
			<string>It&apos;s time for the annual gathering of automobile company and their fans. Everyone will be doing something amazing to get some attention ! What will you do this year ?</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_this_year</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>50000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>10</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>30</integer>
					<key>demandChangeDuration</key>
					<integer>500</integer>
				</dict>
				<key>specificDemand</key>
				<array/>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>0</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>4</integer>
					<key>Confort</key>
					<integer>4</integer>
					<key>Safety</key>
					<integer>4</integer>
					<key>Luxury</key>
					<integer>4</integer>
					<key>Innovation</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Don&apos;t attend ! It&apos;s too costly.</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_too_costly</string>
					<key>line2</key>
					<string>I&apos;m a small company anyway, who cares ?</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_who_cares</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>0</integer>
						<key>sucessString</key>
						<string>none</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_none</string>
						<key>failureString</key>
						<string>Your fans were expecting you, it&apos;s a great disappointment... rumors about your financial situation are spreading now...</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_spreading_now</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Build a unique concept car !</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_concept_car</string>
					<key>line2</key>
					<string>Make a show stealer, it&apos;s time to dream !</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_show_stealer</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>1</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>100</integer>
						<key>sucessString</key>
						<string>Fans were ecstatic, your concept car was elected best of the show !! </string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_best_show</string>
						<key>failureString</key>
						<string>non</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_non</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Get a booth and babes </string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_get_booth</string>
					<key>line2</key>
					<string>That will do some magic !</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_some_magic</string>
					<key>priceInCoins</key>
					<integer>1500</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>50</integer>
						<key>sucessString</key>
						<string>Your booth was full of potential customer ! Very good !!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_very_good</string>
						<key>failureString</key>
						<string>Customer were expecting a little bit more.. you didn&apos;t show anything new.</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_anything_new</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>canBeRandom</key>
			<true/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>Massive Defect</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_massive_defect</string>
			<key>title2</key>
			<string>Should you order a Recall ?</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_order_recall</string>
			<key>body</key>
			<string>Many of your customers are reporting &amp;Rissues with &amp;Odoors that won&apos;t &amp;Oclose. You need to do something before it escalates. What&apos;s that going to be ?</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_reporting_issures</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>negative</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>-30</integer>
					<key>demandChangeDuration</key>
					<integer>500</integer>
				</dict>
				<key>specificDemand</key>
				<array/>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>-5</integer>
					<key>qualityChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>-2</integer>
					<key>Confort</key>
					<integer>-2</integer>
					<key>Safety</key>
					<integer>-18</integer>
					<key>Luxury</key>
					<integer>-2</integer>
					<key>Innovation</key>
					<integer>-2</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Tell them to buy duct tapes.</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_duct_tapes</string>
					<key>line2</key>
					<string>They&apos;re too dumb to properly shut a door.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_too_dumb</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>0</integer>
						<key>sucessString</key>
						<string>none</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_none</string>
						<key>failureString</key>
						<string>Nice try !! But it has damaged your image, next time pay more attention to your customer.</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_nice_try</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Send DIY fix instructions.</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_diy_fix</string>
					<key>line2</key>
					<string>Not serious enough to make a recall...</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_make_recall</string>
					<key>priceInCoins</key>
					<integer>900</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>50</integer>
						<key>sucessString</key>
						<string>It created the buzz on the web, customers actually enjoyed doing that !</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_buzz_web</string>
						<key>failureString</key>
						<string>Only 10% of the customers followed the instructions. The problem is persisting.</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_only10</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Order Massive Recall</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_order_massive</string>
					<key>line2</key>
					<string>This needs urgent and proper fixing.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_proper_fixing</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>15</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>100</integer>
						<key>sucessString</key>
						<string>Every fans praise your professionalism. That&apos;s how you do it. You&apos;re good.</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_fans_praise</string>
						<key>failureString</key>
						<string>none</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_none</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>canBeRandom</key>
			<true/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>Angry Customer</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_angry_customer</string>
			<key>title2</key>
			<string>This one is very upset...</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_very_upset</string>
			<key>body</key>
			<string>A customer has written mail directly to you. His car&apos;s &amp;Oengine has &amp;Rblown up one week after he purchased it. Your dealer has refused to take this under his &amp;Owarranty. What will you do ?</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_written_mail</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>negative</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>0</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>-10</integer>
					<key>demandChangeDuration</key>
					<integer>500</integer>
				</dict>
				<key>specificDemand</key>
				<array/>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>-5</integer>
					<key>Confort</key>
					<integer>-5</integer>
					<key>Safety</key>
					<integer>-15</integer>
					<key>Luxury</key>
					<integer>-10</integer>
					<key>Innovation</key>
					<integer>-5</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Ignore him. </string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_ignore_him</string>
					<key>line2</key>
					<string>He was certainly hooning the car.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_hooning_car</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>0</integer>
						<key>sucessString</key>
						<string>none</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_none</string>
						<key>failureString</key>
						<string>The customer told his story to every blog to complain. Your company image has been damaged.</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_customer_told</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Fix the engine at the factory</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_fix_engine</string>
					<key>line2</key>
					<string>It&apos;s the minimum I should do.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_its_minimum</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>5</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>50</integer>
						<key>sucessString</key>
						<string>Great ! The customer was happy and stopped complaining. His car is back on the road.</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_back_road</string>
						<key>failureString</key>
						<string>The customer expected more. Your car shouldn&apos;t have failed in the first place !</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_first_place</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Get him a new car</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_new_car</string>
					<key>line2</key>
					<string>and a superior model for the trouble.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_model_trouble</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>3</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>100</integer>
						<key>sucessString</key>
						<string>The customer was super pleased, he told everyone about your generosity.</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_your_generosity</string>
						<key>failureString</key>
						<string>none</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_none</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>canBeRandom</key>
			<true/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>24H ENDURANCE</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_24h</string>
			<key>title2</key>
			<string>The best race of the year</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_best_race</string>
			<key>body</key>
			<string>It&apos;s time for you to show the world how powerful and reliable your cars are ! You can gain a lot from this race... if you win !</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_you_win</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>1000000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>20</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>20</integer>
					<key>demandChangeDuration</key>
					<integer>500</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>2</integer>
						<key>demandChange</key>
						<integer>50</integer>
						<key>demandChangeDuration</key>
						<integer>500</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>20</integer>
					<key>Confort</key>
					<integer>0</integer>
					<key>Safety</key>
					<integer>5</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Attend the race as spectactor.</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_race_spectactor</string>
					<key>line2</key>
					<string>It will be good show they said.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_good_show</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>0</integer>
						<key>sucessString</key>
						<string>none</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_none</string>
						<key>failureString</key>
						<string>It was a good show indeed, but some other company won all the fame and glory...</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_fame_glory</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Sponsorize a team</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_sponsorize_team</string>
					<key>line2</key>
					<string>I&apos;ll gain some cheap visibility !</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_cheap_visibility</string>
					<key>priceInCoins</key>
					<integer>5000</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>15</integer>
						<key>sucessString</key>
						<string>AMAZING !! Everyone crashed before the end, only your sponsorized team survived ! You&apos;ve won !!!!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_amazing</string>
						<key>failureString</key>
						<string>Hey, what did you expect ? The team you sponsorized lacked everything, they failed on the second lap...</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_second_lap</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Send a Factory Team</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_factory_team</string>
					<key>line2</key>
					<string>Spare no expenses.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_spare_no</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>5</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>50</integer>
						<key>sucessString</key>
						<string>You dominated the event ! You&apos;re a true winner. People will want your sports car now !!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_you_dominated</string>
						<key>failureString</key>
						<string>Unfortunately your car didn&apos;t make it to the end. Maybe better luck next time ?</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_better_luck</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>canBeRandom</key>
			<true/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>LAND SPEED RECORD</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_speed_record</string>
			<key>title2</key>
			<string>Targeting 300mph</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_300mph</string>
			<key>body</key>
			<string>Some crazy pilot wants to use one of your modified cars to beat the &amp;Gworld &amp;Gspeed &amp;Grecord in a mass production vehicle. That&apos;s risky business don&apos;t you think ?</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_risky_business</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>50000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>10</integer>
					<key>demandChangeDuration</key>
					<integer>500</integer>
				</dict>
				<key>specificDemand</key>
				<array>
					<dict>
						<key>vehicleTarget</key>
						<integer>2</integer>
						<key>demandChange</key>
						<integer>50</integer>
						<key>demandChangeDuration</key>
						<integer>500</integer>
					</dict>
					<dict>
						<key>vehicleTarget</key>
						<integer>4</integer>
						<key>demandChange</key>
						<integer>20</integer>
						<key>demandChangeDuration</key>
						<integer>500</integer>
					</dict>
				</array>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>15</integer>
					<key>Confort</key>
					<integer>0</integer>
					<key>Safety</key>
					<integer>15</integer>
					<key>Luxury</key>
					<integer>0</integer>
					<key>Innovation</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Don&apos;t encourage the fool !</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_dont_fool</string>
					<key>line2</key>
					<string>This is DOOMED from the beginning</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_doomed</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>0</integer>
						<key>sucessString</key>
						<string>none</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_none</string>
						<key>failureString</key>
						<string>The fool did beat the record. With another brand that got all the benefits from it.</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_got_all</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Give him fuel + a helmet</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_give_him</string>
					<key>line2</key>
					<string>and good luck joe.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_luck_joe</string>
					<key>priceInCoins</key>
					<integer>950</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>40</integer>
						<key>sucessString</key>
						<string>AMAZING !! He beat the record ! Everyone is buzzing about it now !!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_buzzing_about</string>
						<key>failureString</key>
						<string>The car disintegrated around 200mph. All we found of him was a shoe.</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_200mph</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Fully support him.</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_fully_support</string>
					<key>line2</key>
					<string>Put engineers on the subject.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_put_engineers</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>2</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>80</integer>
						<key>sucessString</key>
						<string>AMAZING !! He beat the record ! Everyone is buzzing about it now !!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_buzzing_about</string>
						<key>failureString</key>
						<string>The car went up to 298MPH...and didn&apos;t break the record, maybe better luck next time ?</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_298mph</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>canBeRandom</key>
			<true/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>FOOTBALL FINALE</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_football_finale</string>
			<key>title2</key>
			<string>Massive Advertising</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_massive_advertising</string>
			<key>body</key>
			<string>This is football season finale, and everyone will be stuck to their TV watching the game. It&apos;s a great opportunity to gain some visibility from a well placed TV ad. Can you leverage this ?</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_football_seasone</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>1000000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>0</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>50</integer>
					<key>demandChangeDuration</key>
					<integer>500</integer>
				</dict>
				<key>specificDemand</key>
				<array/>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>15</integer>
					<key>Confort</key>
					<integer>30</integer>
					<key>Safety</key>
					<integer>15</integer>
					<key>Luxury</key>
					<integer>30</integer>
					<key>Innovation</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Watch the finale</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_watch_finale</string>
					<key>line2</key>
					<string>I don&apos;t have money for that.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_have_money</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>0</integer>
						<key>sucessString</key>
						<string>none</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_none</string>
						<key>failureString</key>
						<string>The game was awesome ! As were the advertising for other car companies !</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_car_companies</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Make a funny ad</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_funny_ad</string>
					<key>line2</key>
					<string>A skateboard dog and a bear juggling.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_bear_juggling</string>
					<key>priceInCoins</key>
					<integer>8000</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>50</integer>
						<key>sucessString</key>
						<string>The buzz took off and every body is watching your ad on the internet, congratulation !!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_the_buzz</string>
						<key>failureString</key>
						<string>That dog was funny and that bear could juggle !!! But what did you try to sell exactly ??</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_that_dog</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Get Fat CheeZ to appear</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_get_fat</string>
					<key>line2</key>
					<string>Be super emotional.</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_be_super</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>5</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>100</integer>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_everyone_was</string>
						<key>sucessString</key>
						<string>Everyone was crying that night, not because their team lost, but because... they fell in love... with you !</string>
						<key>failureString</key>
						<string>none</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_none</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>canBeRandom</key>
			<true/>
			<key>specialTrigger</key>
			<integer>0</integer>
			<key>title</key>
			<string>CAR OF THE YEAR</string>
			<key>localizedTitle</key>
			<string>lbl_event_data_text_car_year</string>
			<key>title2</key>
			<string>Who&apos;s number 1 ?</string>
			<key>localizedTitle2</key>
			<string>lbl_event_data_text_number1</string>
			<key>body</key>
			<string>Journalist have gathered to elect the &amp;OBEST car of the &amp;Oyear. All car makers are bringing their top models from every places of the world, this is a super opportunity to shine ! What will you bring ?</string>
			<key>localizedBody</key>
			<string>lbl_event_data_text_you_bring</string>
			<key>consequence</key>
			<dict>
				<key>consequenceType</key>
				<string>positive</string>
				<key>ressources</key>
				<dict>
					<key>reputation</key>
					<integer>2000000</integer>
					<key>coins</key>
					<integer>0</integer>
					<key>cash</key>
					<integer>0</integer>
					<key>xp</key>
					<integer>0</integer>
					<key>donuts</key>
					<integer>15</integer>
				</dict>
				<key>generalDemand</key>
				<dict>
					<key>demandChange</key>
					<integer>50</integer>
					<key>demandChangeDuration</key>
					<integer>500</integer>
				</dict>
				<key>specificDemand</key>
				<array/>
				<key>quality</key>
				<dict>
					<key>qualityChange</key>
					<integer>0</integer>
					<key>qualityChangeDuration</key>
					<integer>360</integer>
				</dict>
				<key>image</key>
				<dict>
					<key>Sport</key>
					<integer>15</integer>
					<key>Confort</key>
					<integer>30</integer>
					<key>Safety</key>
					<integer>15</integer>
					<key>Luxury</key>
					<integer>30</integer>
					<key>Innovation</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>answerPool</key>
			<array>
				<dict>
					<key>line1</key>
					<string>Send a Bendy Coupe</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_send_bendy</string>
					<key>line2</key>
					<string>They&apos;ll love the price...</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_love_price</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>0</integer>
						<key>sucessString</key>
						<string>none</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_none</string>
						<key>failureString</key>
						<string>Sending your cheapest car didn&apos;t impress much... sorry for you, a SUPER CAR won the prize !</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_sorry_you</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Unleash the GREEN MANGUST !</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_green_mangust</string>
					<key>line2</key>
					<string>And watch the competition BURN !</string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_watch_burn</string>
					<key>priceInCoins</key>
					<integer>0</integer>
					<key>priceInCash</key>
					<integer>15</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>100</integer>
						<key>sucessString</key>
						<string>You were elected BEST CAR of the YEAR ! CONGRATULATIONS !!!!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_elected_car</string>
						<key>failureString</key>
						<string>none</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_none</string>
					</dict>
				</dict>
				<dict>
					<key>line1</key>
					<string>Send a Legran V12</string>
					<key>localizedLine1</key>
					<string>lbl_event_data_text_send_legran</string>
					<key>line2</key>
					<string>it&apos;s only been around for 10 years.. </string>
					<key>localizedLine2</key>
					<string>lbl_event_data_text_10years</string>
					<key>priceInCoins</key>
					<integer>15000</integer>
					<key>priceInCash</key>
					<integer>0</integer>
					<key>priceInDonuts</key>
					<integer>0</integer>
					<key>outcome</key>
					<dict>
						<key>sucessRate</key>
						<integer>40</integer>
						<key>sucessString</key>
						<string>Everyone was impressed by such luxury ! You were elected CAR OF THE YEAR !!!</string>
						<key>localizedSucessString</key>
						<string>lbl_event_data_text_such_luxury</string>
						<key>failureString</key>
						<string>Someone stole the car on the parking lot... she never went to the test..</string>
						<key>localizedFailureString</key>
						<string>lbl_event_data_text_went_test</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
