<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hallOfFame</key>
	<dict>
		<key>name</key>
		<string>Hall</string>
		<key>localizedName</key>
		<string>lbl_custom_offer_event_name_hall</string>
		<key>isActive</key>
		<true/>
		<key>body</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>line</key>
				<integer>1</integer>
				<key>fontSize</key>
				<integer>2</integer>
				<key>bgColor</key>
				<string>255,222,0,255</string>
			</dict>
			<dict>
				<key>text</key>
				<string>HALL OF FAME</string>
				<key>localizedText</key>
				<string>lbl_custom_offer_event_hall_text_flame</string>
				<key>line</key>
				<real>0.8</real>
				<key>fontSize</key>
				<integer>24</integer>
				<key>gradientStartColor</key>
				<string>255,0,0,255</string>
				<key>gradientEndColor</key>
				<string>183,3,0,255</string>
				<key>textColor</key>
				<string>255,222,0,255</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>text</key>
				<string></string>
				<key>line</key>
				<integer>1</integer>
				<key>fontSize</key>
				<integer>2</integer>
				<key>bgColor</key>
				<string>255,222,0,255</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Welcome to the Hall of Fame where the &amp;Ybest &amp;Yplayers &amp;Yperformance are stored for &amp;Yeternity !</string>
				<key>localizedText</key>
				<string>lbl_custom_offer_event_hall_text_welcome</string>
				<key>line</key>
				<integer>3</integer>
				<key>gradientStartColor</key>
				<string>84,0,0,255</string>
				<key>gradientEndColor</key>
				<string>127,6,0,255</string>
				<key>textColor</key>
				<string>183,3,0,255</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>text</key>
				<string>YOUR RANKINGS HISTORY</string>
				<key>localizedText</key>
				<string>lbl_custom_offer_event_hall_text_history</string>
				<key>line</key>
				<integer>1</integer>
				<key>fontSize</key>
				<integer>16</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>textColor</key>
				<string>40,139,220</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>dynamicZone</key>
				<string>eventHistory</string>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>text</key>
				<string>Average Rankings: &amp;ARK&amp;</string>
				<key>localizedText</key>
				<string>lbl_custom_offer_event_hall_text_avg</string>
				<key>line</key>
				<integer>1</integer>
				<key>fontSize</key>
				<integer>12</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>textColor</key>
				<string>40,139,220</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>text</key>
				<string></string>
				<key>fontSize</key>
				<string>16</string>
				<key>line</key>
				<integer>1</integer>
				<key>bgColor</key>
				<string>127,6,0,255</string>
				<key>textColor</key>
				<string>183,3,0,255</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>text</key>
				<string>&amp;TS&amp; LAST WINNER &amp;TS&amp;</string>
				<key>localizedText</key>
				<string>lbl_custom_offer_event_hall_text_last_winner</string>
				<key>line</key>
				<real>0.8</real>
				<key>fontSize</key>
				<integer>18</integer>
				<key>gradientStartColor</key>
				<string>255,0,0,255</string>
				<key>gradientEndColor</key>
				<string>183,3,0,255</string>
				<key>textColor</key>
				<string>255,128,0,255</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>height</key>
				<integer>30</integer>
				<key>bgColor</key>
				<string>6,20,44,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>friendCard</key>
						<string>leaderboard</string>
						<key>buttonScale</key>
						<real>2.3</real>
						<key>displayString</key>
						<string> race points</string>
						<key>localizedDisplayString</key>
						<string>lbl_custom_offer_event_grand_prix_text_race_points</string>
						<key>leaderboard</key>
						<string>campaign2013King</string>
						<key>rankingNumber</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>text</key>
				<string>ALL EVENTS WINNERS</string>
				<key>localizedText</key>
				<string>lbl_custom_offer_event_hall_text_all_events</string>
				<key>line</key>
				<real>0.8</real>
				<key>fontSize</key>
				<integer>18</integer>
				<key>gradientStartColor</key>
				<string>255,0,0,255</string>
				<key>gradientEndColor</key>
				<string>183,3,0,255</string>
				<key>textColor</key>
				<string>255,128,0,255</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>text</key>
				<string>2013 King </string>
				<key>localizedText</key>
				<string>lbl_extra_custom_offer_event_2013_king</string>
				<key>line</key>
				<real>0.8</real>
				<key>fontSize</key>
				<integer>14</integer>
				<key>bgColor</key>
				<string>255,128,0,255</string>
				<key>textColor</key>
				<string>255,222,0,255</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Coming soon.</string>
				<key>localizedText</key>
				<string>lbl_extra_custom_offer_event_comming_soon</string>
				<key>line</key>
				<integer>1</integer>
				<key>textColor</key>
				<string>40,139,220</string>
				<key>shadowColor</key>
				<string>6,76,134,40</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
		</array>
	</dict>
	<key>extraMonsterData</key>
	<dict>
		<key>frankenDelio2</key>
		<dict>
			<key>name</key>
			<string>Franken Delio</string>
			<key>localizedName</key>
			<string>lbl_extra_custom_offer_event_franken_delio</string>
			<key>WorkerModel</key>
			<string>Monster</string>
			<key>localizedWorkerModel</key>
			<string>lbl_monster_data_model_monster</string>
			<key>level</key>
			<integer>1</integer>
			<key>workerIndex</key>
			<integer>0</integer>
			<key>stamina</key>
			<integer>500</integer>
			<key>curStamina</key>
			<integer>500</integer>
			<key>curXp</key>
			<integer>0</integer>
			<key>Price</key>
			<array>
				<dict>
					<key>PriceInCash</key>
					<integer>89</integer>
				</dict>
			</array>
			<key>workerModelData</key>
			<dict>
				<key>Name</key>
				<string>Monster</string>
				<key>localizedName</key>
				<string>lbl_monster_data_model_monster</string>
				<key>infoText</key>
				<string>Franken Delio is a &amp;Oliving &amp;Ocorpse. Doc assembled him to take care of dirty task in the factory. The brain comes from a psychopath.</string>
				<key>localizedInfoText</key>
				<string>bl_extra_custom_offer_event_info_franken_delio</string>
				<key>qualityMin</key>
				<integer>100</integer>
				<key>qualityMax</key>
				<integer>300</integer>
				<key>speedMin</key>
				<integer>120</integer>
				<key>speedMax</key>
				<integer>240</integer>
				<key>wpMin</key>
				<integer>1000</integer>
				<key>wpMax</key>
				<integer>1400</integer>
				<key>staminaMin</key>
				<integer>500</integer>
				<key>staminaMax</key>
				<integer>620</integer>
				<key>strong</key>
				<array>
					<string>70:3:3:3:4</string>
					<string>95:2:2:3:3</string>
					<string>93:2:2:3:4</string>
				</array>
			</dict>
			<key>spriteDic</key>
			<dict>
				<key>race</key>
				<string>Monster</string>
				<key>localizedRace</key>
				<string>lbl_monster_data_model_monster</string>
				<key>sex</key>
				<string>male</string>
				<key>helmetOffset</key>
				<string>{1,0}</string>
				<key>onlineHelmet</key>
				<string>frankenHelmet.png</string>
				<key>onlineLeftArm</key>
				<string>frankenLeftArm.png</string>
				<key>2onlineHammer</key>
				<string>greenHammer.png</string>
				<key>onlineRightArm</key>
				<string>frankenRightArm.png</string>
				<key>onlineHammer</key>
				<string>frankenHammer.png</string>
				<key>beard2</key>
				<dict>
					<key>partSelected</key>
					<integer>0</integer>
					<key>offset</key>
					<string>{0,1}</string>
					<key>imageName</key>
					<string>greenBeard.png</string>
				</dict>
				<key>body</key>
				<dict>
					<key>offset</key>
					<string>{0,0}</string>
					<key>imageName</key>
					<string>frankenFullBody.png</string>
				</dict>
				<key>legs</key>
				<dict>
					<key>partSelected</key>
					<integer>2</integer>
					<key>offset</key>
					<string>{0,0}</string>
					<key>imageName</key>
					<string>greenLeg.png</string>
				</dict>
				<key>name</key>
				<string>Franken Delio</string>
				<key>localizedName</key>
				<string>lbl_extra_custom_offer_event_franken_delio</string>
				<key>shoes</key>
				<dict>
					<key>partSelected</key>
					<integer>3</integer>
					<key>offset</key>
					<string>{0,0}</string>
					<key>imageName</key>
					<string>greenShoe.png</string>
				</dict>
			</dict>
			<key>workerModificator</key>
			<array/>
			<key>weak</key>
			<array>
				<string>101:1:-1:1:1</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
