<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{88, 140}, {16, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 17}</string>
			<key>spriteSourceSize</key>
			<string>{16, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{88, 140}, {16, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{24, 172}, {16, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 17}</string>
			<key>spriteSourceSize</key>
			<string>{16, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{24, 172}, {16, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chassis</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 110}, {83, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 11}</string>
			<key>spriteSourceSize</key>
			<string>{83, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 110}, {83, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>door1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 146}, {18, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 27}</string>
			<key>spriteSourceSize</key>
			<string>{18, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 146}, {18, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>door2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 56}, {94, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{94, 17}</string>
			<key>spriteSourceSize</key>
			<string>{94, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 56}, {94, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>engine</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 126}, {56, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 16}</string>
			<key>spriteSourceSize</key>
			<string>{56, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 126}, {56, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>exhaust1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{54, 78}, {66, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 15}</string>
			<key>spriteSourceSize</key>
			<string>{66, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{54, 78}, {66, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{62, 166}, {16, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 22}</string>
			<key>spriteSourceSize</key>
			<string>{16, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 166}, {16, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{88, 110}, {10, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 11}</string>
			<key>spriteSourceSize</key>
			<string>{10, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{88, 110}, {10, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{100, 56}, {23, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 16}</string>
			<key>spriteSourceSize</key>
			<string>{23, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 56}, {23, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{62, 126}, {66, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 10}</string>
			<key>spriteSourceSize</key>
			<string>{66, 10}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 126}, {66, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{100, 0}, {30, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 39}</string>
			<key>spriteSourceSize</key>
			<string>{30, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 0}, {30, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 78}, {49, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 27}</string>
			<key>spriteSourceSize</key>
			<string>{49, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 78}, {49, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{62, 140}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 140}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{24, 146}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{24, 146}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>window1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 50}</string>
			<key>spriteSourceSize</key>
			<string>{95, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {95, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{132, 192}</string>
	</dict>
</dict>
</plist>
