<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MenuSwitches</key>
	<dict>
		<key>it</key>
		<integer>1</integer>
		<key>de</key>
		<real>0.9</real>
		<key>es</key>
		<integer>1</integer>
	</dict>
	<key>Consequence</key>
	<dict>
		<key>it</key>
		<real>0.9</real>
		<key>de</key>
		<real>0.8</real>
		<key>es</key>
		<real>0.9</real>
	</dict>
	<key>BottomUI</key>
	<dict>
		<key>it</key>
		<real>0.8</real>
		<key>de</key>
		<real>0.9</real>
		<key>es</key>
		<real>0.9</real>
	</dict>
	<key>Categories</key>
	<dict>
		<key>it</key>
		<real>0.8</real>
		<key>de</key>
		<real>0.9</real>
		<key>es</key>
		<real>0.7</real>
	</dict>
	<key>Tutorial</key>
	<dict>
		<key>it</key>
		<real>0.9</real>
		<key>de</key>
		<real>0.8</real>
		<key>es</key>
		<real>0.9</real>
	</dict>
	<key>RandomEvent</key>
	<dict>
		<key>it</key>
		<real>0.8</real>
		<key>de</key>
		<real>0.75</real>
		<key>es</key>
		<real>0.8</real>
	</dict>
	<key>Description</key>
	<dict>
		<key>en</key>
		<string>1</string>
		<key>it</key>
		<real>0.9</real>
		<key>de</key>
		<real>0.8</real>
		<key>es</key>
		<real>0.9</real>
	</dict>
	<key>CardsTitles</key>
	<dict>
		<key>it</key>
		<real>0.7</real>
		<key>de</key>
		<real>0.8</real>
		<key>es</key>
		<real>0.7</real>
	</dict>
</dict>
</plist>
