<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secondsForFreeDonuts</key>
	<integer>300</integer>
	<key>secondForFreeFuel</key>
	<integer>1800</integer>
	<key>freeDonutsPerShare</key>
	<integer>2</integer>
	<key>fti</key>
	<string>20</string>
	<key>mdl</key>
	<string>30</string>
	<key>fbcr</key>
	<string>7</string>
	<key>confirmationDelay</key>
	<real>3.5</real>
	<key>BannerParameters</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>conditions</key>
		<dict/>
	</dict>
	<key>InterstitialParameters</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>intervalInSeconds</key>
		<string>30</string>
		<key>conditions</key>
		<dict/>
	</dict>
	<key>RewardedVideoParameters</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>rewardedVideosPerInterval</key>
		<integer>2</integer>
		<key>intervalInSeconds</key>
		<string>360</string>
		<key>consequence</key>
		<dict>
			<key>consequenceType</key>
			<string>positive</string>
			<key>eventToReport</key>
			<string>rewardedVideoGiftCollected</string>
			<key>ressources</key>
			<dict>
				<key>mysteryCardByIndex</key>
				<dict>
					<key>pool</key>
					<string>188,187,185,152,150,149,132,130,129,128,127,126,125,106,102,56,55,54,51,65,62,59,98,95,90,91,91,91,92,92,92,43,38,47,46,45,44,28,41,40,33,32,0,9,8,13,57,29,1</string>
					<key>amount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>tm</key>
	<true/>
	<key>spc</key>
	<integer>25</integer>
	<key>acs</key>
	<true/>
	<key>needDonutsShowUpgrade</key>
	<true/>
	<key>savedata_interval</key>
	<real>1</real>
	<key>treshold</key>
	<dict>
		<key>b</key>
		<integer>15</integer>
		<key>c</key>
		<integer>30</integer>
		<key>d</key>
		<integer>45</integer>
		<key>ref</key>
		<integer>6</integer>
		<key>twi</key>
		<integer>15</integer>
		<key>like</key>
		<integer>20</integer>
	</dict>
</dict>
</plist>
