<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoApply</key>
	<dict>
		<key>name</key>
		<string>mail</string>
		<key>lengthInHours</key>
		<string>2</string>
		<key>isActive</key>
		<true/>
		<key>isAutoApply</key>
		<true/>
		<key>consequence</key>
		<dict>
			<key>consequenceType</key>
			<string>positive</string>
			<key>ressources</key>
			<dict/>
		</dict>
	</dict>
	<key>message1</key>
	<dict>
		<key>name</key>
		<string>mail</string>
		<key>version</key>
		<integer>12</integer>
		<key>lengthInHours</key>
		<string>24</string>
		<key>isActive</key>
		<true/>
		<key>body</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>ohBiBi688.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string>MOTOR WORLD RECOVER KIT</string>
				<key>localizedText</key>
				<string>lbl_iap_recover_title</string>
				<key>line</key>
				<integer>1</integer>
				<key>fontSize</key>
				<integer>14</integer>
				<key>gradientStartColor</key>
				<string>178,6,209,255</string>
				<key>gradientEndColor</key>
				<string>217,45,184,255</string>
				<key>shadowColor</key>
				<string>192,0,221,255</string>
				<key>alignment</key>
				<string>center</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Here are the resources we sent you:</string>
				<key>localizedText</key>
				<string>lbl_iap_recover_description</string>
				<key>bgColor</key>
				<string>53,65,159,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>text</key>
				<string>- cashAmount CASH</string>
				<key>localizedText</key>
				<string>lbl_iap_recover_reward</string>
				<key>bgColor</key>
				<string>53,65,159,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>text</key>
				<string> If you liked our support, you can like us on Facebook. Have a nice day !</string>
				<key>localizedText</key>
				<string>lbl_iap_recover_description2</string>
				<key>bgColor</key>
				<string>53,65,159,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>bgColor</key>
				<string>53,65,159,255</string>
				<key>height</key>
				<integer>30</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonText</key>
						<string>Like Us</string>
						<key>buttonScale</key>
						<real>1.2</real>
						<key>buttonImageName</key>
						<string>blueButton.png</string>
						<key>buttonAction</key>
						<string>openURL</string>
						<key>buttonAnimation</key>
						<string>scaleToAttract</string>
						<key>link</key>
						<string>https://www.facebook.com/OhBiBiCommunity</string>
					</dict>
					<dict>
						<key>buttonText</key>
						<string>Close</string>
						<key>buttonScale</key>
						<real>1.2</real>
						<key>buttonImageName</key>
						<string>greenButton.png</string>
						<key>buttonAction</key>
						<string>eraseThisEvent</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
