<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>laboratoryCraftingCardSpriteSheet1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 72}</string>
			<key>spriteSourceSize</key>
			<string>{77, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {77, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>laboratoryCraftingCardSpriteSheet2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{82, 0}, {77, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 72}</string>
			<key>spriteSourceSize</key>
			<string>{77, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 0}, {77, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>laboratoryCraftingCardSpriteSheet3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 78}, {77, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 72}</string>
			<key>spriteSourceSize</key>
			<string>{77, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 78}, {77, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>laboratoryCraftingCardSpriteSheet4</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 154}, {77, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 72}</string>
			<key>spriteSourceSize</key>
			<string>{77, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 154}, {77, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>laboratoryCraftingCardSpriteSheet5</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{82, 78}, {77, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 72}</string>
			<key>spriteSourceSize</key>
			<string>{77, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 78}, {77, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>laboratoryCraftingCardSpriteSheet6</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{82, 154}, {77, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{77, 72}</string>
			<key>spriteSourceSize</key>
			<string>{77, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 154}, {77, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{160, 228}</string>
	</dict>
</dict>
</plist>
