<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adam</key>
	<dict>
		<key>name</key>
		<string>GIFT</string>
		<key>version</key>
		<integer>1</integer>
		<key>startDate</key>
		<string>2016-06-08 10:00</string>
		<key>lengthInHours</key>
		<integer>72</integer>
		<key>isActive</key>
		<true/>
		<key>forceOpen</key>
		<true/>
		<key>sprite</key>
		<array>
			<string>100kLikes.png</string>
			<string>eventCommonCar72.png</string>
			<string>eventCommonCar90.png</string>
			<string>eventCommonCar91.png</string>
			<string>eventCommonCar142.png</string>
			<string>eventCommonCar187.png</string>
			<string>eventCommonCar211.png</string>
			<string>eventCommonCar268.png</string>
		</array>
		<key>body</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>100kLikes.png</string>
			</dict>
			<dict>
				<key>dynamicZone</key>
				<string>event:self:100kGift</string>
			</dict>
			<dict>
				<key>timerText</key>
				<string>Time Left : &amp;W</string>
				<key>line</key>
				<real>0.9</real>
				<key>fontSize</key>
				<integer>12</integer>
				<key>alignment</key>
				<string>center</string>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>bgColor</key>
				<string>0,0,0,255</string>
			</dict>
		</array>
		<key>100kGift</key>
		<array>
			<dict>
				<key>text</key>
				<string>LET&apos;S PARTY</string>
				<key>alignment</key>
				<string>center</string>
				<key>line</key>
				<real>0.8</real>
				<key>fontSize</key>
				<integer>14</integer>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>shadowColor</key>
				<string>0,0,0,75</string>
				<key>gradientStartColor</key>
				<string>253,108,158,255</string>
				<key>gradientEndColor</key>
				<string>253,58,138,255</string>
			</dict>
			<dict>
				<key>height</key>
				<integer>80</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>forceRefresh</key>
						<true/>
						<key>cardType</key>
						<string>workerByData</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonAction</key>
						<string>clickCardAndApplyConsequence</string>
						<key>finishTutorial</key>
						<string>avoidErase</string>
						<key>workerData</key>
						<dict>
							<key>Price</key>
							<array>
								<dict>
									<key>PriceInCash</key>
									<integer>8370</integer>
								</dict>
							</array>
							<key>WorkerModel</key>
							<string>God</string>
							<key>curStamina</key>
							<integer>4500</integer>
							<key>curXp</key>
							<integer>0</integer>
							<key>level</key>
							<integer>1</integer>
							<key>name</key>
							<string>Broseidon</string>
							<key>race</key>
							<string>male</string>
							<key>rarity</key>
							<string>5</string>
							<key>spriteDic</key>
							<dict>
								<key>body</key>
								<dict>
									<key>imageName</key>
									<string>broseidonBody.png</string>
									<key>offset</key>
									<string>{-4.00,2.00}</string>
								</dict>
								<key>hammerOffset</key>
								<string>{26.00,-2.00}</string>
								<key>helmetOffset</key>
								<string>{3.00,2.50}</string>
								<key>leftArmOffset</key>
								<string>{-4.50,10.50}</string>
								<key>legs</key>
								<dict>
									<key>imageName</key>
									<string>broseidonLeg.png</string>
									<key>offset</key>
									<string>{0.00,0.00}</string>
								</dict>
								<key>name</key>
								<string>Broseidon</string>
								<key>onlineHammer</key>
								<string>broseidonHammer.png</string>
								<key>onlineHelmet</key>
								<string>broseidonHat.png</string>
								<key>onlineLeftArm</key>
								<string>broseidonLeftArm.png</string>
								<key>onlineRightArm</key>
								<string>broseidonRightArm.png</string>
								<key>race</key>
								<string>God</string>
								<key>rightArmOffset</key>
								<string>{00.00,6.50}</string>
								<key>sex</key>
								<string>male</string>
							</dict>
							<key>stamina</key>
							<integer>4500</integer>
							<key>workerIndex</key>
							<integer>0</integer>
							<key>workerModelData</key>
							<dict>
								<key>Name</key>
								<string>Broseidon</string>
								<key>infoText</key>
								<string>The &amp;BLord &amp;Bof &amp;Bthe &amp;BBrocean loves beach tourists! They might be &amp;Pnoisy &amp;Pand &amp;Prude, but they make perfect snakes for his &amp;Rpet &amp;RKraken!</string>
								<key>qualityMax</key>
								<integer>450</integer>
								<key>qualityMin</key>
								<integer>400</integer>
								<key>speedMax</key>
								<integer>1000</integer>
								<key>speedMin</key>
								<integer>600</integer>
								<key>staminaMax</key>
								<integer>8000</integer>
								<key>staminaMin</key>
								<integer>4500</integer>
								<key>wpMax</key>
								<integer>6000</integer>
								<key>wpMin</key>
								<integer>5000</integer>
							</dict>
							<key>workerModificator</key>
							<array/>
						</dict>
					</dict>
					<dict>
						<key>forceRefresh</key>
						<true/>
						<key>cardType</key>
						<string>workerByData</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonAction</key>
						<string>clickCardAndApplyConsequence</string>
						<key>finishTutorial</key>
						<string>avoidErase</string>
						<key>workerData</key>
						<dict>
							<key>Price</key>
							<array>
								<dict>
									<key>PriceInCash</key>
									<integer>250</integer>
								</dict>
							</array>
							<key>WorkerModel</key>
							<string>SUP Racer</string>
							<key>curStamina</key>
							<integer>1800</integer>
							<key>curXp</key>
							<integer>0</integer>
							<key>level</key>
							<integer>1</integer>
							<key>name</key>
							<string>Magic Ace</string>
							<key>race</key>
							<string>male</string>
							<key>rarity</key>
							<string>2</string>
							<key>spriteDic</key>
							<dict>
								<key>body</key>
								<dict>
									<key>imageName</key>
									<string>magicAceBody.png</string>
									<key>offset</key>
									<string>{-14.00,3.00}</string>
								</dict>
								<key>hammerOffset</key>
								<string>{0.00,0.00}</string>
								<key>helmetOffset</key>
								<string>{-1.50,8.00}</string>
								<key>leftArmOffset</key>
								<string>{-2.00,10.50}</string>
								<key>legs</key>
								<dict>
									<key>imageName</key>
									<string>magicAceLeg.png</string>
									<key>offset</key>
									<string>{0.00,0.00}</string>
								</dict>
								<key>name</key>
								<string>Magic Ace</string>
								<key>onlineHammer</key>
								<string>magicAceHammer.png</string>
								<key>onlineHelmet</key>
								<string>magicAceHat.png</string>
								<key>onlineLeftArm</key>
								<string>magicAceLeftArm.png</string>
								<key>onlineRightArm</key>
								<string>magicAceRightArm.png</string>
								<key>race</key>
								<string>SUP Racer</string>
								<key>rightArmOffset</key>
								<string>{1.00,10.00}</string>
								<key>sex</key>
								<string>male</string>
							</dict>
							<key>stamina</key>
							<integer>1800</integer>
							<key>workerIndex</key>
							<integer>0</integer>
							<key>workerModelData</key>
							<dict>
								<key>Name</key>
								<string>Magic Ace</string>
								<key>infoText</key>
								<string>&amp;RMagic &amp;RAce knows every trick in the book: he practically &amp;DGwrote &amp;DGit! His favourite: how to make your &amp;Prace &amp;Popponents &amp;Kdisappear!</string>
								<key>qualityMax</key>
								<integer>280</integer>
								<key>qualityMin</key>
								<integer>200</integer>
								<key>speedMax</key>
								<integer>150</integer>
								<key>speedMin</key>
								<integer>100</integer>
								<key>staminaMax</key>
								<integer>2400</integer>
								<key>staminaMin</key>
								<integer>1800</integer>
								<key>wpMax</key>
								<integer>1300</integer>
								<key>wpMin</key>
								<integer>1000</integer>
							</dict>
							<key>workerModificator</key>
							<array/>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>80</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>forceRefresh</key>
						<true/>
						<key>cardType</key>
						<string>workerByData</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonAction</key>
						<string>clickCardAndApplyConsequence</string>
						<key>finishTutorial</key>
						<string>avoidErase</string>
						<key>workerData</key>
						<dict>
							<key>Price</key>
							<array>
								<dict>
									<key>PriceInCash</key>
									<integer>250</integer>
								</dict>
							</array>
							<key>WorkerModel</key>
							<string>MetalMurfer</string>
							<key>curStamina</key>
							<integer>4000</integer>
							<key>curXp</key>
							<integer>0</integer>
							<key>level</key>
							<integer>1</integer>
							<key>name</key>
							<string>Black Maximus</string>
							<key>race</key>
							<string>male</string>
							<key>rarity</key>
							<string>5</string>
							<key>spriteDic</key>
							<dict>
								<key>body</key>
								<dict>
									<key>imageName</key>
									<string>blackConvoyBody.png</string>
									<key>offset</key>
									<string>{-2.00,2.50}</string>
								</dict>
								<key>hammerOffset</key>
								<string>{23.50,0.50}</string>
								<key>helmetOffset</key>
								<string>{0.00,2.00}</string>
								<key>leftArmOffset</key>
								<string>{-2.50,15.00}</string>
								<key>legs</key>
								<dict>
									<key>imageName</key>
									<string>blackConvoyLeg.png</string>
									<key>offset</key>
									<string>{0.00,0.00}</string>
								</dict>
								<key>name</key>
								<string>Black Maximus</string>
								<key>onlineHammer</key>
								<string>blackConvoyHammer.png</string>
								<key>onlineHelmet</key>
								<string>rocketFoxLeg.png</string>
								<key>onlineLeftArm</key>
								<string>blackConvoyLeftArm.png</string>
								<key>onlineRightArm</key>
								<string>blackConvyRightArm.png</string>
								<key>race</key>
								<string>MetalMurfer</string>
								<key>rightArmOffset</key>
								<string>{1.50,12.00}</string>
								<key>sex</key>
								<string>male</string>
							</dict>
							<key>stamina</key>
							<integer>4000</integer>
							<key>workerIndex</key>
							<integer>0</integer>
							<key>workerModelData</key>
							<dict>
								<key>Name</key>
								<string>Black Maximus</string>
								<key>infoText</key>
								<string>This evil &amp;Pclone of &amp;RAlpha &amp;RMaximus wants to eliminate all life in the &amp;Bentire &amp;Bgalaxy! He’s not really fun to hang around with.</string>
								<key>qualityMax</key>
								<integer>500</integer>
								<key>qualityMin</key>
								<integer>380</integer>
								<key>speedMax</key>
								<integer>550</integer>
								<key>speedMin</key>
								<integer>450</integer>
								<key>staminaMax</key>
								<integer>5500</integer>
								<key>staminaMin</key>
								<integer>4000</integer>
								<key>wpMax</key>
								<integer>9000</integer>
								<key>wpMin</key>
								<integer>7000</integer>
							</dict>
							<key>workerModificator</key>
							<array/>
						</dict>
					</dict>
					<dict>
						<key>forceRefresh</key>
						<true/>
						<key>cardType</key>
						<string>workerByData</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonAction</key>
						<string>clickCardAndApplyConsequence</string>
						<key>finishTutorial</key>
						<string>avoidErase</string>
						<key>workerData</key>
						<dict>
							<key>Price</key>
							<array>
								<dict>
									<key>PriceInCash</key>
									<integer>11020</integer>
								</dict>
							</array>
							<key>WorkerModel</key>
							<string>SUP Racer</string>
							<key>curStamina</key>
							<integer>4000</integer>
							<key>curXp</key>
							<integer>0</integer>
							<key>level</key>
							<integer>1</integer>
							<key>name</key>
							<string>Rocket Fox</string>
							<key>race</key>
							<string>male</string>
							<key>rarity</key>
							<string>5</string>
							<key>spriteDic</key>
							<dict>
								<key>body</key>
								<dict>
									<key>imageName</key>
									<string>rocketFoxBody.png</string>
									<key>offset</key>
									<string>{-9.50,8.00}</string>
								</dict>
								<key>hammerOffset</key>
								<string>{18.50,1.00}</string>
								<key>helmetOffset</key>
								<string>{1.50,-20.00}</string>
								<key>leftArmOffset</key>
								<string>{-5.00,20.00}</string>
								<key>legs</key>
								<dict>
									<key>imageName</key>
									<string>rocketFoxLeg.png</string>
									<key>offset</key>
									<string>{0.00,0.00}</string>
								</dict>
								<key>name</key>
								<string>Rocket Fox</string>
								<key>onlineHammer</key>
								<string>rocketFoxHammer.png</string>
								<key>onlineHelmet</key>
								<string>rocketFoxHat.png</string>
								<key>onlineLeftArm</key>
								<string>rocketFoxLeftArm.png</string>
								<key>onlineRightArm</key>
								<string>rocketFoxRightArm.png</string>
								<key>race</key>
								<string>SUP Racer</string>
								<key>rightArmOffset</key>
								<string>{3.50,21.50}</string>
								<key>sex</key>
								<string>male</string>
							</dict>
							<key>stamina</key>
							<integer>4000</integer>
							<key>workerIndex</key>
							<integer>0</integer>
							<key>workerModelData</key>
							<dict>
								<key>Name</key>
								<string>Rocket Fox</string>
								<key>infoText</key>
								<string>No one is faster on the road than &amp;RRRocket &amp;RFox! This &amp;Ppowerful &amp;Pcyborg always aims straight for the &amp;DGfinish &amp;DGline!</string>
								<key>qualityMax</key>
								<integer>1000</integer>
								<key>qualityMin</key>
								<integer>400</integer>
								<key>speedMax</key>
								<integer>1300</integer>
								<key>speedMin</key>
								<integer>720</integer>
								<key>staminaMax</key>
								<integer>9000</integer>
								<key>staminaMin</key>
								<integer>4000</integer>
								<key>wpMax</key>
								<integer>9000</integer>
								<key>wpMin</key>
								<integer>5600</integer>
							</dict>
							<key>workerModificator</key>
							<array/>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>80</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>forceRefresh</key>
						<true/>
						<key>cardType</key>
						<string>workerByData</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonAction</key>
						<string>clickCardAndApplyConsequence</string>
						<key>finishTutorial</key>
						<string>avoidErase</string>
						<key>workerData</key>
						<dict>
							<key>Price</key>
							<array>
								<dict>
									<key>PriceInCash</key>
									<integer>1530</integer>
								</dict>
							</array>
							<key>WorkerModel</key>
							<string>MetalMurfer</string>
							<key>curStamina</key>
							<integer>2000</integer>
							<key>curXp</key>
							<integer>0</integer>
							<key>level</key>
							<integer>1</integer>
							<key>name</key>
							<string>Shadow Stalker</string>
							<key>race</key>
							<string>male</string>
							<key>rarity</key>
							<string>3</string>
							<key>spriteDic</key>
							<dict>
								<key>body</key>
								<dict>
									<key>imageName</key>
									<string>copBody.png</string>
									<key>offset</key>
									<string>{-1.50,3.00}</string>
								</dict>
								<key>hammerOffset</key>
								<string>{0.00,0.00}</string>
								<key>helmetOffset</key>
								<string>{-2.00,-5.50}</string>
								<key>leftArmOffset</key>
								<string>{-1.50,8.00}</string>
								<key>legs</key>
								<dict>
									<key>imageName</key>
									<string>copLeg.png</string>
									<key>offset</key>
									<string>{0.00,0.00}</string>
								</dict>
								<key>name</key>
								<string>Shadow Stalker</string>
								<key>onlineHammer</key>
								<string>copHammer.png</string>
								<key>onlineHelmet</key>
								<string>copHat.png</string>
								<key>onlineLeftArm</key>
								<string>copLeftArm.png</string>
								<key>onlineRightArm</key>
								<string>copRightArm.png</string>
								<key>race</key>
								<string>MetalMurfer</string>
								<key>rightArmOffset</key>
								<string>{0.50,8.00}</string>
								<key>sex</key>
								<string>male</string>
							</dict>
							<key>stamina</key>
							<integer>2000</integer>
							<key>workerIndex</key>
							<integer>0</integer>
							<key>workerModelData</key>
							<dict>
								<key>Name</key>
								<string>Shadow Stalker</string>
								<key>infoText</key>
								<string>&amp;RShadow &amp;RStalker is a loner at heart, so naturally he just hates &amp;YFlash &amp;YBee with a passion. &amp;PWorst &amp;Pcop indeed!</string>
								<key>qualityMax</key>
								<integer>450</integer>
								<key>qualityMin</key>
								<integer>400</integer>
								<key>speedMax</key>
								<integer>600</integer>
								<key>speedMin</key>
								<integer>400</integer>
								<key>staminaMax</key>
								<integer>2800</integer>
								<key>staminaMin</key>
								<integer>2000</integer>
								<key>wpMax</key>
								<integer>2200</integer>
								<key>wpMin</key>
								<integer>1800</integer>
							</dict>
							<key>workerModificator</key>
							<array/>
						</dict>
					</dict>
					<dict>
						<key>forceRefresh</key>
						<true/>
						<key>cardType</key>
						<string>workerByData</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonAction</key>
						<string>clickCardAndApplyConsequence</string>
						<key>finishTutorial</key>
						<string>avoidErase</string>
						<key>workerData</key>
						<dict>
							<key>Price</key>
							<array>
								<dict>
									<key>PriceInCash</key>
									<integer>10340</integer>
								</dict>
							</array>
							<key>WorkerModel</key>
							<string>MetalMurfer</string>
							<key>curStamina</key>
							<integer>5000</integer>
							<key>curXp</key>
							<integer>0</integer>
							<key>level</key>
							<integer>1</integer>
							<key>name</key>
							<string>Echo Blast</string>
							<key>race</key>
							<string>male</string>
							<key>rarity</key>
							<string>5</string>
							<key>spriteDic</key>
							<dict>
								<key>body</key>
								<dict>
									<key>imageName</key>
									<string>heloBody.png</string>
									<key>offset</key>
									<string>{-1.50,3.00}</string>
								</dict>
								<key>hammerOffset</key>
								<string>{18.00,-3.00}</string>
								<key>helmetOffset</key>
								<string>{121.00,50.00}</string>
								<key>leftArmOffset</key>
								<string>{-3.00,8.50}</string>
								<key>legs</key>
								<dict>
									<key>imageName</key>
									<string>heloLeg.png</string>
									<key>offset</key>
									<string>{0.00,0.00}</string>
								</dict>
								<key>name</key>
								<string>Echo Blast</string>
								<key>onlineHammer</key>
								<string>heloHammer.png</string>
								<key>onlineHelmet</key>
								<string>rocketFoxLeg.png</string>
								<key>onlineLeftArm</key>
								<string>heloLeftArm.png</string>
								<key>onlineRightArm</key>
								<string>heloRightArm.png</string>
								<key>race</key>
								<string>MetalMurfer</string>
								<key>rightArmOffset</key>
								<string>{-0.00,8.00}</string>
								<key>sex</key>
								<string>male</string>
							</dict>
							<key>stamina</key>
							<integer>5000</integer>
							<key>workerIndex</key>
							<integer>0</integer>
							<key>workerModelData</key>
							<dict>
								<key>Name</key>
								<string>Echo Blast</string>
								<key>infoText</key>
								<string>The cold and calculating &amp;REcho &amp;RBlast serves &amp;PKing &amp;PChaos well for the time being, but secretly hopes to &amp;Brule someday!</string>
								<key>qualityMax</key>
								<integer>600</integer>
								<key>qualityMin</key>
								<integer>410</integer>
								<key>speedMax</key>
								<integer>600</integer>
								<key>speedMin</key>
								<integer>500</integer>
								<key>staminaMax</key>
								<integer>6000</integer>
								<key>staminaMin</key>
								<integer>5000</integer>
								<key>wpMax</key>
								<integer>8500</integer>
								<key>wpMin</key>
								<integer>6000</integer>
							</dict>
							<key>workerModificator</key>
							<array/>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
