<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PaintColor</key>
	<dict>
		<key>Paint1</key>
		<dict>
			<key>Name</key>
			<string>@&quot;Pink&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_pink</string>
			<key>Red</key>
			<integer>255</integer>
			<key>Green</key>
			<integer>50</integer>
			<key>Blue</key>
			<integer>110</integer>
		</dict>
		<key>Paint2</key>
		<dict>
			<key>Name</key>
			<string>@&quot;Yellow&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_yellow</string>
			<key>Red</key>
			<integer>255</integer>
			<key>Green</key>
			<integer>210</integer>
			<key>Blue</key>
			<integer>0</integer>
		</dict>
		<key>Paint3</key>
		<dict>
			<key>Name</key>
			<string>@&quot;Lime Green&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_lime_green</string>
			<key>Red</key>
			<integer>178</integer>
			<key>Green</key>
			<integer>250</integer>
			<key>Blue</key>
			<integer>75</integer>
		</dict>
		<key>Paint4</key>
		<dict>
			<key>Name</key>
			<string>@&quot;Orange Red&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_orange_red</string>
			<key>Red</key>
			<integer>255</integer>
			<key>Green</key>
			<integer>140</integer>
			<key>Blue</key>
			<integer>0</integer>
		</dict>
		<key>Paint5</key>
		<dict>
			<key>Name</key>
			<string>@&quot;Blue Bugati&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_blue_bugati</string>
			<key>Red</key>
			<integer>20</integer>
			<key>Green</key>
			<integer>180</integer>
			<key>Blue</key>
			<integer>250</integer>
		</dict>
		<key>Paint6</key>
		<dict>
			<key>Name</key>
			<string>@&quot;Jaune&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_jaune</string>
			<key>Red</key>
			<integer>255</integer>
			<key>Green</key>
			<integer>200</integer>
			<key>Blue</key>
			<integer>20</integer>
		</dict>
		<key>Paint7</key>
		<dict>
			<key>Name</key>
			<string>@&quot;Black&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_black</string>
			<key>Red</key>
			<integer>84</integer>
			<key>Green</key>
			<integer>84</integer>
			<key>Blue</key>
			<integer>84</integer>
		</dict>
		<key>Paint8</key>
		<dict>
			<key>Name</key>
			<string>@&quot;Blue Aqua&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_blue_aqua</string>
			<key>Red</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>246</integer>
			<key>Blue</key>
			<integer>255</integer>
		</dict>
		<key>Paint9</key>
		<dict>
			<key>Name</key>
			<string>@&quot;Pure Red&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_pure_red</string>
			<key>Red</key>
			<integer>255</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>0</integer>
		</dict>
		<key>Paint10</key>
		<dict>
			<key>Name</key>
			<string>@&quot;White&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_white</string>
			<key>Red</key>
			<integer>255</integer>
			<key>Green</key>
			<integer>255</integer>
			<key>Blue</key>
			<integer>255</integer>
		</dict>
		<key>Paint11</key>
		<dict>
			<key>Name</key>
			<string>@&quot;medium grey&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_medium_grey</string>
			<key>Red</key>
			<integer>150</integer>
			<key>Green</key>
			<integer>150</integer>
			<key>Blue</key>
			<integer>150</integer>
		</dict>
		<key>Paint12</key>
		<dict>
			<key>Name</key>
			<string>@&quot;turquoise&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_turquoise</string>
			<key>Red</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>234</integer>
			<key>Blue</key>
			<integer>255</integer>
		</dict>
		<key>Paint13</key>
		<dict>
			<key>Name</key>
			<string>@&quot;alloy blue&quot;</string>
			<key>localizedName</key>
			<string>lbl_paint_color_alloy_blue</string>
			<key>Red</key>
			<integer>185</integer>
			<key>Green</key>
			<integer>246</integer>
			<key>Blue</key>
			<integer>255</integer>
		</dict>
		<key>Paint14</key>
		<dict>
			<key>Name</key>
			<string>purple</string>
			<key>localizedName</key>
			<string>lbl_paint_color_purple</string>
			<key>Red</key>
			<integer>222</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>196</integer>
		</dict>
		<key>Paint15</key>
		<dict>
			<key>Name</key>
			<string>dark red</string>
			<key>localizedName</key>
			<string>lbl_paint_color_dark_red</string>
			<key>Red</key>
			<integer>217</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>15</integer>
		</dict>
		<key>Paint16</key>
		<dict>
			<key>Name</key>
			<string>light grey</string>
			<key>localizedName</key>
			<string>lbl_paint_color_light_grey</string>
			<key>Red</key>
			<integer>210</integer>
			<key>Green</key>
			<integer>210</integer>
			<key>Blue</key>
			<integer>210</integer>
		</dict>
		<key>Paint17</key>
		<dict>
			<key>Name</key>
			<string>marroon light</string>
			<key>localizedName</key>
			<string>lbl_paint_color_marroon_light</string>
			<key>Red</key>
			<integer>154</integer>
			<key>Green</key>
			<integer>121</integer>
			<key>Blue</key>
			<integer>105</integer>
		</dict>
	</dict>
</dict>
</plist>
