<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sprite</key>
	<array>
		<string>tvQuestionMark2.png</string>
		<string>tvQuestionMark3.png</string>
	</array>
	<key>Welcome</key>
	<array>
		<array>
			<dict>
				<key>text</key>
				<string>EVENT WELCOME 2 !!</string>
				<key>imageName</key>
				<string>tvQuestionMark3.png</string>
				<key>sound</key>
				<string>reporterMaleVoice3.mp3</string>
			</dict>
		</array>
	</array>
	<key>Trend</key>
	<array>
		<array>
			<dict>
				<key>text</key>
				<string>According to a recent study, people are more and more interested in &amp;BSUV&apos;s</string>
				<key>car</key>
				<integer>3</integer>
				<key>image</key>
				<string>tvChart.png</string>
				<key>sound</key>
				<string>reporterMaleVoice2.mp3</string>
			</dict>
			<dict>
				<key>consequence</key>
				<dict>
					<key>consequenceType</key>
					<string>negative</string>
					<key>ressources</key>
					<dict>
						<key>coins</key>
						<integer>0</integer>
						<key>cash</key>
						<integer>0</integer>
						<key>xp</key>
						<integer>0</integer>
						<key>donuts</key>
						<integer>0</integer>
					</dict>
					<key>generalDemand</key>
					<dict>
						<key>demandChange</key>
						<integer>0</integer>
						<key>demandChangeDuration</key>
						<integer>0</integer>
					</dict>
					<key>specificDemand</key>
					<array>
						<dict>
							<key>vehicleTarget</key>
							<integer>3</integer>
							<key>demandChange</key>
							<integer>20</integer>
							<key>demandChangeDuration</key>
							<integer>360</integer>
						</dict>
					</array>
					<key>image</key>
					<dict>
						<key>Sport</key>
						<integer>0</integer>
						<key>Confort</key>
						<integer>0</integer>
						<key>Safety</key>
						<integer>0</integer>
						<key>Luxury</key>
						<integer>0</integer>
						<key>Innovation</key>
						<integer>0</integer>
					</dict>
					<key>quality</key>
					<dict>
						<key>qualityChange</key>
						<integer>0</integer>
						<key>qualityChangeDuration</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>text</key>
				<string>Well, I can certainly vouch for that,  comfortable and safe is a good combo.</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string>reporterMaleVoice4.mp3</string>
			</dict>
		</array>
	</array>
	<key>FunNews</key>
	<array>
		<array>
			<dict>
				<key>text</key>
				<string>Movies, report indicates that &amp;OMichael &amp;OHarbor is about to start filming &amp;OMetaMurfer &amp;O5</string>
				<key>character1</key>
				<integer>2</integer>
				<key>image</key>
				<string>tvHollywood.png</string>
				<key>sound</key>
				<string>reporterMaleVoice2.mp3</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Who&apos;s going to be the &amp;Bstar &amp;Bcar this time ? Nobody knows yet...</string>
				<key>image</key>
				<string>tvQuestionMark.png</string>
				<key>sound</key>
				<string>reporterMaleVoice2.mp3</string>
			</dict>
		</array>
	</array>
	<key>End</key>
	<array>
		<array>
			<dict>
				<key>text</key>
				<string>Thank you for watching, remember : stay &amp;GGREEN !!</string>
				<key>image</key>
				<string>tvQuestionMark.png</string>
				<key>sound</key>
				<string>reporterMaleVoice1.mp3</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
