<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarResearch</key>
	<array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>electricEngineIcon.png</string>
				<key>title</key>
				<string>Electric Engine</string>
				<key>localizedTitle</key>
				<string>lbl_research_data_electric_engine</string>
				<key>line1</key>
				<string>Unlock &amp;Welectric &amp;Wcars at the factory. Makes the planet a greener place.</string>
				<key>localizedLine1</key>
				<string>lbl_research_data_unlock_electric</string>
				<key>time</key>
				<integer>30</integer>
				<key>priceInCoins</key>
				<integer>400</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>ElectricEngine</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>researchEngineIcon.png</string>
				<key>title</key>
				<string>Turbo Compressor</string>
				<key>localizedTitle</key>
				<string>lbl_research_data_turbo_compressor</string>
				<key>line1</key>
				<string>Unlock cars equipped with &amp;WTurbo. Increase Performance and lower emission.</string>
				<key>localizedLine1</key>
				<string>lbl_research_data_unlock_turbo</string>
				<key>time</key>
				<integer>900</integer>
				<key>priceInCoins</key>
				<integer>600</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>TurboEngine</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconDownSizing.png</string>
				<key>title</key>
				<string>Down Sizing</string>
				<key>localizedTitle</key>
				<string>lbl_research_data_down_sizing</string>
				<key>line1</key>
				<string>Allow to produce smaller and more efficient cars. Reduced to the minimum.</string>
				<key>localizedLine1</key>
				<string>lbl_research_data_efficient_cars</string>
				<key>time</key>
				<integer>1440</integer>
				<key>priceInCoins</key>
				<integer>2500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>DownSizing</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconAluminium.png</string>
				<key>title</key>
				<string>Aluminium Frame</string>
				<key>localizedTitle</key>
				<string>lbl_research_data_aluminium_frame</string>
				<key>line1</key>
				<string>Allows to build car with aluminium body frame. Creates lighter/sportier car.</string>
				<key>localizedLine1</key>
				<string>lbl_research_data_sportier_car</string>
				<key>time</key>
				<integer>1950</integer>
				<key>priceInCoins</key>
				<integer>3400</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>AluminiumFrame</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconV8.png</string>
				<key>title</key>
				<string>V8 engine</string>
				<key>localizedTitle</key>
				<string>lbl_research_data_v8</string>
				<key>line1</key>
				<string>V8 engine produce much more sportier car, with higher power output.</string>
				<key>localizedLine1</key>
				<string>lbl_research_data_v8_engine</string>
				<key>time</key>
				<integer>2520</integer>
				<key>priceInCoins</key>
				<integer>4500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>V8Engine</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconWeightDown.png</string>
				<key>title</key>
				<string>Carbon Panel</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_carbon_panel</string>
				<key>line1</key>
				<string>Dramatically reduce the weight, allows to produce racing cars.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_carbon_panel</string>
				<key>time</key>
				<integer>5400</integer>
				<key>priceInCoins</key>
				<integer>7000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>CarbonPanel</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iocnV12.png</string>
				<key>title</key>
				<string>V12 Engine</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_v12</string>
				<key>line1</key>
				<string>V12 engine unlocks very powerful and elegant sport cars.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_v12</string>
				<key>time</key>
				<integer>5760</integer>
				<key>priceInCoins</key>
				<integer>7500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>V12Engine</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconRally.png</string>
				<key>title</key>
				<string>Rally Technology</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_rally_technology</string>
				<key>line1</key>
				<string>Unlocks car able to participate in Rally Championship. </string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_rally_technology</string>
				<key>time</key>
				<integer>6120</integer>
				<key>priceInCoins</key>
				<integer>8000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>RallyTechnology</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconSpace.png</string>
				<key>title</key>
				<string>Space Technology</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_space_technology</string>
				<key>line1</key>
				<string>Provides ultra advanced technology for future vehicles.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_space_technology</string>
				<key>time</key>
				<integer>14400</integer>
				<key>priceInCoins</key>
				<integer>35000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>SpaceTechnology</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconComputer.png</string>
				<key>title</key>
				<string>Self Driving</string>
				<key>localizedTitle</key>
				<string>lbl_car_option_data_name_self_driving</string>
				<key>line1</key>
				<string>Unlock driver-less vehicles. Car that can think and move on their own.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_self_driving</string>
				<key>time</key>
				<integer>18000</integer>
				<key>priceInCoins</key>
				<integer>28000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>Autonomous</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconHydrogen.png</string>
				<key>title</key>
				<string>Hydrogen Engine</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_hydrogen_engine</string>
				<key>line1</key>
				<string>Hydrogen Engine, emitts zero emission and can use water as a fuel.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_hydrogen_engine</string>
				<key>time</key>
				<integer>21600</integer>
				<key>priceInCoins</key>
				<integer>32000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>HydrogenEngine</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconV10.png</string>
				<key>title</key>
				<string>V10 Engine</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_v10</string>
				<key>line1</key>
				<string>Allows to build V10 engine, lighter than V12, more power than V8. A good compromise.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_v10</string>
				<key>time</key>
				<integer>28800</integer>
				<key>priceInCoins</key>
				<integer>500000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>V10Engine</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconHoverCraft.png</string>
				<key>title</key>
				<string>HoverCraft</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_hover_craft</string>
				<key>line1</key>
				<string>Allow to build &amp;Wflying vehicles. It&apos;s the FUTURE !!</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_hover_craft</string>
				<key>time</key>
				<integer>32400</integer>
				<key>priceInCoins</key>
				<integer>750000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>HoverCraft</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconJet.png</string>
				<key>title</key>
				<string>Jet Engine</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_jet_engine</string>
				<key>line1</key>
				<string>When Thrust is an issue, use a &amp;WJET &amp;WENGINE !</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_jet_engine</string>
				<key>time</key>
				<integer>36000</integer>
				<key>priceInCoins</key>
				<integer>1000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>JetEngine</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>icon20mm.png</string>
				<key>title</key>
				<string>20mm cannon</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_20mm</string>
				<key>line1</key>
				<string>Allows to start military vehicles production.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_20mm</string>
				<key>time</key>
				<integer>86400</integer>
				<key>priceInCoins</key>
				<integer>3000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>20mmCannon</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconThermicShield.png</string>
				<key>title</key>
				<string>Thermic Shield</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_thermic_shield</string>
				<key>line1</key>
				<string>Allows vehicles to exit and return earth atmosphere.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_thermic_shield</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>10000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>ThermicShield</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconHeavyDuty.png</string>
				<key>title</key>
				<string>Heavy Duty</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_heavy_duty</string>
				<key>line1</key>
				<string>Super &amp;Wresistant &amp;Wsteel and high output &amp;Wdiesel &amp;Wtechnologies to unlock heavy duty vehicles.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_heavy_duty</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>7000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>heavyDuty</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconEthanol.png</string>
				<key>title</key>
				<string>Ethanol Engine</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_ethanol_engine</string>
				<key>line1</key>
				<string>Unlock production of &amp;Wpowerful ethanol vehicles such as &amp;Wdragsters.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_ethanol_engine</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>7500000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>ethanolEngine</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconClassicDepartment.png</string>
				<key>title</key>
				<string>Classic Department</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_classic_department</string>
				<key>line1</key>
				<string>Rediscovery of &amp;Wold &amp;Wbuilding &amp;Wmethod, allow to recreate &amp;Wglory from the &amp;Wpast.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_classic_department</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>5000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>classicDepartment</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconRacingDepartment.png</string>
				<key>title</key>
				<string>Racing Department</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_racing_department</string>
				<key>line1</key>
				<string>&amp;WSpecial &amp;Wdivision that unlock &amp;Whardcore &amp;Wcompetition &amp;Wvehicles.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_racing_department</string>
				<key>time</key>
				<integer>86400</integer>
				<key>priceInCoins</key>
				<integer>3000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>racingDepartment</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconActiveAerodynamism.png</string>
				<key>title</key>
				<string>Active Aerodynamism</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_active_aerodynamism</string>
				<key>line1</key>
				<string>Improve &amp;Wvehicles &amp;Wshape to reduce emission and increase speed.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_active_aerodynamism</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>15000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>activeAerodynamic</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSprite</key>
				<string>iconRollingBall.png</string>
				<key>title</key>
				<string>Rolling Ball</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_rollingBall</string>
				<key>line1</key>
				<string>Allows the construction of &amp;Wround-shaped &amp;Wcars.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_rollingBall</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>30000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>rollingBall</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSprite</key>
				<string>iconExtraPolish.png</string>
				<key>title</key>
				<string>Extra Polish</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_extraPolish</string>
				<key>line1</key>
				<string>Unlock &amp;Wglossy &amp;Wcars. Oooh shiny.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_extraPolish</string>
				<key>time</key>
				<integer>345600</integer>
				<key>priceInCoins</key>
				<integer>90000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>1</string>
						<key>researchTrigger</key>
						<string>extraPolish</string>
					</dict>
				</array>
			</dict>
		</array>
	</array>
	<key>FactoryResearch</key>
	<array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>twinWorkerIcon.png</string>
				<key>title</key>
				<string>Taylorism</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_taylorism</string>
				<key>line1</key>
				<string>Allows &amp;W3 &amp;Wemployees to work on the same car. Increase building speed.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_taylorism</string>
				<key>time</key>
				<integer>1200</integer>
				<key>priceInCoins</key>
				<integer>200</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>3</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerCar</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>carriageSpeedIcon.png</string>
				<key>title</key>
				<string>High Voltage Robot</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_high_voltage_robot</string>
				<key>line1</key>
				<string>Increase &amp;Wcarriage &amp;Wspeed by &amp;W20%, reduce dead time during manufacturing.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_high_voltage_robot</string>
				<key>time</key>
				<integer>1500</integer>
				<key>priceInCoins</key>
				<integer>400</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<real>2.4</real>
						<key>researchTrigger</key>
						<string>robotTransferTime</string>
					</dict>
					<dict>
						<key>triggerValue</key>
						<string>lowerRobotSpriteBlue.png</string>
						<key>researchTrigger</key>
						<string>lowerRobotSpriteFrameName</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconTwinInterior.png</string>
				<key>title</key>
				<string>Special Tools</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_special_tools</string>
				<key>line1</key>
				<string>Build &amp;W2 &amp;Wfirst &amp;Wstep at the same time. Reduce number of order to give.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_special_tools</string>
				<key>time</key>
				<integer>1800</integer>
				<key>priceInCoins</key>
				<integer>500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>1</integer>
						<key>researchTrigger</key>
						<string>fastInterior</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>icon4Worker.png</string>
				<key>title</key>
				<string>Fordism</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_fordism</string>
				<key>line1</key>
				<string>Allows &amp;W4 &amp;Wemployees to work on the same car. Increase Productivity.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_fordism</string>
				<key>time</key>
				<integer>3240</integer>
				<key>priceInCoins</key>
				<integer>1200</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>4</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerCar</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconPowerRail.png</string>
				<key>title</key>
				<string>Power Rail</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_power_rail</string>
				<key>line1</key>
				<string>Increase &amp;Wcarriage &amp;Wspeed &amp;Wby &amp;W30%, reduce dead time during manufacturing.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_power_rail</string>
				<key>time</key>
				<integer>3900</integer>
				<key>priceInCoins</key>
				<integer>1450</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>2</integer>
						<key>researchTrigger</key>
						<string>robotTransferTime</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconTripleInterior.png</string>
				<key>title</key>
				<string>Rational Engineering</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_rational_engineering</string>
				<key>line1</key>
				<string>Build &amp;W3 &amp;Wfirst &amp;Wstep at the same time. </string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_rational_engineering</string>
				<key>line2</key>
				<string></string>
				<key>localizedLine2</key>
				<string></string>
				<key>time</key>
				<integer>5040</integer>
				<key>priceInCoins</key>
				<integer>2000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>2</integer>
						<key>researchTrigger</key>
						<string>fastInterior</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>icon5worker.png</string>
				<key>title</key>
				<string>Shift Rotation</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_shift_rotation</string>
				<key>line1</key>
				<string>Allows &amp;W5 &amp;Wemployees to work on the same car. Increase motivation.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_shift_rotation</string>
				<key>time</key>
				<integer>5400</integer>
				<key>priceInCoins</key>
				<integer>7500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>5</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerCar</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconRadar.png</string>
				<key>title</key>
				<string>AntiCollision Detector</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_anti_collision_detector</string>
				<key>line1</key>
				<string>Increase &amp;Wcarriage &amp;Wspeed &amp;Wby &amp;W50%, maintain acceptable safety.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_anti_collision_detector</string>
				<key>time</key>
				<integer>6720</integer>
				<key>priceInCoins</key>
				<integer>8000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<real>1.5</real>
						<key>researchTrigger</key>
						<string>robotTransferTime</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>icon2panel.png</string>
				<key>title</key>
				<string>Spatial Optimization</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_spatial_optimization</string>
				<key>line1</key>
				<string>Build &amp;W2 &amp;Wbody &amp;WPanel at the same time. Increase Quality.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_spatial_optimization</string>
				<key>time</key>
				<integer>8160</integer>
				<key>priceInCoins</key>
				<integer>10000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>1</integer>
						<key>researchTrigger</key>
						<string>fastPanel</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>icon6worker.png</string>
				<key>title</key>
				<string>Quality Group</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_quality_group</string>
				<key>line1</key>
				<string>Allows &amp;W6 &amp;Wemployees to work on the same car.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text1_quality_group</string>
				<key>line2</key>
				<string>Greatly improve building speed.</string>
				<key>localizedLine2</key>
				<string>lbl_extra_research_data_text2_quality_group</string>
				<key>time</key>
				<integer>12240</integer>
				<key>priceInCoins</key>
				<integer>15000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>6</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerCar</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconCeramicBrake.png</string>
				<key>title</key>
				<string>Carriage Ceramic Brakes</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_carriage_ceramic_brakes</string>
				<key>line1</key>
				<string>Increase &amp;Wcarriage &amp;Wspeed &amp;Wby &amp;W70% while keeping it safe. </string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_carriage_ceramic_brakes</string>
				<key>time</key>
				<integer>14040</integer>
				<key>priceInCoins</key>
				<integer>16500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>1</integer>
						<key>researchTrigger</key>
						<string>robotTransferTime</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>icon3Panel.png</string>
				<key>title</key>
				<string>Monoblock Frame</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_monoblock_frame</string>
				<key>line1</key>
				<string>Build &amp;W3 &amp;Wbody &amp;WPanel at the same time. Increase Efficiency.</string>
				<key>time</key>
				<integer>18000</integer>
				<key>priceInCoins</key>
				<integer>20000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>2</integer>
						<key>researchTrigger</key>
						<string>fastPanel</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>icon7worker.png</string>
				<key>title</key>
				<string>Autonomous Group</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_autonomous_group</string>
				<key>line1</key>
				<string>Allows &amp;W7 &amp;Wemployees on a car. It highly increases quality and efficiency.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_autonomous_group</string>
				<key>time</key>
				<integer>28800</integer>
				<key>priceInCoins</key>
				<integer>25000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>7</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerCar</string>
					</dict>
					<dict>
						<key>triggerValue</key>
						<integer>0</integer>
						<key>researchTrigger</key>
						<string>autonomousGroup</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iocnInertialDamper.png</string>
				<key>title</key>
				<string>Inertial Damper</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_inertial_damper</string>
				<key>line1</key>
				<string>Increase &amp;Wcarriage &amp;Wspeed &amp;Wby &amp;W90%, reduce dead time during manufacturing.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_inertial_damper</string>
				<key>time</key>
				<integer>45360</integer>
				<key>priceInCoins</key>
				<integer>35000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<real>0.6</real>
						<key>researchTrigger</key>
						<string>robotTransferTime</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iocnFastAxle.png</string>
				<key>title</key>
				<string>Smart Axle</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_smart_axle</string>
				<key>line1</key>
				<string>Build &amp;Wfront and &amp;Wrear &amp;Waxle + &amp;Wexhaust at the same time. </string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_smart_axle</string>
				<key>time</key>
				<integer>95040</integer>
				<key>priceInCoins</key>
				<integer>38000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>1</integer>
						<key>researchTrigger</key>
						<string>fastAxle</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconSafetyFart.png</string>
				<key>title</key>
				<string>Safety Fart</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_safety_fart</string>
				<key>line1</key>
				<string>Reduce Smell of &amp;Wfart by 100% avoiding &amp;Wnearby &amp;Wemployees to collapse.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_safety_fart</string>
				<key>time</key>
				<integer>150000</integer>
				<key>priceInCoins</key>
				<integer>500000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>1</integer>
						<key>researchTrigger</key>
						<string>safetyFart</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconRestRoom.png</string>
				<key>title</key>
				<string>Rest Room</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_rest_room</string>
				<key>line1</key>
				<string>Allow employee to go on &amp;Wrest. Work can be resume at any time. </string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_rest_room</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>1000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>1</integer>
						<key>researchTrigger</key>
						<string>restRoom</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>icon7worker.png</string>
				<key>title</key>
				<string>BrotherHood</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_brother_hood</string>
				<key>line1</key>
				<string>Allows &amp;W8 &amp;Wemployees on a car. It highly increases quality and efficiency.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_brother_hood</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>500000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>8</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerCar</string>
					</dict>
					<dict>
						<key>triggerValue</key>
						<integer>0</integer>
						<key>researchTrigger</key>
						<string>autonomousGroup</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>icon4Worker.png</string>
				<key>title</key>
				<string>Pirates Hygiene</string>
				<key>localizedTitle</key>
				<string>lbl_research_data_title_pirates_hygiene</string>
				<key>line1</key>
				<string>Allows &amp;W4 &amp;Wemployees to work on the same chest. Increase your odds to open it! </string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_fordism1</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>600000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>4</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerChest</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconSpeedPainting.png</string>
				<key>title</key>
				<string>Thin Paint Coat</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_thin_paint_coat</string>
				<key>line1</key>
				<string>Reduce &amp;WPaint &amp;WWP by &amp;W15%. Increase production speed !</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_thin_paint_coat</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>900000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>15</integer>
						<key>researchTrigger</key>
						<string>reducePaintWp</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSprite</key>
				<string>icon9workers.png</string>
				<key>title</key>
				<string>Workers Guild</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_workersGuild</string>
				<key>line1</key>
				<string>Allows &amp;W9 &amp;Wemployees on a car. It highly increases quality and efficiency.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_workersGuild</string>
				<key>time</key>
				<integer>345600</integer>
				<key>priceInCoins</key>
				<integer>50000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>9</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerCar</string>
					</dict>
					<dict>
						<key>triggerValue</key>
						<integer>0</integer>
						<key>researchTrigger</key>
						<string>autonomousGroup</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSprite</key>
				<string>iconOiledUpRails.png</string>
				<key>title</key>
				<string>Oiled Up Rails</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_oiledUpRails</string>
				<key>line1</key>
				<string>Increase &amp;Wcarriage &amp;Wspeed by &amp;W100%. It&apos;s more or less safe.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_oiledUpRails</string>
				<key>time</key>
				<integer>345600</integer>
				<key>priceInCoins</key>
				<integer>90000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<real>0.4</real>
						<key>researchTrigger</key>
						<string>robotTransferTime</string>
					</dict>
				</array>
			</dict>
		</array>
	</array>
	<key>ShopResearch</key>
	<array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconWinter.png</string>
				<key>title</key>
				<string>Winter Pack</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_winter_pack</string>
				<key>line1</key>
				<string>Allow to equip car with heated seat, steering wheels and clim control.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_winter_pack</string>
				<key>time</key>
				<integer>240</integer>
				<key>priceInCoins</key>
				<integer>1000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>6</string>
						<key>researchTrigger</key>
						<string>shopOptionMaxItem</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconManager.png</string>
				<key>title</key>
				<string>Project Coordinator</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_project_coordinator</string>
				<key>line1</key>
				<string>Allows  up to &amp;W6 &amp;Wworkers on the same construction site.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_project_coordinator</string>
				<key>time</key>
				<integer>300</integer>
				<key>priceInCoins</key>
				<integer>1500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>6</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerBuilding</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconWeb.png</string>
				<key>title</key>
				<string>Web Advertising</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_web_advertising</string>
				<key>line1</key>
				<string>Increase building frequentation, and reduce collection time by 5%.</string>
				<key>localizedLine1</key>
				<string>lbl_research_data_text_web_advertising</string>
				<key>time</key>
				<integer>360</integer>
				<key>priceInCoins</key>
				<integer>1500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>5</integer>
						<key>researchTrigger</key>
						<string>shopCollectReduceTime</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconLeds.png</string>
				<key>title</key>
				<string>Led Interior</string>
				<key>localizedTitle</key>
				<string>lbl_car_option_data_name_led_interior</string>
				<key>line1</key>
				<string>Customer controlled interior lighting. People will love it !</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_led_interior</string>
				<key>time</key>
				<integer>1080</integer>
				<key>priceInCoins</key>
				<integer>800</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>7</string>
						<key>researchTrigger</key>
						<string>shopOptionMaxItem</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconTalkie.png</string>
				<key>title</key>
				<string>Talkie Walkie</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_talkie_walkie</string>
				<key>line1</key>
				<string>Allows up &amp;W7 &amp;Wworkers on the same construction site.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_talkie_walkie</string>
				<key>time</key>
				<integer>1430</integer>
				<key>priceInCoins</key>
				<integer>1250</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>7</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerBuilding</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconCashDesk.png</string>
				<key>title</key>
				<string>Titanium Cash Desk</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_titanium_cash_desk</string>
				<key>line1</key>
				<string>Increase shop cash desk capacity by 10%.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_titanium_cash_desk</string>
				<key>time</key>
				<integer>2700</integer>
				<key>priceInCoins</key>
				<integer>3500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>10</integer>
						<key>researchTrigger</key>
						<string>shopRevenueBonus</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconSportOptions.png</string>
				<key>title</key>
				<string>Sport Options</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_sport_options</string>
				<key>line1</key>
				<string>Unlock &amp;W3 &amp;Wnew &amp;Woptions, carbon dash, ceramic brakes and carbon seats.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_sport_options</string>
				<key>time</key>
				<integer>5760</integer>
				<key>priceInCoins</key>
				<integer>2400</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>10</string>
						<key>researchTrigger</key>
						<string>shopOptionMaxItem</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>twinWorkerIcon.png</string>
				<key>title</key>
				<string>Team Spirit</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_team_spirit</string>
				<key>line1</key>
				<string>Allows up &amp;W8 &amp;Wworkers on the same construction site.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_team_spirit</string>
				<key>time</key>
				<integer>6460</integer>
				<key>priceInCoins</key>
				<integer>2500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>8</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerBuilding</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconFidelityCard.png</string>
				<key>title</key>
				<string>Loyalty Card</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_loyalty_card</string>
				<key>line1</key>
				<string>Increase shop revenue by 20% and reduce collect time by 10 %.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_loyalty_card</string>
				<key>time</key>
				<integer>7200</integer>
				<key>priceInCoins</key>
				<integer>3500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>15</integer>
						<key>researchTrigger</key>
						<string>shopCollectReduceTime</string>
					</dict>
					<dict>
						<key>triggerValue</key>
						<integer>20</integer>
						<key>researchTrigger</key>
						<string>shopRevenueBonus</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconDriverAssist.png</string>
				<key>title</key>
				<string>Driving Assist</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_driving_assist</string>
				<key>line1</key>
				<string>Unlock &amp;W3 &amp;Wnew &amp;Woptions, Auto Parking, Voice Assist and Self Driving.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_driving_assist</string>
				<key>time</key>
				<integer>13680</integer>
				<key>priceInCoins</key>
				<integer>8500</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>13</string>
						<key>researchTrigger</key>
						<string>shopOptionMaxItem</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconSecretHandShake.png</string>
				<key>title</key>
				<string>Secret HandShake</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_secret_hand_shake</string>
				<key>line1</key>
				<string>Allows up &amp;W9 &amp;Wworkers on the same construction site.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_secret_hand_shake</string>
				<key>time</key>
				<integer>15600</integer>
				<key>priceInCoins</key>
				<integer>10000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>9</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerBuilding</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconEShop.png</string>
				<key>title</key>
				<string>E-Shop</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_e_shop</string>
				<key>line1</key>
				<string>Increase shop revenue by 30% and reduce collect time by 20 %.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_e_shop</string>
				<key>time</key>
				<integer>18500</integer>
				<key>priceInCoins</key>
				<integer>18000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>20</integer>
						<key>researchTrigger</key>
						<string>shopCollectReduceTime</string>
					</dict>
					<dict>
						<key>triggerValue</key>
						<integer>30</integer>
						<key>researchTrigger</key>
						<string>shopRevenueBonus</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>iconGold.png</string>
				<key>title</key>
				<string>Gold Plating</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_gold_plating</string>
				<key>line1</key>
				<string>Unlock Gold Plating Option. Some customer really want to shine.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_gold_plating</string>
				<key>time</key>
				<integer>172798</integer>
				<key>priceInCoins</key>
				<integer>1000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>13</string>
						<key>researchTrigger</key>
						<string>shopOptionMaxItem</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSpriteFrameName</key>
				<string>twinWorkerIcon.png</string>
				<key>title</key>
				<string>Coach</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_coach</string>
				<key>line1</key>
				<string>Allows up &amp;W10 &amp;Wworkers on the same construction site.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_coach</string>
				<key>time</key>
				<integer>64800</integer>
				<key>priceInCoins</key>
				<integer>450000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>10</integer>
						<key>researchTrigger</key>
						<string>maxWorkerPerBuilding</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconSprite</key>
				<string>iconSuperAI.png</string>
				<key>title</key>
				<string>Super A.I.</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_superAI</string>
				<key>line1</key>
				<string>Unlocks &amp;W2 &amp;Wnew &amp;Woptions: Auto Brakes and Ejection Seat.</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_superAI</string>
				<key>time</key>
				<integer>345600</integer>
				<key>priceInCoins</key>
				<integer>100000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<string>15</string>
						<key>researchTrigger</key>
						<string>shopOptionMaxItem</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>iconSprite</key>
				<string>iconSuperSales.png</string>
				<key>title</key>
				<string>Super Sales</string>
				<key>localizedTitle</key>
				<string>lbl_extra_research_data_title_superSales</string>
				<key>line1</key>
				<string>Reduce building collection time by 40%</string>
				<key>localizedLine1</key>
				<string>lbl_extra_research_data_text_superSales</string>
				<key>time</key>
				<integer>172800</integer>
				<key>priceInCoins</key>
				<integer>45000000</integer>
				<key>searchConsequence</key>
				<array>
					<dict>
						<key>triggerValue</key>
						<integer>30</integer>
						<key>researchTrigger</key>
						<string>shopCollectReduceTime</string>
					</dict>
				</array>
			</dict>
		</array>
	</array>
	<key>version</key>
	<real>1.458</real>
</dict>
</plist>
