<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{134, 78}, {16, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 15}</string>
			<key>spriteSourceSize</key>
			<string>{16, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 78}, {16, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{134, 104}, {16, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 15}</string>
			<key>spriteSourceSize</key>
			<string>{16, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 104}, {16, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chassis</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{66, 48}, {75, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 24}</string>
			<key>spriteSourceSize</key>
			<string>{75, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 48}, {75, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>door1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 96}, {34, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 22}</string>
			<key>spriteSourceSize</key>
			<string>{34, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 96}, {34, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>engine</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{66, 104}, {62, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 17}</string>
			<key>spriteSourceSize</key>
			<string>{62, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 104}, {62, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>exhaust1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{66, 126}, {67, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 9}</string>
			<key>spriteSourceSize</key>
			<string>{67, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 126}, {67, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{66, 140}, {23, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 15}</string>
			<key>spriteSourceSize</key>
			<string>{23, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 140}, {23, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 122}, {23, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{23, 18}</string>
			<key>spriteSourceSize</key>
			<string>{23, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 122}, {23, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{110, 32}, {9, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 8}</string>
			<key>spriteSourceSize</key>
			<string>{9, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 32}, {9, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{110, 0}, {43, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 27}</string>
			<key>spriteSourceSize</key>
			<string>{43, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 0}, {43, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 48}, {61, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 42}</string>
			<key>spriteSourceSize</key>
			<string>{61, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 48}, {61, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{66, 78}, {63, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 21}</string>
			<key>spriteSourceSize</key>
			<string>{63, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 78}, {63, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{40, 96}, {20, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{40, 96}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{28, 122}, {20, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{28, 122}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skullCar_16</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{124, 38}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 38}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skullCar_18</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{130, 38}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 38}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skullCar_2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{124, 32}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 32}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skullCar_4</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{130, 32}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 32}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>window1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 43}</string>
			<key>spriteSourceSize</key>
			<string>{104, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {104, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{156, 156}</string>
	</dict>
</dict>
</plist>
