<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{134, 102}, {16, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 15}</string>
			<key>spriteSourceSize</key>
			<string>{16, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 102}, {16, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{138, 122}, {16, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 15}</string>
			<key>spriteSourceSize</key>
			<string>{16, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{138, 122}, {16, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>beachBendy_5</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{138, 38}, {1, 2}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1, 2}</string>
			<key>spriteSourceSize</key>
			<string>{1, 2}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{138, 38}, {1, 2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chassis</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 58}, {90, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 40}</string>
			<key>spriteSourceSize</key>
			<string>{90, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 58}, {90, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>door1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{62, 122}, {31, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 20}</string>
			<key>spriteSourceSize</key>
			<string>{31, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 122}, {31, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>door2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 130}, {37, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 20}</string>
			<key>spriteSourceSize</key>
			<string>{37, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 130}, {37, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>engine</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 102}, {57, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 22}</string>
			<key>spriteSourceSize</key>
			<string>{57, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 102}, {57, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>exhaust1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{62, 102}, {67, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 15}</string>
			<key>spriteSourceSize</key>
			<string>{67, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 102}, {67, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{108, 38}, {10, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 11}</string>
			<key>spriteSourceSize</key>
			<string>{10, 11}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 38}, {10, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{124, 146}, {16, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 22}</string>
			<key>spriteSourceSize</key>
			<string>{16, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 146}, {16, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>interior3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{124, 38}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 38}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{108, 0}, {51, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{51, 33}</string>
			<key>spriteSourceSize</key>
			<string>{51, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 0}, {51, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{96, 58}, {50, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 32}</string>
			<key>spriteSourceSize</key>
			<string>{50, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 58}, {50, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel3</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{98, 122}, {34, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 18}</string>
			<key>spriteSourceSize</key>
			<string>{34, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 122}, {34, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{98, 146}, {20, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 146}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>roue2</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{62, 148}, {20, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 148}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>window1</key>
		<dict>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 52}</string>
			<key>spriteSourceSize</key>
			<string>{103, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {103, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{160, 168}</string>
	</dict>
</dict>
</plist>
