<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UpgradesPool</key>
	<array>
		<dict>
			<key>Gfx</key>
			<string>barBooster1.png</string>
			<key>searchConsequence</key>
			<array>
				<dict>
					<key>triggerValue</key>
					<integer>1</integer>
					<key>researchTrigger</key>
					<string>maxExtraDonuts</string>
					<key>name</key>
					<string>increase donut bar</string>
				</dict>
			</array>
			<key>line2String</key>
			<string>+ &amp;WFull &amp;WRefill</string>
			<key>Price</key>
			<array>
				<dict>
					<key>PriceInCoins</key>
					<integer>1500</integer>
					<key>PriceInCash</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>2000</integer>
					<key>PriceInCash</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>3000</integer>
					<key>PriceInCash</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>New item</key>
					<dict>
						<key>PriceInCoins</key>
						<integer>500</integer>
						<key>PriceInCash</key>
						<integer>0</integer>
					</dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>New item</key>
					<dict>
						<key>PriceInCoins</key>
						<integer>500</integer>
						<key>PriceInCash</key>
						<integer>0</integer>
					</dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>40</integer>
				</dict>
				<dict>
					<key>PriceInCoins</key>
					<integer>0</integer>
					<key>PriceInCash</key>
					<integer>45</integer>
				</dict>
			</array>
			<key>Name</key>
			<string>Upgrade &amp;Wmax &amp;Wdonuts bar</string>
		</dict>
		<dict>
			<key>Gfx</key>
			<string>barBooster2.png</string>
			<key>searchConsequence</key>
			<array>
				<dict>
					<key>triggerValue</key>
					<integer>2</integer>
					<key>researchTrigger</key>
					<string>maxExtraDonuts</string>
					<key>name</key>
					<string>increase donut bar</string>
				</dict>
			</array>
			<key>line2String</key>
			<string>&amp;PDonuts &amp;W+2</string>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceInCash</key>
			<integer>50</integer>
			<key>Name</key>
			<string>Upgrade &amp;Wmax donuts bar</string>
		</dict>
		<dict>
			<key>Gfx</key>
			<string>barBooster5.png</string>
			<key>searchConsequence</key>
			<array>
				<dict>
					<key>triggerValue</key>
					<integer>5</integer>
					<key>researchTrigger</key>
					<string>maxExtraDonuts</string>
					<key>name</key>
					<string>increase donut bar</string>
				</dict>
			</array>
			<key>line2String</key>
			<string>&amp;PDonuts &amp;W+5</string>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceInCash</key>
			<integer>100</integer>
			<key>Name</key>
			<string>Upgrade &amp;Wmax donuts bar</string>
		</dict>
		<dict>
			<key>Gfx</key>
			<string>barBooster10.png</string>
			<key>searchConsequence</key>
			<array>
				<dict>
					<key>triggerValue</key>
					<integer>10</integer>
					<key>researchTrigger</key>
					<string>maxExtraDonuts</string>
					<key>name</key>
					<string>increase donut bar</string>
				</dict>
			</array>
			<key>line2String</key>
			<string>&amp;PDonuts &amp;W+10</string>
			<key>PriceInCoins</key>
			<integer>0</integer>
			<key>PriceInCash</key>
			<integer>175</integer>
			<key>Name</key>
			<string>Upgrade &amp;Wmax donuts bar</string>
		</dict>
	</array>
</dict>
</plist>
