<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themeOfferFriday13</key>
	<dict>
		<key>mustBeGroups</key>
		<string>minLevel6</string>
		<key>name</key>
		<string>Offer</string>
		<key>isActive</key>
		<true/>
		<key>version</key>
		<integer>1</integer>
		<key>startDate</key>
		<string>2017-10-13 14:00</string>
		<key>lengthInHours</key>
		<integer>72</integer>
		<key>sprite</key>
		<array>
			<string>chestGold.png</string>
			<string>goldCarOfferBG.png</string>
			<string>goldCarOfferBanner2.png</string>
			<string>POWERPACK_5e.png</string>
		</array>
		<key>body</key>
		<array>
			<dict>
				<key>mustBeGroups</key>
				<string>maxLevel29</string>
				<key>dynamicZone</key>
				<string>event:self:offerHorrorPack1</string>
			</dict>
			<dict>
				<key>mustBeGroups</key>
				<string>minLevel30,maxLevel79,maxSpent0</string>
				<key>dynamicZone</key>
				<string>event:self:offerHorrorPack2a</string>
			</dict>
			<dict>
				<key>mustBeGroups</key>
				<string>minLevel80,maxSpent0</string>
				<key>dynamicZone</key>
				<string>event:self:offerHorrorPack2b</string>
			</dict>
			<dict>
				<key>mustBeGroups</key>
				<string>minLevel30,maxSpent29</string>
				<key>mustNotBeGroups</key>
				<string>maxSpent0</string>
				<key>dynamicZone</key>
				<string>event:self:offerHorrorPack3</string>
			</dict>
			<dict>
				<key>mustBeGroups</key>
				<string>minLevel30,maxLevel79,minSpent30</string>
				<key>dynamicZone</key>
				<string>event:self:offerHorrorPack4</string>
			</dict>
			<dict>
				<key>mustBeGroups</key>
				<string>minLevel80,minSpent30</string>
				<key>dynamicZone</key>
				<string>event:self:offerHorrorPack5</string>
			</dict>
		</array>
		<key>offerHorrorPack1</key>
		<array>
			<dict>
				<key>height</key>
				<integer>147</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array>
					<dict/>
					<dict/>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>offerHorrorPack1</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Bundle</string>
								<key>Gfx</key>
								<string>chestGold.png</string>
								<key>product</key>
								<string>mobageSpecialOffer1</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>10</integer>
										<key>donuts</key>
										<integer>15</integer>
										<key>mysteryCard</key>
										<integer>2</integer>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>39</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Undead</string>
											<key>curStamina</key>
											<integer>450</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>localizedName</key>
											<string>lbl_monster_data_monster_tpkhamon</string>
											<key>localizedWorkerModel</key>
											<string>lbl_monster_data_model_undead</string>
											<key>name</key>
											<string>TP-khamon</string>
											<key>rarity</key>
											<string>1</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>mumieUpperBody.png</string>
													<key>offset</key>
													<string>{0.00,0.50}</string>
												</dict>
												<key>hammerOffset</key>
												<string>{-4.50,-1.00}</string>
												<key>helmetOffset</key>
												<string>{0.00,-19.00}</string>
												<key>leftArmOffset</key>
												<string>{0.00,2.00}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>mumieLeg.png</string>
													<key>offset</key>
													<string>{0.50,-0.50}</string>
													<key>partSelected</key>
													<integer>2</integer>
												</dict>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_tpkhamon</string>
												<key>name</key>
												<string>TP-khamon</string>
												<key>onlineHammer</key>
												<string>mumieHammer.png</string>
												<key>onlineHelmet</key>
												<string>mumieHat.png</string>
												<key>onlineLeftArm</key>
												<string>mumieLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>mumieRightArm.png</string>
												<key>race</key>
												<string>Undead</string>
												<key>rightArmOffset</key>
												<string>{2.00,2.00}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>450</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>TP-khamon</string>
												<key>infoText</key>
												<string>TP-khamon&apos;s bandages disintegrated with time. He now uses toilet paper to hide himself. Too bad it&apos;s already been used...</string>
												<key>localizedInfoText</key>
												<string>lbl_monster_data_monster_tpkhamon_info</string>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_tpkhamon</string>
												<key>qualityMax</key>
												<integer>180</integer>
												<key>qualityMin</key>
												<integer>120</integer>
												<key>speedMax</key>
												<integer>160</integer>
												<key>speedMin</key>
												<integer>80</integer>
												<key>staminaMax</key>
												<integer>650</integer>
												<key>staminaMin</key>
												<integer>300</integer>
												<key>wpMax</key>
												<integer>800</integer>
												<key>wpMin</key>
												<integer>500</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>FRIDAY13_PACK_OFFER1.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,147}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>line</key>
				<integer>0</integer>
				<key>timerText</key>
				<string>&amp;W</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>216,10,255,255</string>
				<key>shadowColor</key>
				<string>255,0,0,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{105,13}</string>
			</dict>
		</array>
		<key>offerHorrorPack2a</key>
		<array>
			<dict>
				<key>height</key>
				<integer>147</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array>
					<dict/>
					<dict/>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>offerHorrorPack2a</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Bundle</string>
								<key>Gfx</key>
								<string>chestGold.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>30</integer>
										<key>donuts</key>
										<integer>40</integer>
										<key>mysteryCard</key>
										<integer>3</integer>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>70</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Killer</string>
											<key>curStamina</key>
											<integer>500</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>localizedName</key>
											<string>lbl_monster_data_monster_nightClaw</string>
											<key>localizedWorkerModel</key>
											<string>lbl_monster_data_model_killer</string>
											<key>name</key>
											<string>Night Claw</string>
											<key>rarity</key>
											<string>1</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>nightClawUpperBody.png</string>
													<key>offset</key>
													<string>{0,2}</string>
												</dict>
												<key>helmetOffset</key>
												<string>{1.5f,-1.5f}</string>
												<key>leftArmOffset</key>
												<string>{0,2}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>nightClawLeg.png</string>
													<key>offset</key>
													<string>{0,0}</string>
													<key>partSelected</key>
													<integer>2</integer>
												</dict>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_nightClaw</string>
												<key>localizedRace</key>
												<string>lbl_monster_data_model_killer</string>
												<key>name</key>
												<string>Night Claw</string>
												<key>onlineHammer</key>
												<string>nightClawHammer.png</string>
												<key>onlineHelmet</key>
												<string>nightClawHat.png</string>
												<key>onlineLeftArm</key>
												<string>nightClawLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>nightClawRightArm.png</string>
												<key>race</key>
												<string>Killer</string>
												<key>rightArmOffset</key>
												<string>{2.5f,2}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>500</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Night Claw</string>
												<key>infoText</key>
												<string> Though he usually only appears in &amp;Pnightmares, &amp;RNight &amp;RClaw is also a pretty successful &amp;Ggardener by day. </string>
												<key>localizedInfoText</key>
												<string>lbl_monster_data_monster_nightClaw_info</string>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_nightClaw</string>
												<key>qualityMax</key>
												<integer>110</integer>
												<key>qualityMin</key>
												<integer>110</integer>
												<key>speedMax</key>
												<integer>500</integer>
												<key>speedMin</key>
												<integer>250</integer>
												<key>staminaMax</key>
												<integer>800</integer>
												<key>staminaMin</key>
												<integer>500</integer>
												<key>wpMax</key>
												<integer>1200</integer>
												<key>wpMin</key>
												<integer>600</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>FRIDAY13_PACK_OFFER2a.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,147}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>line</key>
				<integer>0</integer>
				<key>timerText</key>
				<string>&amp;W</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>216,10,255,255</string>
				<key>shadowColor</key>
				<string>255,0,0,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{105,13}</string>
			</dict>
		</array>
		<key>offerHorrorPack2b</key>
		<array>
			<dict>
				<key>height</key>
				<integer>147</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array>
					<dict/>
					<dict/>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>offerHorrorPack2b</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Bundle</string>
								<key>Gfx</key>
								<string>chestGold.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>50</integer>
										<key>donuts</key>
										<integer>80</integer>
										<key>mysteryCard</key>
										<integer>5</integer>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>299</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Scarecrow</string>
											<key>curStamina</key>
											<integer>1000</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>localizedName</key>
											<string>lbl_monster_data_monster_crowgrin</string>
											<key>localizedWorkerModel</key>
											<string>lbl_monster_data_model_scarecrow</string>
											<key>name</key>
											<string>Crowgrin</string>
											<key>rarity</key>
											<string>2</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>epouvantailUpperBody.png</string>
													<key>offset</key>
													<string>{0,1}</string>
												</dict>
												<key>helmetOffset</key>
												<string>{-1.5f,1}</string>
												<key>leftArmOffset</key>
												<string>{0.5f,0}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>epouvantailLeg.png</string>
													<key>offset</key>
													<string>{1,0}</string>
													<key>partSelected</key>
													<integer>2</integer>
												</dict>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_crowgrin</string>
												<key>name</key>
												<string>Crowgrin</string>
												<key>onlineHammer</key>
												<string>epouvantailHammer.png</string>
												<key>onlineHelmet</key>
												<string>epouvantailHat.png</string>
												<key>onlineLeftArm</key>
												<string>epouvantailLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>epouvantailRightArm.png</string>
												<key>race</key>
												<string>Scarecrow</string>
												<key>rightArmOffset</key>
												<string>{3.5f,0}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>1000</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Crowgrin</string>
												<key>infoText</key>
												<string>If you ever start hearing caws, run. Run and never stop. Because Crowgrin is coming for you.</string>
												<key>localizedInfoText</key>
												<string>lbl_monster_data_monster_crowgrin_info</string>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_crowgrin</string>
												<key>qualityMax</key>
												<integer>400</integer>
												<key>qualityMin</key>
												<integer>200</integer>
												<key>speedMax</key>
												<integer>400</integer>
												<key>speedMin</key>
												<integer>200</integer>
												<key>staminaMax</key>
												<integer>2000</integer>
												<key>staminaMin</key>
												<integer>1000</integer>
												<key>wpMax</key>
												<integer>1600</integer>
												<key>wpMin</key>
												<integer>1000</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>FRIDAY13_PACK_OFFER2b.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,147}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>line</key>
				<integer>0</integer>
				<key>timerText</key>
				<string>&amp;W</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>216,10,255,255</string>
				<key>shadowColor</key>
				<string>255,0,0,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{105,13}</string>
			</dict>
		</array>
		<key>offerHorrorPack3</key>
		<array>
			<dict>
				<key>height</key>
				<integer>147</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array>
					<dict/>
					<dict/>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>offerHorrorPack3</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Bundle</string>
								<key>Gfx</key>
								<string>chestGold.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>100</integer>
										<key>donuts</key>
										<integer>150</integer>
										<key>mysteryCard</key>
										<integer>10</integer>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>850</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Killer</string>
											<key>curStamina</key>
											<integer>1700</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>localizedName</key>
											<string>lbl_monster_data_monster_splatter</string>
											<key>localizedWorkerModel</key>
											<string>lbl_monster_data_model_killer</string>
											<key>name</key>
											<string>Splatter</string>
											<key>rarity</key>
											<string>3</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>splatterUpperBody.png</string>
													<key>offset</key>
													<string>{-1,2}</string>
												</dict>
												<key>helmetOffset</key>
												<string>{3.5f,-1.5f}</string>
												<key>leftArmOffset</key>
												<string>{-1.5f,7}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>splatterLeg.png</string>
													<key>offset</key>
													<string>{0,0}</string>
													<key>partSelected</key>
													<integer>2</integer>
												</dict>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_splatter</string>
												<key>localizedRace</key>
												<string>lbl_monster_data_model_killer</string>
												<key>name</key>
												<string>Splatter</string>
												<key>onlineHammer</key>
												<string>splatterHammer.png</string>
												<key>onlineHelmet</key>
												<string>splatterHat.png</string>
												<key>onlineLeftArm</key>
												<string>splatterLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>splatterRightArm.png</string>
												<key>race</key>
												<string>Killer</string>
												<key>rightArmOffset</key>
												<string>{0.5f,7}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>1700</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Splatter</string>
												<key>infoText</key>
												<string>Nobody is scared of &amp;RSplatter &apos;cause he looks like a &amp;Bhockey &amp;Bplayer. But when &amp;PFriday &amp;Pthe &amp;P13th comes, everybody loses their mind!</string>
												<key>localizedInfoText</key>
												<string>lbl_monster_data_monster_splatter_info</string>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_splatter</string>
												<key>qualityMax</key>
												<integer>250</integer>
												<key>qualityMin</key>
												<integer>160</integer>
												<key>speedMax</key>
												<integer>1200</integer>
												<key>speedMin</key>
												<integer>800</integer>
												<key>staminaMax</key>
												<integer>3200</integer>
												<key>staminaMin</key>
												<integer>1700</integer>
												<key>wpMax</key>
												<integer>2900</integer>
												<key>wpMin</key>
												<integer>1900</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>FRIDAY13_PACK_OFFER3.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,147}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>line</key>
				<integer>0</integer>
				<key>timerText</key>
				<string>&amp;W</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>216,10,255,255</string>
				<key>shadowColor</key>
				<string>255,0,0,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{105,13}</string>
			</dict>
		</array>
		<key>offerHorrorPack4</key>
		<array>
			<dict>
				<key>height</key>
				<integer>147</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array>
					<dict/>
					<dict/>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>offerHorrorPack4</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Bundle</string>
								<key>Gfx</key>
								<string>chestGold.png</string>
								<key>product</key>
								<string>mobageSpecialOffer4</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>250</integer>
										<key>donuts</key>
										<integer>300</integer>
										<key>mysteryCard</key>
										<integer>20</integer>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>1799</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Undead</string>
											<key>curStamina</key>
											<integer>2000</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>localizedName</key>
											<string>lbl_monster_data_monster_sir_bone</string>
											<key>localizedWorkerModel</key>
											<string>lbl_monster_data_model_undead</string>
											<key>name</key>
											<string>Sir Bone</string>
											<key>rarity</key>
											<string>3</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>skeletonUpperBody.png</string>
													<key>offset</key>
													<string>{1,2}</string>
												</dict>
												<key>helmetOffset</key>
												<string>{-1,-0.5f}</string>
												<key>leftArmOffset</key>
												<string>{0.5f,4}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>skeletonLeg.png</string>
													<key>offset</key>
													<string>{0,0}</string>
													<key>partSelected</key>
													<integer>2</integer>
												</dict>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_sir_bone</string>
												<key>name</key>
												<string>Sir Bone</string>
												<key>onlineHammer</key>
												<string>skeletonHammer.png</string>
												<key>onlineHelmet</key>
												<string>skeletonHat.png</string>
												<key>onlineLeftArm</key>
												<string>skeletonLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>skeletonRightArm.png</string>
												<key>race</key>
												<string>Undead</string>
												<key>rightArmOffset</key>
												<string>{1.5f,4}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>2000</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Sir Bone</string>
												<key>infoText</key>
												<string>Sir Bone used to be really popular in colleges, but he was too heartless to make any friends.</string>
												<key>localizedInfoText</key>
												<string>lbl_monster_data_monster_sir_bone_info</string>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_sir_bone</string>
												<key>qualityMax</key>
												<integer>800</integer>
												<key>qualityMin</key>
												<integer>400</integer>
												<key>speedMax</key>
												<integer>800</integer>
												<key>speedMin</key>
												<integer>400</integer>
												<key>staminaMax</key>
												<integer>2500</integer>
												<key>staminaMin</key>
												<integer>2000</integer>
												<key>wpMax</key>
												<integer>2500</integer>
												<key>wpMin</key>
												<integer>2000</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>FRIDAY13_PACK_OFFER4.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,147}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>line</key>
				<integer>0</integer>
				<key>timerText</key>
				<string>&amp;W</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>216,10,255,255</string>
				<key>shadowColor</key>
				<string>255,0,0,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{105,13}</string>
			</dict>
		</array>
		<key>offerHorrorPack5</key>
		<array>
			<dict>
				<key>height</key>
				<integer>147</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array>
					<dict/>
					<dict/>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>offerHorrorPack5</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Bundle</string>
								<key>Gfx</key>
								<string>chestGold.png</string>
								<key>product</key>
								<string>mobageSpecialOffer5</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>500</integer>
										<key>donuts</key>
										<integer>600</integer>
										<key>mysteryCard</key>
										<integer>30</integer>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>4670</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Wraith</string>
											<key>curStamina</key>
											<integer>3</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>localizedName</key>
											<string>lbl_monster_data_monster_sirHollow</string>
											<key>localizedWorkerModel</key>
											<string>lbl_monster_data_model_wraith</string>
											<key>name</key>
											<string>Sir Hollow</string>
											<key>rarity</key>
											<string>4</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>sirHollowUpperBody.png</string>
													<key>offset</key>
													<string>{-5,2}</string>
												</dict>
												<key>helmetOffset</key>
												<string>{3,-3.5f}</string>
												<key>leftArmOffset</key>
												<string>{-2,8}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>sirHollowLeg.png</string>
													<key>offset</key>
													<string>{0,0}</string>
													<key>partSelected</key>
													<integer>2</integer>
												</dict>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_sirHollow</string>
												<key>localizedRace</key>
												<string>lbl_monster_data_model_wraith</string>
												<key>name</key>
												<string>Sir Hollow</string>
												<key>onlineHammer</key>
												<string>sirHollowHammer.png</string>
												<key>onlineHelmet</key>
												<string>sirHollowHat.png</string>
												<key>onlineLeftArm</key>
												<string>sirHollowLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>sirHollowRightArm.png</string>
												<key>race</key>
												<string>Dinosaur</string>
												<key>rightArmOffset</key>
												<string>{1,8}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>3500</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Sir Hollow</string>
												<key>infoText</key>
												<string>&amp;RSir &amp;RHollow terrorizes &amp;Binnocent &amp;Bvillagers and gives solid advice. His tip of the day: keep your &amp;Phead &amp;Pon &amp;Pyour &amp;Pshoulders!</string>
												<key>localizedInfoText</key>
												<string>lbl_monster_data_monster_sirHollow_info</string>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_sirHollow</string>
												<key>qualityMax</key>
												<integer>320</integer>
												<key>qualityMin</key>
												<integer>350</integer>
												<key>speedMax</key>
												<integer>1800</integer>
												<key>speedMin</key>
												<integer>1200</integer>
												<key>staminaMax</key>
												<integer>5000</integer>
												<key>staminaMin</key>
												<integer>3500</integer>
												<key>wpMax</key>
												<integer>6000</integer>
												<key>wpMin</key>
												<integer>3500</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>FRIDAY13_PACK_OFFER5.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,147}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>line</key>
				<integer>0</integer>
				<key>timerText</key>
				<string>&amp;W</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>216,10,255,255</string>
				<key>shadowColor</key>
				<string>255,0,0,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{105,13}</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
