<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themeOfferEasterCar</key>
	<dict>
		<key>name</key>
		<string>DISCOUNT</string>
		<key>mustBeGroups</key>
		<string>minLevel6</string>
		<key>version</key>
		<integer>1</integer>
		<key>startDate</key>
		<string>2017-04-14 07:00</string>
		<key>lengthInHours</key>
		<integer>100</integer>
		<key>isActive</key>
		<true/>
		<key>forceOpen</key>
		<true/>
		<key>sprite</key>
		<array>
			<string>PAQUES_OFFER_EARLY.png</string>
			<string>PAQUES_OFFER_MID.png</string>
			<string>PAQUES_OFFER_LATE.png</string>
		</array>
		<key>body</key>
		<array>
			<dict>
				<key>mustBeGroups</key>
				<string>maxLevel30</string>
				<key>dynamicZone</key>
				<string>event:self:offerEarly</string>
			</dict>
			<dict>
				<key>mustBeGroups</key>
				<string>minLevel31,maxLevel50</string>
				<key>dynamicZone</key>
				<string>event:self:offerMid</string>
			</dict>
			<dict>
				<key>mustBeGroups</key>
				<string>minLevel51</string>
				<key>dynamicZone</key>
				<string>event:self:offerLate</string>
			</dict>
			<dict>
				<key>timerText</key>
				<string>Time Left : &amp;W</string>
				<key>line</key>
				<real>0.9</real>
				<key>fontSize</key>
				<integer>12</integer>
				<key>alignment</key>
				<string>center</string>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>bgColor</key>
				<string>0,0,0,255</string>
			</dict>
		</array>
		<key>offerEarly</key>
		<array>
			<dict>
				<key>height</key>
				<integer>75</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterEarlyWorker1</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>chicksterCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer1</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>40</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Chick</string>
											<key>curStamina</key>
											<integer>600</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>name</key>
											<string>Chickster</string>
											<key>race</key>
											<string>male</string>
											<key>rarity</key>
											<string>1</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>chicksterBody.png</string>
													<key>offset</key>
													<string>{-2.00,2.00}</string>
												</dict>
												<key>hammerOffset</key>
												<string>{200,200}</string>
												<key>helmetOffset</key>
												<string>{0.50,-3.00}</string>
												<key>leftArmOffset</key>
												<string>{2.00,1.00}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>chicksterLeg.png</string>
													<key>offset</key>
													<string>{0,0.00}</string>
												</dict>
												<key>name</key>
												<string>Chickster</string>
												<key>onlineHammer</key>
												<string>chicksterHammer.png</string>
												<key>onlineHelmet</key>
												<string>chicksterHat.png</string>
												<key>onlineLeftArm</key>
												<string>chicksterLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>chicksterRightArm.png</string>
												<key>race</key>
												<string>Chick</string>
												<key>rightArmOffset</key>
												<string>{0.00,0.00}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>600</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Chickster</string>
												<key>infoText</key>
												<string>This poor egg was about to be &amp;Peaten when it &amp;Ghatched! Now it&apos;s on the run for its life.</string>
												<key>qualityMax</key>
												<integer>85</integer>
												<key>qualityMin</key>
												<integer>50</integer>
												<key>speedMax</key>
												<integer>280</integer>
												<key>speedMin</key>
												<integer>220</integer>
												<key>staminaMax</key>
												<integer>900</integer>
												<key>staminaMin</key>
												<integer>600</integer>
												<key>wpMax</key>
												<integer>1500</integer>
												<key>wpMin</key>
												<integer>1000</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterEarlyMystery2</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>50 Cards</string>
								<key>Gfx</key>
								<string>specialOfferMysteryCards.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>mysteryCard</key>
										<integer>50</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterEarlyCash2</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>130 Cash</string>
								<key>Gfx</key>
								<string>fatPileOfCash.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>130</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>75</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterEarlyWorker3</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>roostaGangstaCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>460</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Gangster</string>
											<key>curStamina</key>
											<integer>1300</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>name</key>
											<string>Roosta Gangsta</string>
											<key>race</key>
											<string>male</string>
											<key>rarity</key>
											<string>3</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>roostaGangstaBody.png</string>
													<key>offset</key>
													<string>{-1,1.50}</string>
												</dict>
												<key>hammerOffset</key>
												<string>{20.00,2.00}</string>
												<key>helmetOffset</key>
												<string>{-2.50,-17.00}</string>
												<key>leftArmOffset</key>
												<string>{-3,3}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>roostaGangstaLeg.png</string>
													<key>offset</key>
													<string>{0.00,0.00}</string>
												</dict>
												<key>name</key>
												<string>Roosta Gangsta</string>
												<key>onlineHammer</key>
												<string>roostaGangstaHammer.png</string>
												<key>onlineHelmet</key>
												<string>roostaGangstaHat.png</string>
												<key>onlineLeftArm</key>
												<string>roostaGangstaLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>roostaGangstaRightArm.png</string>
												<key>race</key>
												<string>Gangster</string>
												<key>rightArmOffset</key>
												<string>{3.00,3.50}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>1300</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Roosta Gangsta</string>
												<key>infoText</key>
												<string>Someone once stole &amp;RRoosta &amp;RGangsta&apos;s eggs, and now he is out to get his &amp;Prevenge.</string>
												<key>qualityMax</key>
												<integer>260</integer>
												<key>qualityMin</key>
												<integer>150</integer>
												<key>speedMax</key>
												<integer>1000</integer>
												<key>speedMin</key>
												<integer>440</integer>
												<key>staminaMax</key>
												<integer>1700</integer>
												<key>staminaMin</key>
												<integer>1300</integer>
												<key>wpMax</key>
												<integer>2500</integer>
												<key>wpMin</key>
												<integer>2000</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterEarlyMystery3</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>110 Cards</string>
								<key>Gfx</key>
								<string>specialOfferMysteryCards.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>mysteryCard</key>
										<integer>110</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterEarlyCash3</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>300 Cash</string>
								<key>Gfx</key>
								<string>fatPileOfCash.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>300</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>PAQUES_OFFER_EARLY.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,153}</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>offerMid</key>
		<array>
			<dict>
				<key>height</key>
				<integer>75</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterMidWorker2</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>eggzorCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>240</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Egg</string>
											<key>curStamina</key>
											<integer>900</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>name</key>
											<string>Eggzor</string>
											<key>race</key>
											<string>male</string>
											<key>rarity</key>
											<string>2</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>eggzorBody.png</string>
													<key>offset</key>
													<string>{-3.00,0.00}</string>
												</dict>
												<key>hammerOffset</key>
												<string>{29.00,-6.00}</string>
												<key>helmetOffset</key>
												<string>{1.00,-2.00}</string>
												<key>leftArmOffset</key>
												<string>{-4.50,8.00}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>eggzorLeg.png</string>
													<key>offset</key>
													<string>{1.50,-1.50}</string>
												</dict>
												<key>name</key>
												<string>Eggzor</string>
												<key>onlineHammer</key>
												<string>eggzorHammer.png</string>
												<key>onlineHelmet</key>
												<string>eggzorHat.png</string>
												<key>onlineLeftArm</key>
												<string>eggzorLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>eggzorRightArm.png</string>
												<key>race</key>
												<string>Egg</string>
												<key>rightArmOffset</key>
												<string>{8.50,8.00}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>900</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Eggzor</string>
												<key>infoText</key>
												<string>A sentient egg brought to life by the magic of &amp;GEaster! He came before the &amp;Rchicken.</string>
												<key>qualityMax</key>
												<integer>120</integer>
												<key>qualityMin</key>
												<integer>90</integer>
												<key>speedMax</key>
												<integer>800</integer>
												<key>speedMin</key>
												<integer>500</integer>
												<key>staminaMax</key>
												<integer>1900</integer>
												<key>staminaMin</key>
												<integer>900</integer>
												<key>wpMax</key>
												<integer>2400</integer>
												<key>wpMin</key>
												<integer>1500</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterMidWorker3</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>eggBotCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>1210</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Robot</string>
											<key>curStamina</key>
											<integer>1300</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>name</key>
											<string>Eggbot</string>
											<key>race</key>
											<string>male</string>
											<key>rarity</key>
											<string>4</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>eggBotBody.png</string>
													<key>offset</key>
													<string>{-4,1.50}</string>
												</dict>
												<key>hammerOffset</key>
												<string>{30,6.50}</string>
												<key>helmetOffset</key>
												<string>{-2.50,0.50}</string>
												<key>leftArmOffset</key>
												<string>{-6.50,10.50}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>eggBotLeg.png</string>
													<key>offset</key>
													<string>{0.00,0.00}</string>
												</dict>
												<key>name</key>
												<string>Eggbot</string>
												<key>onlineHammer</key>
												<string>eggBotHammer.png</string>
												<key>onlineHelmet</key>
												<string>eggBotHat.png</string>
												<key>onlineLeftArm</key>
												<string>eggBotLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>eggBotRightArm.png</string>
												<key>race</key>
												<string>Robot</string>
												<key>rightArmOffset</key>
												<string>{3,10.50}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>1300</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Eggbot</string>
												<key>infoText</key>
												<string>This &amp;Yegg-shaped &amp;Yrobot was designed to be the &amp;Rbest at egg-hunting!</string>
												<key>qualityMax</key>
												<integer>500</integer>
												<key>qualityMin</key>
												<integer>300</integer>
												<key>speedMax</key>
												<integer>600</integer>
												<key>speedMin</key>
												<integer>350</integer>
												<key>staminaMax</key>
												<integer>2200</integer>
												<key>staminaMin</key>
												<integer>1300</integer>
												<key>wpMax</key>
												<integer>2600</integer>
												<key>wpMin</key>
												<integer>1800</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterMidMystery2</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>50 Cards</string>
								<key>Gfx</key>
								<string>specialOfferMysteryCards.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>mysteryCard</key>
										<integer>50</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>75</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterMidCash2</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>130 Cash</string>
								<key>Gfx</key>
								<string>fatPileOfCash.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>130</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterMidCash3</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>300 Cash</string>
								<key>Gfx</key>
								<string>fatPileOfCash.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>300</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterMidCash4</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>800 Cash</string>
								<key>Gfx</key>
								<string>fatPileOfCash.png</string>
								<key>product</key>
								<string>mobageSpecialOffer4</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>800</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>PAQUES_OFFER_MID.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,153}</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>offerLate</key>
		<array>
			<dict>
				<key>height</key>
				<integer>75</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterLateWorker2</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>bunnyCatmanCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>230</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Super Hero</string>
											<key>curStamina</key>
											<integer>800</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>name</key>
											<string>Bunny Catman</string>
											<key>race</key>
											<string>male</string>
											<key>rarity</key>
											<string>2</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>bunnyCatmanBody.png</string>
													<key>offset</key>
													<string>{-3.00,-0.50}</string>
												</dict>
												<key>hammerOffset</key>
												<string>{16.50,1.00}</string>
												<key>helmetOffset</key>
												<string>{1.00,-16.50}</string>
												<key>leftArmOffset</key>
												<string>{1.50,2.00}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>bunnyCatmanLeg.png</string>
													<key>offset</key>
													<string>{0.00,0.00}</string>
												</dict>
												<key>name</key>
												<string>Bunny Catman</string>
												<key>onlineHammer</key>
												<string>bunnyCatmanHammer.png</string>
												<key>onlineHelmet</key>
												<string>bunnyCatmanHat.png</string>
												<key>onlineLeftArm</key>
												<string>bunnyCatmanLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>bunnyCatmanRightArm.png</string>
												<key>race</key>
												<string>Super Hero</string>
												<key>rightArmOffset</key>
												<string>{2.50,3.00}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>800</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Bunny Catman</string>
												<key>infoText</key>
												<string>&amp;YCatMan decided to try on a new &amp;Gcostume for Easter.. now all he does it &amp;Pjump &amp;Paround!</string>
												<key>qualityMax</key>
												<integer>320</integer>
												<key>qualityMin</key>
												<integer>160</integer>
												<key>speedMax</key>
												<integer>320</integer>
												<key>speedMin</key>
												<integer>160</integer>
												<key>staminaMax</key>
												<integer>1400</integer>
												<key>staminaMin</key>
												<integer>800</integer>
												<key>wpMax</key>
												<integer>1500</integer>
												<key>wpMin</key>
												<integer>950</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterLateWorker3</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>bunnyTylerCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>480</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Bunny</string>
											<key>curStamina</key>
											<integer>1600</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>name</key>
											<string>Bunny Tyler</string>
											<key>race</key>
											<string>female</string>
											<key>rarity</key>
											<string>3</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>bunnyTylerBody.png</string>
													<key>offset</key>
													<string>{-7.00,2.00}</string>
												</dict>
												<key>hammerOffset</key>
												<string>{16.50,-2.50}</string>
												<key>helmetOffset</key>
												<string>{-2.00,-18.00}</string>
												<key>leftArmOffset</key>
												<string>{-1.50,3.00}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>bunnyTylerLeg.png</string>
													<key>offset</key>
													<string>{0.00,0.00}</string>
												</dict>
												<key>name</key>
												<string>Bunny Tyler</string>
												<key>onlineHammer</key>
												<string>bunnyTylerHammer.png</string>
												<key>onlineHelmet</key>
												<string>bunnyTylerHat.png</string>
												<key>onlineLeftArm</key>
												<string>bunnyTylerLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>bunnyTylerRightArm.png</string>
												<key>race</key>
												<string>Bunny</string>
												<key>rightArmOffset</key>
												<string>{-1.00,3.00}</string>
												<key>sex</key>
												<string>female</string>
											</dict>
											<key>stamina</key>
											<integer>1600</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Bunny Tyler</string>
												<key>infoText</key>
												<string>Bunny Tyler used to be a &amp;Ysinger, until she decided to start doing business with a guy called &amp;RClyde. Bad idea!</string>
												<key>qualityMax</key>
												<integer>490</integer>
												<key>qualityMin</key>
												<integer>210</integer>
												<key>speedMax</key>
												<integer>480</integer>
												<key>speedMin</key>
												<integer>320</integer>
												<key>staminaMax</key>
												<integer>2100</integer>
												<key>staminaMin</key>
												<integer>1600</integer>
												<key>wpMax</key>
												<integer>2100</integer>
												<key>wpMin</key>
												<integer>1600</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterLateWorker5</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>goldenEggzorCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer5</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>4000</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Egg</string>
											<key>curStamina</key>
											<integer>2100</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>name</key>
											<string>Golden Eggzor</string>
											<key>race</key>
											<string>male</string>
											<key>rarity</key>
											<string>5</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>goldenEggzorBody.png</string>
													<key>offset</key>
													<string>{-4,1.50}</string>
												</dict>
												<key>hammerOffset</key>
												<string>{23.00,-6.00}</string>
												<key>helmetOffset</key>
												<string>{0,-2}</string>
												<key>leftArmOffset</key>
												<string>{-5,8}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>goldenEggzorLeg.png</string>
													<key>offset</key>
													<string>{0.00,0.00}</string>
												</dict>
												<key>name</key>
												<string>Golden Eggzor</string>
												<key>onlineHammer</key>
												<string>goldenEggzorHammer.png</string>
												<key>onlineHelmet</key>
												<string>goldenEggzorHat.png</string>
												<key>onlineLeftArm</key>
												<string>goldenEggzorLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>goldenEggzorRightArm.png</string>
												<key>race</key>
												<string>Egg</string>
												<key>rightArmOffset</key>
												<string>{8,9}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>2100</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Golden Eggzor</string>
												<key>infoText</key>
												<string>Some say this divine living egg was laid by a &amp;Ymagical &amp;Ygoose.</string>
												<key>qualityMax</key>
												<integer>600</integer>
												<key>qualityMin</key>
												<integer>410</integer>
												<key>speedMax</key>
												<integer>1500</integer>
												<key>speedMin</key>
												<integer>700</integer>
												<key>staminaMax</key>
												<integer>5000</integer>
												<key>staminaMin</key>
												<integer>2100</integer>
												<key>wpMax</key>
												<integer>4500</integer>
												<key>wpMin</key>
												<integer>2500</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>75</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterLateCapturePack3</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Capture Pack</string>
								<key>Gfx</key>
								<string>specialOffer3Balls.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>relicPool</key>
										<array>
											<dict>
												<key>itemName</key>
												<string>Mystery Ball</string>
												<key>effectString</key>
												<string>Permanent worker capture &amp;P(LOW)</string>
												<key>itemSprite</key>
												<string>relicMysteryBallPurple.png</string>
												<key>scale</key>
												<real>0.5</real>
												<key>trailColor</key>
												<string>200,0,200,255</string>
												<key>displayConsequence</key>
												<true/>
												<key>consequence</key>
												<dict>
													<key>battleConsequence</key>
													<dict>
														<key>specialTrigger</key>
														<string>captureEnemy</string>
														<key>value</key>
														<integer>1</integer>
														<key>permanent</key>
														<true/>
													</dict>
												</dict>
											</dict>
											<dict>
												<key>itemName</key>
												<string>Mystery Ball</string>
												<key>effectString</key>
												<string>Permanent worker capture &amp;P(LOW)</string>
												<key>itemSprite</key>
												<string>relicMysteryBallPurple.png</string>
												<key>scale</key>
												<real>0.5</real>
												<key>trailColor</key>
												<string>200,0,200,255</string>
												<key>displayConsequence</key>
												<true/>
												<key>consequence</key>
												<dict>
													<key>battleConsequence</key>
													<dict>
														<key>specialTrigger</key>
														<string>captureEnemy</string>
														<key>value</key>
														<integer>1</integer>
														<key>permanent</key>
														<true/>
													</dict>
												</dict>
											</dict>
											<dict>
												<key>itemName</key>
												<string>Hypno Ball</string>
												<key>effectString</key>
												<string>Permanent worker capture &amp;O(MED)</string>
												<key>itemSprite</key>
												<string>relicMysteryBallDouble.png</string>
												<key>scale</key>
												<real>0.5</real>
												<key>trailColor</key>
												<string>200,200,0,255</string>
												<key>displayConsequence</key>
												<true/>
												<key>consequence</key>
												<dict>
													<key>battleConsequence</key>
													<dict>
														<key>specialTrigger</key>
														<string>captureEnemy</string>
														<key>value</key>
														<integer>2</integer>
														<key>permanent</key>
														<true/>
													</dict>
												</dict>
											</dict>
											<dict>
												<key>itemName</key>
												<string>Hypno Ball</string>
												<key>effectString</key>
												<string>Permanent worker capture &amp;O(MED)</string>
												<key>itemSprite</key>
												<string>relicMysteryBallDouble.png</string>
												<key>scale</key>
												<real>0.5</real>
												<key>trailColor</key>
												<string>200,200,0,255</string>
												<key>displayConsequence</key>
												<true/>
												<key>consequence</key>
												<dict>
													<key>battleConsequence</key>
													<dict>
														<key>specialTrigger</key>
														<string>captureEnemy</string>
														<key>value</key>
														<integer>2</integer>
														<key>permanent</key>
														<true/>
													</dict>
												</dict>
											</dict>
											<dict>
												<key>itemName</key>
												<string>Golden Ball</string>
												<key>effectString</key>
												<string>Permanent worker capture &amp;Y(HIGH)</string>
												<key>itemSprite</key>
												<string>relicMysteryBallGold.png</string>
												<key>scale</key>
												<real>0.5</real>
												<key>trailColor</key>
												<string>200,200,0,255</string>
												<key>displayConsequence</key>
												<true/>
												<key>consequence</key>
												<dict>
													<key>battleConsequence</key>
													<dict>
														<key>specialTrigger</key>
														<string>captureEnemy</string>
														<key>value</key>
														<integer>3</integer>
														<key>permanent</key>
														<true/>
													</dict>
												</dict>
											</dict>
											<dict>
												<key>itemName</key>
												<string>Golden Ball</string>
												<key>effectString</key>
												<string>Permanent worker capture &amp;Y(HIGH)</string>
												<key>itemSprite</key>
												<string>relicMysteryBallGold.png</string>
												<key>scale</key>
												<real>0.5</real>
												<key>trailColor</key>
												<string>200,200,0,255</string>
												<key>displayConsequence</key>
												<true/>
												<key>consequence</key>
												<dict>
													<key>battleConsequence</key>
													<dict>
														<key>specialTrigger</key>
														<string>captureEnemy</string>
														<key>value</key>
														<integer>3</integer>
														<key>permanent</key>
														<true/>
													</dict>
												</dict>
											</dict>
										</array>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterLateCash4</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>800 Cash</string>
								<key>Gfx</key>
								<string>pyramidOfCash.png</string>
								<key>product</key>
								<string>mobageSpecialOffer4</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>800</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>speOfferEasterLateCash5</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>2100 Cash</string>
								<key>Gfx</key>
								<string>throneOfCash.png</string>
								<key>product</key>
								<string>mobageSpecialOffer5</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>2100</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>PAQUES_OFFER_LATE.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,153}</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
