<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themeOfferPatriotCar</key>
	<dict>
		<key>name</key>
		<string>OFFER</string>
		<key>mustBeGroups</key>
		<string>minLevel5</string>
		<key>version</key>
		<integer>2</integer>
		<key>startDate</key>
		<string>2017-07-04 10:00</string>
		<key>lengthInHours</key>
		<integer>96</integer>
		<key>isActive</key>
		<true/>
		<key>forceOpen</key>
		<true/>
		<key>sprite</key>
		<array>
			<string>IndependenceDayOffer.png</string>
		</array>
		<key>body</key>
		<array>
			<dict>
				<key>dynamicZone</key>
				<string>event:self:offer</string>
			</dict>
			<dict>
				<key>timerText</key>
				<string>Time Left : &amp;W</string>
				<key>line</key>
				<real>0.9</real>
				<key>fontSize</key>
				<integer>12</integer>
				<key>alignment</key>
				<string>center</string>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>bgColor</key>
				<string>0,0,0,255</string>
			</dict>
		</array>
		<key>offer</key>
		<array>
			<dict>
				<key>height</key>
				<integer>75</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>specialOfferPatriotWorker2</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>masterChefCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>319</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>War Cook</string>
											<key>curStamina</key>
											<integer>500</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>localizedName</key>
											<string>lbl_monster_data_monster_masta_chief</string>
											<key>localizedWorkerModel</key>
											<string>lbl_monster_data_model_war_cook</string>
											<key>name</key>
											<string>Masta Chef</string>
											<key>rarity</key>
											<string>2</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>masterChefUpperBody.png</string>
													<key>offset</key>
													<string>{0,1}</string>
												</dict>
												<key>helmetOffset</key>
												<string>{-2,2}</string>
												<key>leftArmOffset</key>
												<string>{0,0}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>masterChefLeg.png</string>
													<key>offset</key>
													<string>{0,0}</string>
													<key>partSelected</key>
													<integer>2</integer>
												</dict>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_masta_chief</string>
												<key>name</key>
												<string>Masta Chef</string>
												<key>onlineHammer</key>
												<string>masterChefHammer.png</string>
												<key>onlineHelmet</key>
												<string>masterChefHat.png</string>
												<key>onlineLeftArm</key>
												<string>masterChefLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>masterChefRightArm.png</string>
												<key>race</key>
												<string>War Cook</string>
												<key>rightArmOffset</key>
												<string>{0,1}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>500</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Masta Chef</string>
												<key>infoText</key>
												<string>Masta Chef never travel to a &amp;Bplanet at war without bringing back &amp;Olocal &amp;Ospecialities.</string>
												<key>localizedInfoText</key>
												<string>lbl_monster_data_monster_masta_chief_info</string>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_masta_chief</string>
												<key>qualityMax</key>
												<integer>210</integer>
												<key>qualityMin</key>
												<integer>160</integer>
												<key>speedMax</key>
												<integer>1100</integer>
												<key>speedMin</key>
												<integer>600</integer>
												<key>staminaMax</key>
												<integer>1000</integer>
												<key>staminaMin</key>
												<integer>500</integer>
												<key>strong</key>
												<array>
													<string>75:2.5f:3:3:3.5f</string>
													<string>88:3:2.5f:3.5f:3</string>
													<string>138:3:2.5f:3.5f:3</string>
													<string>142:2:2.5f:1.5f:2</string>
													<string>chest:2:1.5f:2:2.5f</string>
												</array>
												<key>wpMax</key>
												<integer>1300</integer>
												<key>wpMin</key>
												<integer>650</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>specialOfferPatriotWorker4</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>captainMarmotCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer4</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>3809</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Protectorodent</string>
											<key>curStamina</key>
											<integer>3000</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>localizedName</key>
											<string>lbl_monster_data_monster_capt_marmot</string>
											<key>localizedWorkerModel</key>
											<string>lbl_monster_data_model_protectorodent</string>
											<key>name</key>
											<string>Capt. Marmot</string>
											<key>rarity</key>
											<string>4</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>captainMarmotUpperBody.png</string>
													<key>offset</key>
													<string>{-1,0}</string>
												</dict>
												<key>helmetOffset</key>
												<string>{-9.5f,-23.5f}</string>
												<key>leftArmOffset</key>
												<string>{-1,7}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>captainMarmotLeg.png</string>
													<key>offset</key>
													<string>{0,0}</string>
													<key>partSelected</key>
													<integer>2</integer>
												</dict>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_capt_marmot</string>
												<key>localizedWorkerModel</key>
												<string>lbl_monster_data_model_protectorodent</string>
												<key>name</key>
												<string>Capt. Marmot</string>
												<key>onlineHammer</key>
												<string>captainMarmotHammer.png</string>
												<key>onlineHelmet</key>
												<string>captainMarmotHat.png</string>
												<key>onlineLeftArm</key>
												<string>captainMarmotLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>captainMarmotRightArm.png</string>
												<key>race</key>
												<string>Protectorodent</string>
												<key>rightArmOffset</key>
												<string>{0,7}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>3000</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Capt. Marmot</string>
												<key>infoText</key>
												<string>Each year, during the dreaded &amp;YGroundhog &amp;YDay, &amp;RCapt. &amp;RMarmot fiercely defends his kind’s burrows from human intruders.</string>
												<key>localizedInfoText</key>
												<string>lbl_monster_data_monster_capt_marmot_info</string>
												<key>localizedName</key>
												<string>lbl_monster_data_monster_capt_marmot</string>
												<key>qualityMax</key>
												<integer>500</integer>
												<key>qualityMin</key>
												<integer>305</integer>
												<key>speedMax</key>
												<integer>1200</integer>
												<key>speedMin</key>
												<integer>800</integer>
												<key>staminaMax</key>
												<integer>5000</integer>
												<key>staminaMin</key>
												<integer>3000</integer>
												<key>strong</key>
												<array>
													<string>94:3:3:3:4</string>
													<string>220:3:3:3:4</string>
													<string>231:3:3:3:4</string>
													<string>233:3:3:3:4</string>
												</array>
												<key>wpMax</key>
												<integer>5000</integer>
												<key>wpMin</key>
												<integer>4000</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>specialOfferPatriotWorker5</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Worker</string>
								<key>Gfx</key>
								<string>uncleSamCard.png</string>
								<key>product</key>
								<string>mobageSpecialOffer5</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>worker</key>
										<dict>
											<key>Price</key>
											<array>
												<dict>
													<key>PriceInCash</key>
													<integer>10970</integer>
												</dict>
											</array>
											<key>WorkerModel</key>
											<string>Patriot</string>
											<key>curStamina</key>
											<integer>4000</integer>
											<key>curXp</key>
											<integer>0</integer>
											<key>level</key>
											<integer>1</integer>
											<key>name</key>
											<string>Uncle Sam</string>
											<key>race</key>
											<string>male</string>
											<key>rarity</key>
											<string>5</string>
											<key>spriteDic</key>
											<dict>
												<key>body</key>
												<dict>
													<key>imageName</key>
													<string>uncleSamBody.png</string>
													<key>offset</key>
													<string>{-4.00,3.50}</string>
												</dict>
												<key>hammerOffset</key>
												<string>{32.00,-3.50}</string>
												<key>helmetOffset</key>
												<string>{-1.00,3.00}</string>
												<key>leftArmOffset</key>
												<string>{-2.50,4.50}</string>
												<key>legs</key>
												<dict>
													<key>imageName</key>
													<string>uncleSamLeg.png</string>
													<key>offset</key>
													<string>{0.00,0.00}</string>
												</dict>
												<key>name</key>
												<string>Uncle Sam</string>
												<key>onlineHammer</key>
												<string>uncleSamHammer.png</string>
												<key>onlineHelmet</key>
												<string>uncleSamHat.png</string>
												<key>onlineLeftArm</key>
												<string>uncleSamLeftArm.png</string>
												<key>onlineRightArm</key>
												<string>uncleSamRightArm.png</string>
												<key>race</key>
												<string>Patriot</string>
												<key>rightArmOffset</key>
												<string>{1.00,4.50}</string>
												<key>sex</key>
												<string>male</string>
											</dict>
											<key>stamina</key>
											<integer>4000</integer>
											<key>workerIndex</key>
											<integer>0</integer>
											<key>workerModelData</key>
											<dict>
												<key>Name</key>
												<string>Uncle Sam</string>
												<key>infoText</key>
												<string>I want &amp;RYOU to join my factory!</string>
												<key>qualityMax</key>
												<integer>1200</integer>
												<key>qualityMin</key>
												<integer>600</integer>
												<key>speedMax</key>
												<integer>1200</integer>
												<key>speedMin</key>
												<integer>600</integer>
												<key>staminaMax</key>
												<integer>5000</integer>
												<key>staminaMin</key>
												<integer>4000</integer>
												<key>wpMax</key>
												<integer>5000</integer>
												<key>wpMin</key>
												<integer>4000</integer>
											</dict>
											<key>workerModificator</key>
											<array/>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>75</integer>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>specialOfferPatriotCapturePack2</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Capture Pack</string>
								<key>Gfx</key>
								<string>specialOffer3Balls.png</string>
								<key>product</key>
								<string>mobageSpecialOffer2</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>relicPool</key>
										<array>
											<dict>
												<key>itemName</key>
												<string>Mystery Ball</string>
												<key>effectString</key>
												<string>Permanent worker capture &amp;P(LOW)</string>
												<key>itemSprite</key>
												<string>relicMysteryBallPurple.png</string>
												<key>scale</key>
												<real>0.5</real>
												<key>trailColor</key>
												<string>200,0,200,255</string>
												<key>displayConsequence</key>
												<true/>
												<key>consequence</key>
												<dict>
													<key>battleConsequence</key>
													<dict>
														<key>specialTrigger</key>
														<string>captureEnemy</string>
														<key>value</key>
														<integer>1</integer>
														<key>permanent</key>
														<true/>
													</dict>
												</dict>
											</dict>
											<dict>
												<key>itemName</key>
												<string>Hypno Ball</string>
												<key>effectString</key>
												<string>Permanent worker capture &amp;O(MED)</string>
												<key>itemSprite</key>
												<string>relicMysteryBallDouble.png</string>
												<key>scale</key>
												<real>0.5</real>
												<key>trailColor</key>
												<string>200,200,0,255</string>
												<key>displayConsequence</key>
												<true/>
												<key>consequence</key>
												<dict>
													<key>battleConsequence</key>
													<dict>
														<key>specialTrigger</key>
														<string>captureEnemy</string>
														<key>value</key>
														<integer>2</integer>
														<key>permanent</key>
														<true/>
													</dict>
												</dict>
											</dict>
											<dict>
												<key>itemName</key>
												<string>Golden Ball</string>
												<key>effectString</key>
												<string>Permanent worker capture &amp;Y(HIGH)</string>
												<key>itemSprite</key>
												<string>relicMysteryBallGold.png</string>
												<key>scale</key>
												<real>0.5</real>
												<key>trailColor</key>
												<string>200,200,0,255</string>
												<key>displayConsequence</key>
												<true/>
												<key>consequence</key>
												<dict>
													<key>battleConsequence</key>
													<dict>
														<key>specialTrigger</key>
														<string>captureEnemy</string>
														<key>value</key>
														<integer>3</integer>
														<key>permanent</key>
														<true/>
													</dict>
												</dict>
											</dict>
										</array>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>specialOfferPatriotMystery1</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>15 Cards</string>
								<key>Gfx</key>
								<string>specialOfferMysteryCards.png</string>
								<key>product</key>
								<string>mobageSpecialOffer1</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>mysteryCard</key>
										<integer>15</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>specialOfferPatriotCash3</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>300 Cash</string>
								<key>Gfx</key>
								<string>pyramidOfCash.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>ressources</key>
									<dict>
										<key>cash</key>
										<integer>300</integer>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>IndependenceDayOffer.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,153}</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
