<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>offerGoldenCar1NewLayout</key>
	<dict>
		<key>mustBeGroups</key>
		<string>minLevel8</string>
		<key>name</key>
		<string>Offer</string>
		<key>isActive</key>
		<true/>
		<key>version</key>
		<integer>1</integer>
		<key>startDate</key>
		<string>2017-05-08 14:00</string>
		<key>lengthInHours</key>
		<integer>72</integer>
		<key>sprite</key>
		<array>
			<string>chestGold.png</string>
			<string>goldCarOfferBG.png</string>
			<string>goldCarOfferBanner2.png</string>
			<string>VipNewTab.png</string>
			<string>Vip10Tab.png</string>
			<string>Vip30Tab.png</string>
			<string>Vip100Tab.png</string>
			<string>Vip150Tab.png</string>
			<string>VipBar10_empty.png</string>
			<string>VipBar10_full.png</string>
			<string>VipBar30_empty.png</string>
			<string>VipBar30_full.png</string>
			<string>VipBar100_empty.png</string>
			<string>VipBar100_full.png</string>
			<string>VipBar150_empty.png</string>
			<string>VipBar150_full.png</string>
			<string>eventCommonCar92.png</string>
			<string>eventCommonCar102.png</string>
			<string>eventCommonCar103.png</string>
			<string>eventCommonCar104.png</string>
			<string>eventCommonCar159.png</string>
		</array>
		<key>body</key>
		<array>
			<dict>
				<key>dynamicZone</key>
				<string>event:self:offerGoldenCarNoVip</string>
			</dict>
			<dict>
				<key>dynamicZone</key>
				<string>event:self:offerCars</string>
			</dict>
		</array>
		<key>offerGoldenCarNoVip</key>
		<array>
			<dict>
				<key>height</key>
				<integer>147</integer>
				<key>bgColor</key>
				<string>255,255,255,255</string>
				<key>buttonPool</key>
				<array>
					<dict/>
					<dict/>
					<dict>
						<key>buttonAction</key>
						<string>clickCard</string>
						<key>cardType</key>
						<string>specialOffer</string>
						<key>specialOffer</key>
						<dict>
							<key>id</key>
							<string>specialGoldenCarOfferBundle3NoVip</string>
							<key>offerData</key>
							<dict>
								<key>name</key>
								<string>Bundle</string>
								<key>Gfx</key>
								<string>chestGold.png</string>
								<key>product</key>
								<string>mobageSpecialOffer3</string>
								<key>consequence</key>
								<dict>
									<key>consequenceType</key>
									<string>positive</string>
									<key>ressources</key>
									<dict>
										<key>donuts</key>
										<integer>150</integer>
										<key>mysteryCard</key>
										<integer>10</integer>
										<key>skill</key>
										<integer>4</integer>
										<key>cash</key>
										<integer>155</integer>
										<key>mysteryCardByData</key>
										<dict>
											<key>nbOfItems</key>
											<integer>1</integer>
											<key>cardLoot</key>
											<array>
												<dict>
													<key>weight</key>
													<string>1</string>
													<key>ModelType</key>
													<string>applyConsequence</string>
													<key>consequence</key>
													<dict>
														<key>ressources</key>
														<dict>
															<key>carToUnlock</key>
															<integer>92</integer>
														</dict>
													</dict>
													<key>Value</key>
													<integer>1</integer>
													<key>rarity</key>
													<string>LEGEND</string>
													<key>gfx</key>
													<string>mysteryCardGold</string>
													<key>revealGfx</key>
													<string>eventCommonCar92.png</string>
													<key>line1</key>
													<string>Golden</string>
													<key>line2</key>
													<string>Monster</string>
													<key>stars</key>
													<string>5</string>
												</dict>
												<dict>
													<key>weight</key>
													<string>1</string>
													<key>ModelType</key>
													<string>applyConsequence</string>
													<key>consequence</key>
													<dict>
														<key>ressources</key>
														<dict>
															<key>carToUnlock</key>
															<integer>102</integer>
														</dict>
													</dict>
													<key>Value</key>
													<integer>1</integer>
													<key>rarity</key>
													<string>LEGEND</string>
													<key>gfx</key>
													<string>mysteryCardGold</string>
													<key>revealGfx</key>
													<string>eventCommonCar102.png</string>
													<key>line1</key>
													<string>Golden</string>
													<key>line2</key>
													<string>Bendy</string>
													<key>stars</key>
													<string>5</string>
												</dict>
												<dict>
													<key>weight</key>
													<string>1</string>
													<key>ModelType</key>
													<string>applyConsequence</string>
													<key>consequence</key>
													<dict>
														<key>ressources</key>
														<dict>
															<key>carToUnlock</key>
															<integer>103</integer>
														</dict>
													</dict>
													<key>Value</key>
													<integer>1</integer>
													<key>rarity</key>
													<string>LEGEND</string>
													<key>gfx</key>
													<string>mysteryCardGold</string>
													<key>revealGfx</key>
													<string>eventCommonCar103.png</string>
													<key>line1</key>
													<string>Golden</string>
													<key>line2</key>
													<string>Magnolia</string>
													<key>stars</key>
													<string>5</string>
												</dict>
												<dict>
													<key>weight</key>
													<string>1</string>
													<key>ModelType</key>
													<string>applyConsequence</string>
													<key>consequence</key>
													<dict>
														<key>ressources</key>
														<dict>
															<key>carToUnlock</key>
															<integer>104</integer>
														</dict>
													</dict>
													<key>Value</key>
													<integer>1</integer>
													<key>rarity</key>
													<string>LEGEND</string>
													<key>gfx</key>
													<string>mysteryCardGold</string>
													<key>revealGfx</key>
													<string>eventCommonCar104.png</string>
													<key>line1</key>
													<string>Louis</string>
													<key>line2</key>
													<string>XIV</string>
													<key>stars</key>
													<string>5</string>
												</dict>
												<dict>
													<key>weight</key>
													<string>1</string>
													<key>ModelType</key>
													<string>applyConsequence</string>
													<key>consequence</key>
													<dict>
														<key>ressources</key>
														<dict>
															<key>carToUnlock</key>
															<integer>159</integer>
														</dict>
													</dict>
													<key>Value</key>
													<integer>1</integer>
													<key>rarity</key>
													<string>LEGEND</string>
													<key>gfx</key>
													<string>mysteryCardGold</string>
													<key>revealGfx</key>
													<string>eventCommonCar159.png</string>
													<key>line1</key>
													<string>Golden</string>
													<key>line2</key>
													<string>Muscle</string>
													<key>stars</key>
													<string>5</string>
												</dict>
											</array>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>0</integer>
				<key>bgColor</key>
				<string>13,39,92,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>imageName</key>
						<string>GOLDEN_OFFER_TEST_05.png</string>
						<key>buttonScale</key>
						<integer>1</integer>
						<key>buttonOffset</key>
						<string>{0,147}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>line</key>
				<integer>0</integer>
				<key>timerText</key>
				<string>&amp;W</string>
				<key>fontSize</key>
				<integer>11</integer>
				<key>bgColor</key>
				<string>17,30,62,255</string>
				<key>textColor</key>
				<string>216,10,255,255</string>
				<key>shadowColor</key>
				<string>0,96,255,255</string>
				<key>alignment</key>
				<string>center</string>
				<key>offSet</key>
				<string>{110,28}</string>
			</dict>
		</array>
		<key>offerCars</key>
		<array>
			<dict>
				<key>text</key>
				<string>GOLDEN COLLECTION</string>
				<key>alignment</key>
				<string>center</string>
				<key>line</key>
				<real>0.8</real>
				<key>fontSize</key>
				<integer>14</integer>
				<key>textColor</key>
				<string>255,255,255,255</string>
				<key>shadowColor</key>
				<string>0,0,0,75</string>
				<key>gradientStartColor</key>
				<string>255,129,0,255</string>
				<key>gradientEndColor</key>
				<string>222,78,0,255</string>
			</dict>
			<dict>
				<key>text</key>
				<string>&amp;YUnlock &amp;Ythem &amp;Yall through this &amp;Obundle!</string>
				<key>alignment</key>
				<string>center</string>
				<key>line</key>
				<integer>2</integer>
				<key>fontSize</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>height</key>
				<integer>25</integer>
				<key>bgColor</key>
				<string>15,51,76,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>collectionSprite</key>
						<integer>92</integer>
						<key>buttonScale</key>
						<real>0.6</real>
						<key>buttonAction</key>
						<string>viewCarDetails</string>
					</dict>
					<dict>
						<key>collectionSprite</key>
						<integer>102</integer>
						<key>buttonScale</key>
						<real>0.6</real>
						<key>buttonAction</key>
						<string>viewCarDetails</string>
					</dict>
					<dict>
						<key>collectionSprite</key>
						<integer>103</integer>
						<key>buttonScale</key>
						<real>0.6</real>
						<key>buttonAction</key>
						<string>viewCarDetails</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>height</key>
				<integer>25</integer>
				<key>bgColor</key>
				<string>15,51,76,255</string>
				<key>buttonPool</key>
				<array>
					<dict>
						<key>collectionSprite</key>
						<integer>104</integer>
						<key>buttonScale</key>
						<real>0.6</real>
						<key>buttonAction</key>
						<string>viewCarDetails</string>
					</dict>
					<dict>
						<key>collectionSprite</key>
						<integer>159</integer>
						<key>buttonScale</key>
						<real>0.6</real>
						<key>buttonAction</key>
						<string>viewCarDetails</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
